$color_alto: #dbdbdb;
$color_mercury: #e5e5e5;
$color_black_14: rgba(0, 0, 0, 0.14);
$color_black_12: rgba(0, 0, 0, 0.12);
$color_black_20: rgba(0, 0, 0, 0.2);
$color_black_084: rgba(0, 0, 0, 0.084);
$color_black_098: rgba(0, 0, 0, 0.098);
$color_black_haze_approx: #f6f6f6;
$color_angular: #E15258;
$color_ionic: #3079AB;
$color_material: #E59A13;
$color_ios: #45AFA8;
$color_facebook: #3c5c99;
$color_google_plus: #d73d32;
$color_instagram: #517fa4;
$color_foursquare: #f94777;
$color_dropbox: #017ee6;
$color_wordoress: #0087BE;
$color_romance_approx: #fefefe;
$color_alabaster: #fafafa;
$color_gondola_40_approx: rgba(34, 25, 25, 0.4);
$color_celeste_approx: #ccc;
$color_mine_shaft_approx: #333;
$color_carnation_approx: #ff5252;
$color_chenin_approx: #e3cf7a;
$color_red_orange_approx: #f44336;
$color_border_under_line: rgba(0, 0, 0, 0.12);
$color_md_tabs_border: #E1E1E1;
$color_md-whiteframe: #fff;
$color_border_menu_dashboard: rgba(225, 225, 225, 0.69);
$color_news_header: #2882D8;

$color_medium_gray: #b1b1b1;

$color_gray: #454545;

$font_roboto_draft: RobotoDraft;
$font_roboto: Roboto;
$font_helvetica_neue: Helvetica Neue;
$font_sans-serif: sans-serif;
$font_arial: Arial;

$color_hasanah: #f96d3c;
$color_green_hasanah: #29a94a;
$color_danger: #dd4b39;

$color_border: #d8d8d8;
$color_title: #3b3b3b;
$color_description: #6e6b6b;
$color_sand: #F4F4F4;

$color_yellow: #fe9529;
$color_blue: #32bfdd;
$color_green: #0d728d;
$color_red: #e94f3f;

.fade-in {
	display: none;
}

#logo-header {
	position: absolute;
	z-index: 9999;
	top: 10px;
	left: 140px;

	img {
		width: 74px;
	}
}

// .bar.bar-stable {
// 	// background: linear-gradient(to bottom, #f96d3c, #f25822);
// 	background: linear-gradient(to bottom, $color_green_hasanah, #3eb15c);
// 	// background: $color_hasanah;
// 	height: 56px;
// 	padding-top: 5px;
// }

.bar.bar-stable .title {
	color: white;
}

.bar-stable .button.button-clear {
	color: white;
}

.bar.bar-stable .title {
	padding-top: 32px;
	text-align: center;
	height: 68px;
	font-size: 14px;
	right: 0;
	background: url(../img/logo.svg) no-repeat;
	background-position: 50% 25%; 
	background-size: 70px;
}

.bar-stable #side-title {
	text-align: center;
}

.bar .buttons-left span {
	margin-top: 8px;
}

.bar.bar-stable {
	background: url(../img/header.png) no-repeat;
	background-size: cover;
	background-repeat: repeat;
    background-position: center center;
	height: 68px;
}

.loading-progress {
	top: 50%;
	position: fixed;
	left: 44%;
}

.progress-circular.spinner.spinner-android svg {
	width: 52px;
	height: 52px;
}

.spinner-android {
	stroke: $color_hasanah;
}

.has-header {
	top: 68px;
}

.pin {
	display: inline-block;
	background: $color_romance_approx;
	border: 0 solid $color_alabaster;
	box-shadow: 0 1px 1px $color_gondola_40_approx;
	margin: 2px 0px 12px 0px;
	border-radius: 4px;
	column-break-inside: avoid;
	padding: 0;
	padding-bottom: 5px;
	opacity: 1;
	transition: all .2s ease;
	position: relative;
}

.thumb {
	display: inline-block;
	background: $color_romance_approx;
	border: 0 solid $color_alabaster;
	box-shadow: 0 1px 1px $color_gondola_40_approx;
	margin: 2px 0px 12px 0px;
	border-radius: 4px;
	column-break-inside: avoid;
	padding: 0;
	padding-bottom: 5px;
	opacity: 1;
	transition: all .2s ease;

	img {
		width: 100%;
		border-bottom: 1px solid $color_celeste_approx;
		margin-bottom: 0;
		border-radius: 4px 4px 0 0;
	}

	div {
		margin: 0 10px 2px;
	}

	div .thumb-footer {
		font-size: 18px;
		font-weight: 500;

		&.text-right {
			float: right;
			background-color: $color_carnation_approx;
			border-radius: 80px;
			color: white;
			font-weight: 500;
			font-size: 11px;
			width: 40px;
			text-align: center;
		}
	}

	div .thumb-desc {
		font-size: 12px;
		color: $color_gray;
	}
}

.yellow {
	background: $color_yellow;
}

.blue {
	background: $color_blue;
}

.green {
	background: $color_green;
}

.red {
	background: $color_red;
}

.popup-buttons .button-positive {
	background: $color_hasanah;
}

.button.button-positive.activated {
	background: $color_yellow;
	border-color: $color_red;
}

.bar .buttons-right span {
	margin-top: 10px;
}

// ==datepicker
.ionic_datepicker_popup .popup-body .selected_date_full {
	background-color: $color_hasanah !important;
}

.ionic_datepicker_popup .selected_date {
	background-color: $color_hasanah !important;
}

.ionic_datepicker_popup .today {
	border: 1px solid $color_hasanah !important;
}

.ionic_datepicker_popup .popup-buttons button {
	background-color: $color_hasanah !important;
}

// ==ionic rating
ul.rating li {
	display: inline;
	border: 0px;
	background: none;
	padding: 5px 10px;
	color: $color_hasanah;
}
ul.rating li i {
	font-size: 30px;
}

.button.destructive {
	padding: 15px;
	text-align: center;
}

.info-result {
	text-align: center;
	font-size: 18px;
	color: $color_description;
	margin: 10px;
	padding-bottom: 10px;
}

// ==login
#login-content {
	background: $color_hasanah;

	#logo {
		margin-top: 150px;
		margin-bottom: 150px;
		text-align: center;
	}

	h1 {
		color: white;
	}
}

// ==home
#home-content {
	a {
		text-decoration: none;
	}

	#home-slide-box {
		// box-shadow: 0px 3px 1px -2px $color_black_14, 0px 2px 2px 0px $color_black_098, 0px 1px 5px 0px $color_black_084;
		height: 220px;

		.slider {
			height: 100%;
		}

		.slider-slide {
			padding-top: 80px;
		}

		.slider-pager {
			margin-bottom: 0px !important;
			text-align: center;
			bottom: 8px;
			// right: 10px;
		}

		.slider-pager .slider-pager-page {
			color: #67cb81;
			opacity: 1;
		}

		.slider-pager .slider-pager-page.active {
			// color: #f25822;
			color: $color_green_hasanah;
		}

		.slider-slide {
			padding-top: 0;

			img {
				width: 100%;
				height: 100%;
			}

			h3 {
				font-size: 15px;
				font-weight: bold;
				position: absolute;
				bottom: 0;
				width: 100%;
				height: 75px;
				color: white;
				margin: 0;
				padding: 15px;

				background: linear-gradient(to bottom, rgba(0, 94, 106, 0.45), #005e6a);
			}

			h5 {
				font-size: 11px;
				color: white;
				position: absolute;
				bottom: 15px;
				padding-left: 15px;
			}
		}
	}

	#quick-menu-title {
		height: 22px;
		background: #035964;
		border: solid 1px rgba(255, 255, 255, 0.13);
		color: rgba(255, 255, 255, .60);
		font-size: 12px;
		text-align: center;
	}

	#quick-menu {
		// background: linear-gradient(to bottom, #ffffff, #e8e8e8);

		.pin>img {
			// max-height: 40px;
		}
	}
	
	#home-loading-progress {
		top: 90px;
		height: 240px;
		position: relative;
	}

	.row {
		padding: 0;
	}

	.col {
		padding: 0;
	}

	.even {
		// border-right: 1px solid $color_border;
	}

	.pin {
		// box-shadow: none;
		box-shadow: 0px 3px 1px -2px $color_black_14, 0px 2px 2px 0px $color_black_098, 0px 1px 5px 0px $color_black_084;
		border-radius: 10px;
		padding: 10px 0 0 0;
		margin: 10px;
		border-bottom: 1px solid $color_border;
		width: 90%;
		height: 180px;
		text-align: center;

		h4 {
			font-weight: bold;
			font-size: 16px;
			color: $color_description;
			margin-top: 0;
			margin-bottom: 3px;
		}

		.icon {
			width: 80px;
			// margin-top: 5px;
		}

		img {
			// margin-top: 10px;
			// float: left;
			// margin-right: 15px;
			// margin-bottom: 30px;
		}

		p {
			font-size: 10px;
			color: $color_description;
			line-height: 1;
		}

		.button-more {
			margin-top: 10px;
			// border-radius: 6px 0 0 0;
			// width: 128px;
			// height: 56px;
			// color: white;
			// font-size: 12px;
			// padding-top: 7px;
			// padding-left: 12px;
			// position: absolute;
			// right: 0;
			// bottom: 0;

			// span {
			// 	display: inline;
			// }

			// img {
			// 	padding-top: 3px;
			// 	float: right;
			// }

			// background: url(../img/more.png) no-repeat;
		}
	}

	.even .pin:first-child {
		.button-more {
			// background: $color_yellow;
		}
	}

	.even .pin:nth-child(2) {
		.button-more {
			// background: $color_green;
		}
	}

	.even .pin:nth-child(3) {
		.button-more {
			// background: $color_blue;
		}
	}

	.odd .pin:first-child {
		.button-more {
			// background: $color_blue;
		}
	}

	.odd .pin:nth-child(2) {
		.button-more {
			// background: $color_red;
		}
	}

	.odd .pin:nth-child(3) {
		.button-more {
			// background: $color_yellow;
		}
	}

	.div-contact {
		padding: 15px 10px 10px;

		button {
			background: linear-gradient(to bottom, #f25922, #fe7849);
			// background: linear-gradient(to bottom, $color_hasanah, #3eb15c);
			color: rgba(255, 255, 255, 0.87);
		}
	}
}

// ==contact
#contact-wrapper {
	#branch-detail-content {
		padding: 20px 13px;

		h3 {
			font-size: 16px;
			font-weight: bold;
			color: $color_title;
		}

		.row {
			margin-top: 13px;
			white-space: normal;

			i {
				font-size: 20px;
				color: $color_description;
			}
		}

		.address, .phone {
			font-size: 13px;
			color: $color_description;
		}

		.button-map {
			width: 100px;
			position: absolute;
			bottom: 60px;
			right: 0;
			margin: 20px;
			background: linear-gradient(to bottom, #f25922, #fe7849);
			// background: linear-gradient(to bottom, $color_hasanah, #3eb15c);
			color: rgba(255, 255, 255, 0.87);
		}

		.button-call {
			width: 100px;
			position: absolute;
			bottom: 0;
			right: 0;
			margin: 20px;
			background: linear-gradient(to bottom, #f25922, #fe7849);
			// background: linear-gradient(to bottom, $color_hasanah, #3eb15c);
			color: rgba(255, 255, 255, 0.87);
		}
	}
}

// ==profile
// #profile-content {
// 	background-color: $color_black_haze_approx;

// 	#profile-slide-box {
// 		box-shadow: 0px 3px 1px -2px $color_black_14, 0px 2px 2px 0px $color_black_098, 0px 1px 5px 0px $color_black_084;
// 		height: 200px;

// 		.slider {
// 			height: 100%;
// 		}

// 		.slider-slide {
// 			padding-top: 80px;
// 			text-align: center;
// 			font-weight: 500;
// 		}

// 		.slider-pager {
// 			margin-bottom: 0px !important;
// 			text-align: left;
// 			bottom: 10px;
// 			left: 5px;

// 		}

// 		.slider-pager .slider-pager-page {
// 			color: #FFF;
// 			opacity: 1;
// 		}

// 		.slider-pager .slider-pager-page.active {
// 			color: #3BC6F3;
// 		}

// 		.slider-slide {
// 			padding-top: 0;

// 			img {
// 				width: 100%;
// 				height: 100%;
// 			}
// 		}
// 	}

// 	#profile-loading-progress {
// 		top: 75px;
// 		height: 125px;
// 		position: relative;
// 	}

// 	.tabs {
// 		top: 200px;
// 	}

// 	.tab-item {
// 		font-size: 14px;
// 		font-weight: 500;
// 		line-height: 24px;
// 		padding: 12px 14px;
// 	}	

// 	.has-tabs-top {
// 		top: 50px;
// 	}

// 	.pane {
// 		top: 200px;
// 		height: auto;
// 	}

// 	.tab-content {
// 		padding: 10px 20px 20px 20px;
// 		color: gray;
// 	}

// 	.team-item {
// 		margin-bottom: 10px;
// 		background-color: white;
// 		box-shadow: 0px 3px 1px -2px $color_black_14, 0px 2px 2px 0px $color_black_098, 0px 1px 5px 0px $color_black_084;

// 		.team-img {
// 			height: 136px;
// 			background-size: cover;
// 		}


// 		.team-content {
// 			padding: 8px 4px 5px 4px;
// 			color: gray;
// 			font-size: 14px;
// 			font-weight: 500;

// 			.left {
// 				i {
// 					font-size: 18px;
// 				}
// 			}

// 			.right {
// 				i {
// 					font-size: 18px;
// 				}
// 				text-align: right;
// 			}
// 		}
// 	}

// 	.tabs-striped .tab-item.tab-item-active, .tabs-striped .tab-item.active, .tabs-striped .tab-item.activated {
// 		border-color: $color_hasanah;
// 	}
// }

// ==product
#product-category-content, #product-content {
	background: $color_sand;

	.list {
		margin: 10px;
	}

	.item {
		padding: 20px 15px;
		margin-bottom: 15px;
		border: none;
		border: 0 solid $color_alabaster;
		box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.14);
		border-radius: 4px;
	}

	.product-thumb {
		img {
			width: 100%;
		}
	}

	.product-list-content {
		margin-left: 15px;
		padding-right: 20px 15px;

		.product-name {
			font-size: 14px;
			font-weight: bold;
			color: $color_title;
			white-space: normal; 
		}

		.product-desc {
			padding-top: 10px;
			color: $color_description;
			font-size: 12px;
			white-space: normal; 
			word-wrap: break-word;
			line-height: 1.2;
		}
	}
}

#product-detail-wrapper {
	background: $color_sand;
	padding: 15px;

	#product-detail-content {
		background: white;
		border-radius: 4px;
		padding: 15px;
		color: $color_gray;
		box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.14);
		margin-bottom: 15px;

		
		#product-detail-header {
			h3 {
				margin-top: 18px;
				margin-left: 10px;
				font-size: 14px;
				font-weight: bold;
				color: $color_title;
			}
			
			.product-detail-thumb {
				img {
					width: 100%;
				}
			}
		}

		hr {
			border: none;
			height: 1px;
			color: #e8e8e8;
			background-color: #e8e8e8;
		}

		#product-detail {
			padding-top: 10px;
			color: $color_description;
		}
	}
}

// ==branch
#branch-content, #branch-result {
	.branch-list {
		padding: 25px 13px;

		h3 {
			font-size: 16px;
			font-weight: bold;
			color: $color_title;
		}

		.row {
			margin-top: 13px;
			white-space: normal;
		}

		.address, .province, .phone {
			font-size: 13px;
			color: $color_description;
		}

		.province {
			text-transform: uppercase;
		}

		button {
			position: absolute;
			bottom: 0;
			right: 0;
			margin: 20px;
			background: linear-gradient(to bottom, #f25922, #fe7849);
			// background: linear-gradient(to bottom, $color_hasanah, #3eb15c);
			color: rgba(255, 255, 255, 0.87);
		}

		.call {
			position: absolute;
			bottom: 0;
			right: 0;
			margin: 20px;
			// background: linear-gradient(to bottom, #f25922, #fe7849);
			// background: linear-gradient(to bottom, $color_hasanah, #3eb15c);
			// color: rgba(255, 255, 255, 0.87);
		}
	}
}

#branch-detail-wrapper {
	.branch-detail-image {
		width: 100%;
		max-height: 200px;
	}

	#branch-detail-content {
		padding: 25px 13px;

		h3 {
			font-size: 16px;
			font-weight: bold;
			color: $color_title;
		}

		.row {
			margin-top: 13px;
			white-space: normal;
		}

		.address, .province, .phone {
			font-size: 13px;
			color: $color_description;
		}

		.province {
			text-transform: uppercase;
		}

		.button-map {
			width: 100px;
			position: absolute;
			bottom: 60px;
			right: 0;
			margin: 20px;
			background: linear-gradient(to bottom, #f25922, #fe7849);
			color: rgba(255, 255, 255, 0.87);
		}

		.button-call {
			width: 100px;
			position: absolute;
			bottom: 0;
			right: 0;
			margin: 20px;
			background: linear-gradient(to bottom, #f25922, #fe7849);
			color: rgba(255, 255, 255, 0.87);
		}
	}
}

#branch-search-content {
	.btn-wrapper {
		padding: 10px;
	}

	.button {
		background: $color_hasanah;
		color: white;
	}

	#branch-search-loading-progress {
		top: 45%;
	}
}

// ==merchant
#merchant-content {
	.item {
		border-color: #e8e8e8;
	}

	.col-25 img {
		margin-left: 3px;
		max-width: 50px;
	}

	.title {
		margin-top: 7px;
		font-size: 16px;
		font-weight: bold;
		color: $color_title;
	}

	.description {
		margin-top: 3px;
		font-size: 13px;
		color: $color_description;
	}

	.item-note {
		margin-top: 20px;
	}
}

#merchant-detail-wrapper {
	background: $color_sand;
	padding: 15px;

	#merchant-detail-content {
		background: white;
		border-radius: 4px;
		padding: 15px;
		color: $color_gray;
		box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.25);
		margin-bottom: 15px;
		
		#merchant-detail-header {
			h3 {
				margin-top: 18px;
				margin-left: 10px;
				font-size: 14px;
				font-weight: bold;
				color: $color_title;
			}
		}

		hr {
			border: none;
			height: 1px;
			color: #e8e8e8;
			background-color: #e8e8e8;
		}

		#merchant-detail {
			padding-top: 10px;
			color: $color_description;
		}

		.merchant-thumb img {
			max-width: 50px;
		}
	}
}

// ==umroh
// #umroh-content, #umroh-search-content {
#umroh-content {
	h3 {
		font-size: 14px;
		font-weight: bold;
		color: #434343;
	}

	.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
		background: $color_hasanah;
		border-color: $color_hasanah;
	}

	.row {
		margin-top: 10px;

		.title {
			font-size: 13px;
			color: rgba(143, 143, 143, 0.87);
		}

		.content {
			font-size: 14px;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			color: rgba(41, 41, 41, 0.87);
		}

		.separator {
			float: left;
			width: 3px;
			height: 71px;
			border-right: solid 1px #eaeaea;
			margin-right: 15px;
		}

		.price {
			font-size: 18px;
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			color: #fe9529;
		}
	}

	.btn-wrapper {
		padding: 10px;
	}

	.button {
		background: $color_hasanah;
		color: white;
	}

	.rating-wrapper {
		margin: 5px 15px 0;
	}

	#umroh-loading-progress {
		top: 95%;
	}
}

#umroh-results-content {
	h3 {
		font-size: 14px;
		font-weight: bold;
		color: #434343;
	}

	.row {
		margin-top: 10px;

		.title {
			font-size: 13px;
			color: rgba(143, 143, 143, 0.87);
		}

		.content {
			font-size: 14px;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			color: rgba(41, 41, 41, 0.87);
		}

		.separator {
			float: left;
			width: 3px;
			height: 71px;
			border-right: solid 1px #eaeaea;
			margin-right: 15px;
		}

		.price {
			font-size: 18px;
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			color: #fe9529;
		}
	}

	.btn-wrapper {
		padding: 10px;
	}

	.button {
		background: $color_hasanah;
		color: white;
	}

	.rating-wrapper {
		margin: 5px 15px 0;
	}
}

#umroh-detail-content {
	a {
		text-decoration: none;
	}
	
	#umroh-header {
		padding: 20px 10px 0 10px;
	}

	h3 {
		font-size: 14px;
		font-weight: bold;
		color: #434343;
	}

	.row {
		margin-top: 10px;

		.title {
			font-size: 13px;
			color: rgba(143, 143, 143, 0.87);
		}

		.content {
			font-size: 14px;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			color: rgba(41, 41, 41, 0.87);
		}

		.separator {
			float: left;
			width: 3px;
			height: 71px;
			border-right: solid 1px #eaeaea;
			margin-right: 15px;
		}

		.price {
			font-size: 18px;
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			color: #fe9529;
		}
	}

	hr {
		border: none;
		height: 3px;
		color: #e7e7e7;
		background-color: #e7e7e7;
	}

	#umroh-detail {
		padding: 10px 20px 10px 20px;
		font-size: 14px;
		color: #717171;
	}

	.btn-wrapper {
		padding: 10px;
	}

	.button-positive {
		background: $color_hasanah;
		color: white;
	}
}

// #umroh-search-content {
// 	.btn-wrapper {
// 		padding: 10px;
// 	}

// 	.button {
// 		background: $color_hasanah;
// 		color: white;
// 	}

// 	.rating-wrapper {
// 		margin: 5px 15px 0;
// 	}

// 	#umroh-search-loading-progress {
// 		top: 95%;
// 	}
// }

// ==property
// #property-content {
// 	.item {
// 		padding: 0;
// 	}

// 	.property-thumb	{
// 		position: relative;
// 		height: 240px;

// 		img {
// 			height: 240px;
// 		}

// 		.row {
// 			padding: 20px;
// 			position: absolute;
// 			bottom: 0;
// 			background-image: linear-gradient(to bottom, rgba(73, 73, 73, 0), rgba(0, 0, 0, 0.76));
// 		}

// 		.property-title {
// 			font-size: 14px;
// 			font-weight: 600;
// 			color: white;
// 		}

// 		.property-price {
// 			font-size: 18px;
// 			font-weight: bold;
// 			color: #32bfdd;
// 		}

// 		.property-city {
// 			font-size: 14px;
// 			font-weight: 500;
// 			color: rgba(255, 255, 255, 0.87);
// 		}
// 	}

// 	.property-footer {
// 		padding: 15px;

// 		.property-name { 
// 			font-size: 14px;
// 			font-weight: bold;
// 			color: #434343;
// 		}

// 		.property-date {
// 			font-size: 13px;
// 			font-weight: 600;
// 			color: rgba(143, 143, 143, 0.87);
// 		}
// 	}
// }

#property-content, #property-results-content {
	.btn-wrapper {
		padding: 10px;
	}

	.button {
		background: $color_hasanah;
		color: white;
	}

	#property-loading-progress {
		top: 85%;
	}

	#property-result {
		a {
			text-decoration: none;
		}

		.item {
			padding: 0;
		}

		.property-thumb	{
			position: relative;
			height: 240px;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			.row {
				padding: 20px;
				position: absolute;
				bottom: 0;
				background-image: linear-gradient(to bottom, rgba(73, 73, 73, 0), rgba(0, 0, 0, 0.76));
			}

			.property-title {
				font-size: 14px;
				font-weight: 600;
				color: white;
			}

			.property-price {
				font-size: 18px;
				font-weight: bold;
				color: #32bfdd;
			}

			.property-city {
				font-size: 14px;
				font-weight: 500;
				color: rgba(255, 255, 255, 0.87);
			}
		}

		.property-footer {
			padding: 15px;

			.property-name { 
				font-size: 14px;
				font-weight: bold;
				color: #434343;
			}

			.property-date {
				font-size: 13px;
				font-weight: 600;
				color: rgba(143, 143, 143, 0.87);
			}

			.property-address {
				font-size: 13px;
				font-weight: 600;
				color: rgba(143, 143, 143, 0.87);
				display: inline-block;
				overflow-wrap: break-word;
				word-wrap: break-word;
			}

			.property-button {
				margin-top: 20px;
			}
		}
	}
}

#property-detail-content {
	.property-thumb	{
		position: relative;
		height: 240px;

		// img {
		// 	height: 240px;
		// }

		#property-slide-box {
			// box-shadow: 0px 3px 1px -2px $color_black_14, 0px 2px 2px 0px $color_black_098, 0px 1px 5px 0px $color_black_084;
			height: 240px;

			.slider {
				height: 100%;
			}

			.slider-slide {
				padding-top: 80px;
			}

			.slider-pager {
				margin-bottom: 0px !important;
				text-align: right;
				bottom: 8px;
				right: 10px;
			}

			.slider-pager .slider-pager-page {
				color: #FFF;
				opacity: 1;
			}

			.slider-pager .slider-pager-page.active {
				color: #f25822;
			}

			.slider-slide {
				padding-top: 0;

				img {
					width: 100%;
					height: 100%;
				}
			}
		}

		.row {
			padding: 20px;
			position: absolute;
			bottom: 0;
			background-image: linear-gradient(to bottom, rgba(73, 73, 73, 0), rgba(0, 0, 0, 0.76));
		}

		.property-title {
			font-size: 14px;
			font-weight: 600;
			color: white;
		}

		.property-price {
			font-size: 18px;
			font-weight: bold;
			color: #32bfdd;
		}

		.property-city {
			font-size: 14px;
			font-weight: 500;
			color: rgba(255, 255, 255, 0.87);
		}
	}

	.property-detail {
		padding: 15px;
		color: #434343;

		a {
			text-decoration: none;
		}

		.property-name { 
			font-size: 14px;
			font-weight: bold;
			color: #434343;
		}

		.property-date {
			font-size: 13px;
			font-weight: 600;
			color: rgba(143, 143, 143, 0.87);
		}

		#property-info {
			margin-top: 20px;
		}

		.button-positive {
			background: $color_hasanah;
			color: white;
		}
	}
}

// ==calculator
#calculator-content {
	.btn-wrapper {
		padding: 10px;
		text-align: center;
		color: $color_description;
	}

	.button {
		background: $color_hasanah;
		color: white;
	}
}

// ==filing
#filing-content, #register-content {
	.btn-wrapper {
		padding: 10px;
	}

	.button {
		background: $color_hasanah;
		color: white;
	}

	.item-content {
		white-space: normal;
	}

	.info-wrapper {
		color: $color_description;
		text-align: center;
		margin-bottom: 30px;
	}

	.login-text {
		color: $color_hasanah;
		font-weight: bold;
	}
}

// ==article
#article-content {
	background: $color_sand;

	.list {
		margin: 10px;
	}

	.item {
		padding: 10px;
		border: none;
		border: 0 solid $color_alabaster;
		box-shadow: 0 1px 1px $color_gondola_40_approx;
		border-radius: 4px;
	}

	.category-thumb {
		img {
			width: 100%;
		}
	}

	.category-list-content {
		margin-left: 15px;
		padding-right: 15px;

		.category-name {
			font-size: 18px;
			font-weight: bold;
		}

		hr {
			border: none;
			height: 1px;
			color: $color_hasanah;
			background-color: $color_hasanah;
		}

		.category-desc {
			color: gray;
			font-size: 10pt;
			white-space: normal; 
			word-wrap: break-word;
			line-height: 1;
		}
	}
}

#subcategory-content {
	background: $color_sand;

	.list {
		margin: 10px;
	}

	.item {
		padding: 10px;
		border: none;
		border: 0 solid $color_alabaster;
		box-shadow: 0 1px 1px $color_gondola_40_approx;
		border-radius: 4px;
	}

	.subcategory-thumb {
		img {
			width: 100%;
		}
	}

	.subcategory-list-content {
		margin-left: 15px;
		padding-right: 15px;

		.subcategory-name {
			font-size: 18px;
			font-weight: bold;
		}

		hr {
			border: none;
			height: 1px;
			color: $color_hasanah;
			background-color: $color_hasanah;
		}

		.subcategory-desc {
			color: gray;
			font-size: 10pt;
			white-space: normal; 
			word-wrap: break-word;
			line-height: 1;
		}
	}
}

#article-list-content {
	.article-list {
		padding: 10px 10px 0 10px;
	}

	.article-thumb img{
		width: 100%;
	}

	.article-list-content {
		padding: 0 10px 10px 10px;
		white-space: normal; 
		word-wrap: break-word;

		.article-name {
			font-weight: bold;
			display: block;
			font-size: 18px;
		}

		.article-desc {
			display: block;
			font-size: 12px;
			line-height: normal;
			white-space: normal; 
			word-wrap: break-word;
		}

		.article-time {
			color: gray;
			font-size: 12px;
		}
	}
}

#article-detail-content {
	img {
		width: 100%;
		max-height: 220px;
	}
	.article-content {
		padding: 10px;
		color: $color_title;
	}
}

// ==term
#term-content {
	color: $color_title;
}

#term-detail-wrapper {
	background: $color_sand;
	padding: 15px;

	#term-detail-content {
		background: white;
		border-radius: 4px;
		padding: 15px;
		color: $color_gray;
		box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.25);
		margin-bottom: 15px;
		
		h3 {
			font-size: 18px;
			font-weight: bold;
			color: $color_title;
		}

		hr {
			border: none;
			height: 1px;
			color: #e8e8e8;
			background-color: #e8e8e8;
		}

		#term-detail {
			padding-top: 10px;
			color: $color_description;
		}
	}
}

// ==promo
// #promo-content {
// 	text-align: center;
// 	padding-top: 10px;

// 	.slider {
// 		padding-bottom: 65px;
// 	}

// 	.slider-pager .slider-pager-page {
// 		color: #f25822;
// 		opacity: .5;
// 	}

// 	.slider-pager .slider-pager-page.active {
// 		color: #f25822;
// 		opacity: 1;
// 	}

// 	.pin {
// 		width: 90%;

// 		img {
// 			width: 100%;
// 			border-bottom: 1px solid $color_celeste_approx;
// 			margin-bottom: 0;
// 			border-radius: 4px 4px 0 0;
// 		}

// 		p {
// 			font: 12px/18px $font_arial, $font_sans-serif;
// 			color: $color_mine_shaft_approx;
// 			margin: 0 10px;
// 			font-size: 11px;
// 		}
// 	}
// }

#promo-content {
	#promo-list {
		.item {
			padding: 10px;
		}

		.promo-thumb {
			position: relative;
			height: 200px;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		h3 {
			margin-top: 10px;
			color: $color_title;
		}
	}
}

#promo-detail-content {
	#promo-header {
		box-shadow: 0px 3px 1px -2px $color_black_14, 0px 2px 2px 0px $color_black_098, 0px 1px 5px 0px $color_black_084;
		height: 200px;
	}

	img {
		width: 100%;
		max-height: 200px;
		object-fit: cover;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
	}

	#promo-detail {
		padding: 20px;
		color: $color_description;
	}
}

// ==survey
#survey-content {
	color: $color_title;
}

#survey-detail-content {
	color: $color_title;

	h3 {
		padding: 10px;
		text-align: center;
		font-size: 20px;
		color: $color_title;
	}

	.rating-wrapper {
		text-align: center;
	}

	.btn-wrapper {
		padding: 10px;
	}

	.button {
		background: $color_hasanah;
		color: white;
	}
}

// ==suggestion
#suggestion-content {
	.btn-wrapper {
		padding: 10px;
	}

	.button {
		background: $color_hasanah;
		color: white;
	}
}

// ==profile
#profile-content {
	.btn-wrapper {
		padding: 10px;
	}

	.info-wrapper {
		color: $color_description;
		text-align: center;
	}

	.login-text {
		color: $color_hasanah;
		font-weight: bold;
	}
	
	.button {
		background: $color_hasanah;
		color: white;
	}
	
	.button-danger {
		background: $color_danger;
		color: white;
	}
}

// // ==network
// #network-content {
// 	.list {
// 		margin: 10px;
// 	}

// 	.item {
// 		padding: 10px;
// 		border: none;
// 		border: 0 solid $color_alabaster;
// 		box-shadow: 0 1px 1px $color_gondola_40_approx;
// 		border-radius: 4px;
// 	}

// 	.network-thumb {
// 		img {
// 			width: 100%;
// 		}
// 	}

// 	.network-list-content {
// 		margin-left: 15px;
// 		padding-right: 15px;

// 		.network-name {
// 			font-weight: bold;
// 		}

// 		hr {
// 			border: none;
// 			height: 1px;
// 			color: $color_hasanah;
// 			background-color: $color_hasanah;
// 			padding-right: 20px;
// 		}

// 		.network-desc {
// 			color: gray;
// 			font-size: 10pt;
// 			white-space: normal; 
// 			word-wrap: break-word;
// 			line-height: 1;
// 		}
// 	}
// }

// #network-detail-content {
// 	padding: 10px;
// 	color: $color_gray;
// }

// // ==calendar
// #calendar-content {
// 	padding: 5px;

// 	.fc-state-default.fc-corner-right {
// 		border-radius: 0;
// 	}

// 	.fc-state-default {
// 		background-color: $color_hasanah;
// 		color: white;
// 	}

// 	.fc-state-down, .fc-state-active {
// 		background-color: $color_blue;
// 		color: white;
// 	}

// 	.fc-state-default {
// 		background-image: none;
// 	}

// 	.fc-event {
// 		background-color: $color_hasanah;
// 		border-radius: 0;
// 	}

// 	.fc-day-header {
// 		background-color: $color_hasanah;
// 		color: white;
// 		height: 40px;
// 		padding-top: 8px;
// 	}
// }

// // ==schedule
// #schedule-content {
// 	.schedule-time {
// 		font-size: 10px;
// 	}

// 	.schedule-title {
// 		margin-top: 10px;
// 		width: 60%;
// 	}

// 	.schedule-img {
// 		height: 60px;
// 		position: absolute;
// 		top: 10px;
// 		right: 10px;
// 	}

// 	.schedule-description {
// 		padding-top: 30px;
// 		color: $color_gray;
// 	}

// 	.cd-timeline-icon {
// 		border-radius: 0;
// 		border: none;
// 		background-color: $color_hasanah;
// 		color: white;
// 		width: 100px;
// 		height: 35px;
// 	}

// 	#cd-timeline::before {
// 		left: 48px;
// 	}

// 	.cd-timeline-content {
// 		margin-left: 120px;
// 		border-color: $color_hasanah;
// 	}
// }

// // ==stream
// #stream-video-content {
// 	.list {
// 		margin: 10px;
// 	}

// 	.item {
// 		border: none;
// 		padding: 10px;
// 		border: none;
// 		border: 0 solid $color_alabaster;
// 		box-shadow: 0 1px 1px $color_gondola_40_approx;
// 		border-radius: 4px;
// 	}

// 	.stream-video-list {
// 		padding: 10px 10px 0 10px;
// 	}

// 	.stream-video-thumb img{
// 		width: 100%;
// 	}

// 	.stream-video-list-content {
// 		padding: 0 10px 10px 10px;
// 		white-space: normal; 
// 		word-wrap: break-word;

// 		.stream-video-name {
// 			font-weight: bold;
// 			display: block;
// 			font-size: 18px;
// 		}

// 		.stream-video-desc {
// 			color: gray;
// 			display: block;
// 			font-size: 12px;
// 			line-height: normal;
// 			white-space: normal; 
// 			word-wrap: break-word;
// 		}
// 	}
// }

// #stream-video-detail-content {
// 	h2 {
// 		padding: 10px;
// 	}

// 	p {
// 		padding: 10px;
// 		color: $color_gray;
// 	}
// }

// // ==gallery
// #gallery-content {
	
// }