<ion-view>
	<ion-content id="profile-content">
		<div id="profile-loading-progress" class="loading-progress fade-in">
			<ion-spinner class="progress-circular"></ion-spinner>
    </div>


	</ion-content>
</ion-view>
