<ion-view view-title="Pencarian Cabang">
    <ion-content id="branch-search-content">
		<div class="list">
			<!-- <label class="item item-input item-stacked-label">
				<span class="input-label">Lokasi</span>
				<input type="text" placeholder="Input Lokasi" ng-model="search.location">
			</label> -->

			<label class="item item-input item-select">
				<div class="input-label">
					Kota
				</div>
				
				<select ng-model="search.location" ng-options="city.value as city.label for city in cities"></select>
			</label>
		</div>

		<div class="btn-wrapper">
			<button class="button button-block" ng-click="searchBranch()">
				Cari
			</button>
		</div>

		<div id="branch-search-loading-progress" class="loading-progress fade-in">
	        <ion-spinner class="progress-circular"></ion-spinner>
	    </div>

		<ion-list id="branch-result" class="fade-in">
			<div class="info-result">
				{{ info }}
			</div>
			
			<ion-item ng-repeat="branch in results" class="branch-list" ng-click="navigateTo('app.branch-detail', branch)">
				<!-- <div class="col-20 branch-thumb">
					<img ng-src="{{ branch.img }}">
				</div>

				<div class="col-80 branch-list-content">
					<span class="branch-name">{{ branch.name }}</span>
					<div class="branch-desc">{{ branch.description }}</div>
				</div> -->

				<h3>{{ branch.name }}</h3>

				<div class="row">
					<div class="col-10">
						<img src="img/pin.svg">
					</div>

					<div class="col-90">
						<div class="address">
							{{ branch.address }}
						</div>

						<div class="province">
							{{ branch.province }}
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-10">
						<img src="img/phone.svg">
					</div>

					<div class="col-90">
						<div class="phone">
							{{ branch.phone }}
						</div>
					</div>
				</div>

				<a href="tel:{{ branch.phone }}">
					<button class="button">Hubungi</button>
				</a>
			</ion-item>
		</ion-list>
    </ion-content>
</ion-view>