<ion-view view-title="Cabang">
	<ion-nav-buttons side="primary">
		<a href="#/app/branch-search">
			<button class="button button-icon button-clear ion-android-search"></button>
		</a>
    </ion-nav-buttons>

    <ion-content id="branch-content">
		<ion-list>
			<ion-item ng-repeat="branch in branchs" class="branch-list" ng-click="navigateTo('app.branch-detail', branch)">
				<!-- <div class="col-20 branch-thumb">
					<img ng-src="{{ branch.img }}">
				</div>

				<div class="col-80 branch-list-content">
					<span class="branch-name">{{ branch.name }}</span>
					<div class="branch-desc">{{ branch.description }}</div>
				</div> -->
				
				<h3>{{ branch.name }}</h3>

				<div class="row">
					<div class="col-10">
						<img src="img/pin.svg">
					</div>

					<div class="col-90">
						<div class="address">
							{{ branch.address }}
						</div>

						<div class="province">
							{{ branch.province }}
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-10">
						<img src="img/phone.svg">
					</div>

					<div class="col-90">
						<div class="phone">
							{{ branch.phone }}
						</div>
					</div>
				</div>

				<a href="tel:{{ branch.phone }}">
					<img class="call" src="img/call.png" height="36">
					<!-- <button class="button">Hubungi</button> -->
				</a>
			</ion-item>
		</ion-list>

		<ion-infinite-scroll ng-if="!noMoreBranch" on-infinite="loadMoreBranchs()" distance="1%">
        </ion-infinite-scroll>
    </ion-content>

    <!-- <div id="branch-loading-progress" class="loading-progress">
        <ion-spinner class="progress-circular"></ion-spinner>
    </div> -->
</ion-view>