<ion-view view-title="Cabang">
	<ion-content id="branch-detail-wrapper">
		<img class="branch-detail-image" ng-src="{{ baseUrl + branch.img }}">
		
		<div id="branch-detail-content">

			<h3>{{ branch.name }}</h3>

			<div class="row">
				<div class="col-10">
					<img src="img/pin.svg">
				</div>

				<div class="col-90">
					<div class="address">
						{{ branch.address }}
					</div>

					<div class="province">
						{{ branch.province }}
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-10">
					<img src="img/phone.svg">
				</div>

				<div class="col-90">
					<div class="phone">
						{{ branch.phone }}
					</div>
				</div>
			</div>
			
			<a href="geo:0,0?q={{ branch.location }}">
				<button class="button button-map">Map</button>
			</a>

			<a href="tel:{{ branch.phone }}">
				<button class="button button-call">Hubungi</button>
			</a>
		</div>
	</ion-content>
</ion-view>