<ion-view view-title="{{ merchant.name }}">
	<ion-content id="merchant-detail-wrapper">
		<div id="merchant-detail-content">
			<div id="merchant-detail-header" class="row">
				<div class="col-20 merchant-thumb">
					<img ng-src="{{  baseUrl + merchant.img }}">
				</div>

				<div class="col-80">
					<h3>{{ merchant.name }}</h3>
				</div>
			</div>

			<div id="merchant-detail" ng-bind-html="merchant.content"></div>
		</div>
	</ion-content>
</ion-view>