<ion-view view-title="Merchants">
    <ion-content id="merchant-content" class="fade-in">
    	<ion-refresher
			pulling-text="Pull to refresh..."
			on-refresh="doRefresh()">
		</ion-refresher>
		
		<ion-list>
			<ion-item ng-repeat="merchant in merchants" class="merchant-list" ng-click="navigateTo('app.merchant-detail', merchant)">
				<div class="row">
					<div class="col-25">
						<img ng-src="{{  baseUrl + merchant.img }}">
					</div>

					<div class="col-75">
						<div class="title">
							{{ merchant.name }}
						</div>

						<div class="description">
							<!-- <div ng-bind-html="renderHtml(merchant.content | cut:true:300)"></div> -->
							<div ng-bind-html="merchant.content | cut:true:30"></div>
							<!-- {{ renderHtml(merchant.content) }} -->
						</div>
					</div>

					<span class="item-note">
						<img src="img/chevron.svg">
					</span>
				</div>
			</ion-item>
		</ion-list>
    </ion-content>

    <div id="merchant-loading-progress" class="loading-progress">
        <ion-spinner class="progress-circular"></ion-spinner>
    </div>
</ion-view>