<ion-view view-title="Kalkulator Pembiayaan">
	<ion-content id="calculator-content">
		<div class="list">
			<label class="item item-input item-select">
				<div class="input-label">
					Jenis Pembiayaan
				</div>
				
				<select ng-model="calculator.type" ng-options="type.value as type.label for type in types" ng-change="selectType(calculator.type)"></select>
			</label>
			
			<label class="item item-input item-select" ng-if="calculator.type">
				<div class="input-label">
					Jenis Pekerjaan
				</div>
				
				<select ng-model="calculator.job" ng-options="job.value as job.label for job in jobs" ng-change="selectJob(calculator.job)"></select>
			</label>

			<label class="item item-input item-select" ng-if="calculator.job">
				<div class="input-label">
					Jangka Waktu
				</div>
				
				<select ng-model="calculator.period" ng-options="period.value as period.label for period in periods" ng-change="selectPeriod(calculator.period)"></select>
			</label>

			<label class="item item-input">
				<input type="text" ng-keyup="formatCurrency()" placeholder="Nilai Objek" ng-model="calculator.amount">
			</label>
		</div>

		<div class="btn-wrapper">
			<button class="button button-block" ng-click="submitCalculator()">
				Simulasi
			</button>
		</div>

		<div id="calculator-loading-progress" class="loading-progress fade-in">
	        <ion-spinner class="progress-circular"></ion-spinner>
	    </div>

		<div id="calculator-result" class="fade-in">
		    <div class="list">
		    	<div class="item item-divider">
		    		<div class="row">
		    			<div class="col col-50">
		    				<strong>Uang Muka:</strong>		
		    			</div>

		    			<div class="col text-right">
							{{ result.dp | rupiah }}
		    			</div>
		    		</div>
				</div>

				<div class="item item-divider">
		    		<div class="row">
		    			<div class="col col-50">
		    				<strong>Pembiayaan Bank:</strong>		
		    			</div>
		    			
		    			<div class="col text-right">
							{{ result.financing_bank | rupiah }}
		    			</div>
		    		</div>
				</div>

				<div class="item item-divider">
		    		<div class="row">
		    			<div class="col col-50">
		    				<strong>Total Kewajiban:</strong>		
		    			</div>
		    			
		    			<div class="col text-right">
							{{ result.financing_total | rupiah }}
		    			</div>
		    		</div>
				</div>

				<div class="item item-divider">
		    		<div class="row">
		    			<div class="col col-50">
		    				<strong>Angsuran / Bulan:</strong>		
		    			</div>
		    			
		    			<div class="col text-right">
							{{ result.installment_payment | rupiah }}
		    			</div>
		    		</div>
				</div>

				<div class="item item-divider">
		    		<div class="row">
		    			<div class="col col-50">
		    				<strong>Min Gaji / Bulan:</strong>		
		    			</div>
		    			
		    			<div class="col text-right">
							{{ result.min_salary | rupiah }}
		    			</div>
		    		</div>
				</div>
		    </div>

		    <div class="btn-wrapper">
		    	<p>Informasi lebih lengkap hubungi kantor cabang BNI Syariah terdekat</p>
		    </div>

		    <div class="btn-wrapper">
				<button class="button button-block" ng-click="navigateTo('app.filing')">
					Ajukan Pembiayaan
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>