
<ion-view view-title="5. Payment gateway">
	
	<ion-content id="register-content">
		<form target="myIframe" action="https://pay.doku.com/Suite/Receive" method="post" id="form1" name="form1">
			<input name="MALLID" type="hidden" value="{{varpg.MALLID}}">
			<input name="BASKET" type="hidden" value="{{varpg.BASKET}}">
			<input name="CHAINMERCHANT" type="hidden" value="{{varpg.CHAINMERCHANT}}">
			<input name="AMOUNT" type="hidden" value="{{varpg.AMOUNT}}">
			<input name="PURCHASEAMOUNT" type="hidden" value="{{varpg.PURCHASEAMOUNT}}">
			<input name="TRANSIDMERCHANT" type="hidden" value="{{varpg.TRANSIDMERCHANT}}">
			<input name="WORDS" type="hidden" value="{{varpg.WORDS}}">
			<input name="CURRENCY" type="hidden" value="{{varpg.CURRENCY}}">
			<input name="PURCHASECURRENCY" type="hidden" value="{{varpg.PURCHASECURRENCY}}">
			<input name="COUNTRY" type="hidden" value="{{varpg.COUNTRY}}">
			<input name="SESSIONID" type="hidden" value="{{varpg.SESSIONID}}">
			<input name="REQUESTDATETIME" type="hidden" value="{{varpg.REQUESTDATETIME}}">
			<input name="NAME" type="hidden" value="{{varpg.NAME}}">
			<input name="EMAIL" type="hidden" value="{{varpg.EMAIL}}">
			<input name="PAYMENTCHANNEL" type="hidden" value="{{varpg.PAYMENTCHANNEL}}">
		</form>
		
		<iFrame name="myIframe" id="preview-frame" style="overflow:hidden;width:100%;" frameborder="0" noresize="noresize"></iFrame>
		
	</ion-content>
	<div class="bar bar-footer bar-balanced bg-medium-orange" ng-click="newMessage()">
		<div class="title"><i class="icon ion-home margin-right"></i>Back To Home</div>
	</div>
</ion-view>
