
<ion-view view-title="1. Pilih Jumlah Penumpang">

	<ion-content id="register-content">
      
    <div class="card">
      <div class="item item-divider">
        Jumlah Jamaah
      </div>
      <div class="item item-text-wrap no-padding">
          <!-- <ion-list>
            <ion-radio ng-model="var.jmljamaah" ng-value="1" ng-change="changeJmlJamaah()">1 Orang</ion-radio>
            <ion-radio ng-model="var.jmljamaah" ng-value="2" ng-change="changeJmlJamaah()">2 Orang</ion-radio>
            <ion-radio ng-model="var.jmljamaah" ng-value="3" ng-change="changeJmlJamaah()">3 Orang</ion-radio>
            <ion-radio ng-model="var.jmljamaah" ng-value="4" ng-change="changeJmlJamaah()">4 Orang</ion-radio>

          </ion-list> -->
          <div class="list">
                
                  <label class="item item-input item-select">
                    <div class="input-label">
                      Jumlah Jamaah
                    </div>
                    <select ng-model="var.jmljamaah" ng-change="changeJmlJamaah()">
                      <option value="1" ng-selected="var.jmljamaah == 1">1. Orang</option>
                      <option value="2" ng-selected="var.jmljamaah == 2">2. Orang</option>
                      <option value="3" ng-selected="var.jmljamaah == 3">3. Orang</option>
                      <option value="4" ng-selected="var.jmljamaah == 4">4. Orang</option>
                    </select>
                  </label>
            </div>
      </div>
    </div>

    <div class="card animate-if" ng-if="var.jmljamaah >= 1">
        <div class="item item-divider">
            Kamar
        </div>
        <div class="item item-text-wrap no-padding">
            <label class="item item-input item-select">
                <div class="input-label">
                    Kamar
                </div>
                <select ng-model="var.hargaPilihan">
                    <option ng-repeat="price in var.harga" value="{{price.price}}" ng-selected="var.hargaPilihan == price.price">{{price.price_name}}</option>
                </select>
            </label>
            <label class="item item-input text-right bold txt-medium-orange" style="font-size:1.8rem;">
                Rp. {{var.hargaPilihan | number}}
            </label>
        </div>
      </div>

      <div class="card animate-if" ng-if="var.jmljamaah >= 1">
        <div class="item item-divider">
            Cabang BNI Syariah Terdekat
        </div>
        <div class="item item-text-wrap no-padding">
            <label class="item item-input item-select">
                <div class="input-label">
                    Cabang
                </div>
                <select ng-model="var.nearest_branch">
                    <option ng-repeat="branch in branchs" value="{{branch.value}}">{{branch.label}}</option>
                </select>
            </label>
        </div>
      </div>

      <div class="card animate-if" ng-if="var.jmljamaah >= 1">
        <div class="item item-divider">
            handling(perlengkapan umroh)
        </div>
        <div class="item item-text-wrap no-padding">
            <label class="item item-input item-select">
                <div class="input-label">
                    handling
                </div>
                <select ng-model="var.order_type">
                    <option value="send">dikirim ke alamat anda</option>
                    <option value="take">saya ambil di kantor travel</option>
                </select>
            </label>
        </div>
      </div>

    <div class="card animate-if" ng-if="var.jmljamaah >= 1">
      <div class="item item-divider">
          Jamaah 1
      </div>
      <div class="item item-text-wrap no-padding">
        <div class="list">
            <a class="item item-icon-left item-icon-right" ng-click="toModal()">
                <i class="icon ion-edit"></i>
                Isi Data Jamaah
                <i class="icon ion-chevron-right"></i>
            </a>
        </div>
      </div>
    </div>
    
    <div class="card animate-if" ng-if="var.jmljamaah >= 2">
        <div class="item item-divider">
            Jamaah 2
        </div>
        <div class="item item-text-wrap no-padding">
          
          <div class="list">
              <a class="item item-icon-left item-icon-right" ng-click="toModal2()">
                  <i class="icon ion-edit"></i>
                  Isi Data Jamaah
                  <i class="icon ion-chevron-right"></i>
              </a>
          </div>
        </div>
        
      </div>

      <div class="card animate-if" ng-if="var.jmljamaah >= 3">
        <div class="item item-divider">
            Jamaah 3
        </div>
        <div class="item item-text-wrap no-padding">
          
          <div class="list">
              <a class="item item-icon-left item-icon-right" ng-click="toModal3()">
                  <i class="icon ion-edit"></i>
                  Isi Data Jamaah
                  <i class="icon ion-chevron-right"></i>
              </a>
          </div>
        </div>
        
      </div>
    
      <div class="card animate-if" ng-if="var.jmljamaah >= 4">
        <div class="item item-divider">
            Jamaah 4
        </div>
        <div class="item item-text-wrap no-padding">
          
          <div class="list">
              <a class="item item-icon-left item-icon-right" ng-click="toModal4()">
                  <i class="icon ion-edit"></i>
                  Isi Data Jamaah
                  <i class="icon ion-chevron-right"></i>
              </a>
          </div>
        </div>
        
      </div>

    

    <div class="btn-wrapper">
        <button class="button button-block" ng-click="submitRegister()">
            Next
        </button>
    </div>
	</ion-content>
</ion-view>
