
<ion-view view-title="5. Virtual Account">
        <ion-content>
            <div class="row">
                <div class="col text-center">
                    <h2 class="txt-medium-orange">Checkout Berhasil</h2>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <h4 class="txt-medium-grey">Mohon Segera Selesaikan Pembayaran</h4>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <label class="txt-medium-grey">Sisa Waktu Pembayaran Anda</label>
                </div>
            </div>
            <div class="row">
                <!-- <div class="col text-center bold txt-medium-orange" >
                    <label style="font-size:3rem;">1</label>
                    <label style="font-size:3rem;">:</label>
                    <label style="font-size:3rem;">35</label>
                    <label style="font-size:3rem;">:</label>
                    <label style="font-size:3rem;">55</label>
                </div> -->
                <div class="col col-10 text-center">
                        
                </div>
                <div class="col col-20 text-center">
                    <h2 class="txt-medium-orange no-margin">{{var.hours}}</h2>
                </div>
                <div class="col col-10 text-center">
                    <h2 class="txt-medium-orange no-margin">:</h2>
                </div>
                <div class="col col-20 text-center">
                    <h2 class="txt-medium-orange no-margin">{{var.minutes}}</h2>
                </div>
                <div class="col col-10 text-center">
                    <h2 class="txt-medium-orange no-margin">:</h2>
                </div>
                <div class="col col-20 text-center">
                    <h2 class="txt-medium-orange no-margin">{{var.seconds}}</h2>
                </div>
                <div class="col col-10 text-center">
                        
                </div>
            </div>
            <div class="row no-padding">
                    <!-- <div class="col text-center bold txt-medium-orange" >
                        <label style="font-size:3rem;">1</label>
                        <label style="font-size:3rem;">:</label>
                        <label style="font-size:3rem;">35</label>
                        <label style="font-size:3rem;">:</label>
                        <label style="font-size:3rem;">55</label>
                    </div> -->
                    <div class="col col-10 text-center no-padding">
                            
                    </div>
                    <div class="col col-20 text-center no-padding">
                        <h5 class="txt-medium-orange no-margin">Jam</h5>
                    </div>
                    <div class="col col-10 text-center no-padding">
                        <h5 class="txt-medium-orange no-margin"></h5>
                    </div>
                    <div class="col col-20 text-center no-padding">
                        <h5 class="txt-medium-orange no-margin">Menit</h5>
                    </div>
                    <div class="col col-10 text-center no-padding">
                        <h5 class="txt-medium-orange"></h5>
                    </div>
                    <div class="col col-20 text-center no-padding">
                        <h5 class="txt-medium-orange no-margin">Detik</h5>
                    </div>
                    <div class="col col-10 text-center no-padding">
                            
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <hr class="txt-medium-grey">
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center ">
                        <h4 class="txt-medium-grey">Jumlah yang harus dibayar</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center bold">
                        <h2 class="txt-medium-orange">Rp. {{umroh.AMOUNT | number}}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <hr class="txt-medium-grey">
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                            <img src="img/bni-logo.png" style="max-width: 80px;">
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <h4 class="txt-medium-grey no-margin">Nomor Account Virtual BNI</h4>
                    </div>
                </div>
                <div class="row">
                        <div class="col text-center">
                            <h3 class="txt-dark-grey no-margin">{{umroh.va}}</h3>
                        </div>
                </div>
                <div class="card">
                        <div class="item item-divider">
                          Cara Pembayaran ATM BNI
                        </div>
                        <div class="item item-text-wrap">
                            <div class="row">
                                <div class="col col-10">
                                    1.
                                </div>
                                <div class="col col-90">
                                    Masukkan Kartu Anda
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-10">
                                    2.
                                </div>
                                <div class="col col-90">
                                    Pilih Bahasa
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-10">
                                    3.
                                </div>
                                <div class="col col-90">
                                    Masukkan PIN ATM Anda
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-10">
                                    4.
                                </div>
                                <div class="col col-90">
                                    Pilih 'Menu Lainnya'
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-10">
                                    5.
                                </div>
                                <div class="col col-90">
                                    Pilih 'Transfer'
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-10">
                                    6.
                                </div>
                                <div class="col col-90">
                                    Pilih 'Rekening Tabungan'
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-10">
                                    7.
                                </div>
                                <div class="col col-90">
                                    Pilih 'Ke Rekening BNI'
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-10">
                                    8.
                                </div>
                                <div class="col col-90">
                                    Masukkan nomor rekening tujuan dengan 16 digit Nomor Virtual Account (Contoh : 8777971828381856)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-10">
                                    9.
                                </div>
                                <div class="col col-90">
                                    Masukkan nominal transfer sesuai tagihan atau kewajiban Anda. Nominal yang berbeda tidak dapat diproses.
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-10">
                                    10.
                                </div>
                                <div class="col col-90">
                                    Konfirmasi, apabila telah sesuai, lanjutkan transaksi.
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-10">
                                    11.
                                </div>
                                <div class="col col-90">
                                    Transaksi telah selesai.
                                </div>
                            </div>
                        </div>
                </div>
        </ion-content>
        <div class="bar bar-footer bar-balanced bg-medium-orange" ng-click="newMessage()">
            <div class="title"><i class="icon ion-home margin-right"></i>Back To Home</div>
        </div>
    </ion-view>
    