
<ion-view view-title="2. Input Data">

	<ion-content id="register-content">
      <!-- <div class="bg-header text-center">
          <div class="row">
              <div class="col">
                  <a  class="txt-putih link-header not-active"><i class="fa fa-check txt-putih strip" aria-hidden="true"></i>List Penumpang</a>
                  <i class="fa fa-minus txt-putih margin-left strip" aria-hidden="true"></i><i class="fa fa-minus txt-putih margin-right strip" aria-hidden="true"></i>
                  <a  class="txt-putih link-header active">2. Input Data</a>
              </div>

          </div>
      </div> -->

	  	<!-- <div class="card">
			<div class="item item-divider padding-all">
				Review Paket Umroh
			</div>
			<div class="item item-text-wrap no-padding">
				<div class="row">
					<div class="col">
						{{umroh.name_packet}}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{umroh.packet}}
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						<i class="fa fa-plane" aria-hidden="true"></i> Maskapai
					</div>
					<div class="col col-10 text-center">
						:
					</div>
					<div class="col col-70">
						{{umroh.plane}}
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						Departure
					</div>
					<div class="col col-10 text-center">
						:
					</div>
					<div class="col col-70">
						{{umroh.departure_month}}
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						Quota
					</div>
					<div class="col col-10 text-center">
						:
					</div>
					<div class="col col-70">
						{{umroh.quota}}
					</div>
				</div>
				<div class="row">
					<div class="col col-40">
						Hotel
					</div>
					<div class="col col-10 text-center">
						:
					</div>
					<div class="col col-70 txt-light-orange" ng-repeat="st in bintang">
						<i class="fa fa-star"></i>
					</div>
				</div>
			</div>
		</div> -->

		<!-- <div class="card">
			<div class="item item-divider padding-all">
				Informasi Jemaah
			</div>
			<div class="item item-text-wrap no-padding">
				<div class="row">
					<div class="col">
						{{umroh.name}}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{umroh.address}}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{umroh.phone}}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{umroh.gender}}
					</div>
				</div>
			</div>
		</div> -->
		
		<!-- <div class="card">
			<div class="item item-divider padding-all">
				Informasi Biaya
			</div>
			<div class="item item-text-wrap no-padding">
				<div class="row">
					<div class="col">
						{{umroh.name}}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{umroh.address}}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{umroh.phone}}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{umroh.gender}}
					</div>
				</div>
			</div>
		</div> -->
		<div class="card">
			<div class="item item-divider padding-all">
				Suami / Istri
			</div>
			<div class="item item-text-wrap no-padding">
				<div class="row">
					<div class="col">
						<input type="number" style="width: 100%;
						border: 1px solid #DEDEDE;
						padding-left: 20px;
						padding-right: 20px;
						border-radius: 20px;" placeholder="Nomor KTP Suami">
					</div>
				</div>
				<div class="row">
					<div class="col">
						<input type="number"  style="width: 100%;
						border: 1px solid #DEDEDE;
						padding-left: 20px;
						padding-right: 20px;
						border-radius: 20px;" placeholder="Nomor KTP Istri">
					</div>
				</div>
				<div class="row">
					<div class="col">
						<input type="text"  style="width: 100%;
						border: 1px solid #DEDEDE;
						padding-left: 20px;
						padding-right: 20px;
						border-radius: 20px;text-transform: uppercase;" placeholder="Nama Lengkap Suami">
					</div>
				</div>
				<div class="row">
					<div class="col">
						<input type="text"  style="width: 100%;
						border: 1px solid #DEDEDE;
						padding-left: 20px;
						padding-right: 20px;
						border-radius: 20px;text-transform: uppercase;" placeholder="Nama Lengkap Istri">
					</div>
				</div>
				<div class="row">
					<div class="col">
						<input type="text"  style="width: 100%;
						border: 1px solid #DEDEDE;
						padding-left: 20px;
						padding-right: 20px;
						border-radius: 20px;text-transform: uppercase;" placeholder="Nama Ayah Kandung Suami">
					</div>
				</div>
				<div class="row">
					<div class="col">
						<input type="text"  style="width: 100%;
						border: 1px solid #DEDEDE;
						padding-left: 20px;
						padding-right: 20px;
						border-radius: 20px;text-transform: uppercase;" placeholder="Nama Ayah Kandung Istri">
					</div>
				</div>
				<div class="row">
					<div class="col">
						<input type="text"  style="width: 100%;
						border: 1px solid #DEDEDE;
						padding-left: 20px;
						padding-right: 20px;
						border-radius: 20px;text-transform: uppercase;" placeholder="Tempat Lahir Suami">
					</div>
				</div>
				<div class="row">
					<div class="col">
						<input type="text"  style="width: 100%;
						border: 1px solid #DEDEDE;
						padding-left: 20px;
						padding-right: 20px;
						border-radius: 20px;text-transform: uppercase;" placeholder="Tempat Lahir Istri">
					</div>
				</div>
				<div class="row">
					<div class="col">
						<input type="text"  style="width: 100%;
						border: 1px solid #DEDEDE;
						padding-left: 20px;
						padding-right: 20px;
						border-radius: 20px;text-transform: uppercase;" ng-focus="openDatePickerTanggalLahirSuami()" placeholder="Tanggal Lahir Suami">
					</div>
				</div>
				<div class="row">
					<div class="col">
						<input type="text"  style="width: 100%;
						border: 1px solid #DEDEDE;
						padding-left: 20px;
						padding-right: 20px;
						border-radius: 20px;text-transform: uppercase;" ng-focus="openDatePickerTanggalLahirIstri()" placeholder="Tanggal Lahir Istri">
					</div>
				</div>
				<div class="row">
					<div class="col">
						<input type="text"  style="width: 100%;
						border: 1px solid #DEDEDE;
						padding-left: 20px;
						padding-right: 20px;
						border-radius: 20px;text-transform: uppercase;"  placeholder="Alamat">
					</div>
				</div>
				<div class="row">
					<div class="col">
						<input type="number"  style="width: 100%;
						border: 1px solid #DEDEDE;
						padding-left: 20px;
						padding-right: 20px;
						border-radius: 20px;text-transform: uppercase;"  placeholder="RT">
					</div>
				</div>
				<div class="row">
					<div class="col">
						<input type="number"  style="width: 100%;
						border: 1px solid #DEDEDE;
						padding-left: 20px;
						padding-right: 20px;
						border-radius: 20px;text-transform: uppercase;"  placeholder="RW">
					</div>
				</div>
				<!-- 
					<div class="list">

						<label class="item item-input item-select">
							<div class="input-label">
							Lightsaber
							</div>
							<select>
							<option>Blue</option>
							<option selected>Green</option>
							<option>Red</option>
							</select>
						</label>

						</div>

				-->
				<div class="row">
					<div class="col">
							<div class="list">
		
								<label class="item item-input item-select">
									<div class="input-label">
									Provinsi
									</div>
									<select>
										<option>DKI Jakarta</option>
										<option selected>Jawa Barat</option>
										<option>Jawa Tengah</option>
									</select>
								</label>
		
							</div>
					</div>
				</div>

				<div class="row">
					<div class="col">
							<div class="list">
		
								<label class="item item-input item-select">
									<div class="input-label">
									Kabupaten / Kota
									</div>
									<select>
										<option>Bandung</option>
										<option selected>Cimahi</option>
										<option>Ciamis</option>
									</select>
								</label>
		
							</div>
					</div>
				</div>

				<div class="row">
					<div class="col">
							<div class="list">
		
								<label class="item item-input item-select">
									<div class="input-label">
									Kecamatan
									</div>
									<select>
										<option>Bandung</option>
										<option selected>Cimahi</option>
										<option>Ciamis</option>
									</select>
								</label>
		
							</div>
					</div>
				</div>

				<div class="row">
					<div class="col">
							<div class="list">
		
								<label class="item item-input item-select">
									<div class="input-label">
									Kelurahan
									</div>
									<select>
										<option>Bandung</option>
										<option selected>Cimahi</option>
										<option>Ciamis</option>
									</select>
								</label>
		
							</div>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<input type="number"  style="width: 100%;
						border: 1px solid #DEDEDE;
						padding-left: 20px;
						padding-right: 20px;
						border-radius: 20px;text-transform: uppercase;"  placeholder="Nomor HP Suami">
					</div>
				</div>

				<div class="row">
					<div class="col">
						<input type="number"  style="width: 100%;
						border: 1px solid #DEDEDE;
						padding-left: 20px;
						padding-right: 20px;
						border-radius: 20px;text-transform: uppercase;"  placeholder="Nomor HP Istri">
					</div>
				</div>

				<!-- 
					<ion-list>
						<ion-radio ng-model="var.jmljamaah" ng-value="1" ng-change="changeJmlJamaah()">1 Orang</ion-radio>
						<ion-radio ng-model="var.jmljamaah" ng-value="2" ng-change="changeJmlJamaah()">2 Orang</ion-radio>
						<ion-radio ng-model="var.jmljamaah" ng-value="3" ng-change="changeJmlJamaah()">3 Orang</ion-radio>
						<ion-radio ng-model="var.jmljamaah" ng-value="4" ng-change="changeJmlJamaah()">4 Orang</ion-radio>
					</ion-list>
				-->
				<div class="row margin-top">
					<div class="col">
							<h3>Sudah Memiliki Rekening BNI Syariah ?</h3>
					</div>
				</div>
				<div class="row">
					<div class="col">
							<ion-list>
								<ion-radio>Ya</ion-radio>
								<ion-radio>Tidak</ion-radio>
							</ion-list>
					</div>
				</div>
				<div class="row">
					<div class="col">
							<input type="number"  style="width: 100%;
							border: 1px solid #DEDEDE;
							padding-left: 20px;
							padding-right: 20px;
							border-radius: 20px;text-transform: uppercase;"  placeholder="Nomor Rekening BNI Syariah">
					</div>
				</div>
				<div class="row margin-top">
					<div class="col">
							<h3>Hubungan Dengan BNI Syariah (Suami) ?</h3>
					</div>
				</div>
				<div class="row">
					<div class="col">
							<ion-list>
								<ion-radio>Nasabah</ion-radio>
								<ion-radio>Keluarga Nasabah</ion-radio>
								<ion-radio>Umum</ion-radio>
								<ion-radio>Pegawai BNI Syariah</ion-radio>
								<ion-radio>Pegawai BNI</ion-radio>
								<ion-radio>Keluarga Pegawai BNI Syariah</ion-radio>
								<ion-radio>Keluarga Pegawai BNI</ion-radio>
							</ion-list>
					</div>
				</div>

				<div class="row margin-top">
					<div class="col">
							<h3>Hubungan Dengan BNI Syariah (Istri) ?</h3>
					</div>
				</div>
				<div class="row">
					<div class="col">
							<ion-list>
								<ion-radio>Nasabah</ion-radio>
								<ion-radio>Keluarga Nasabah</ion-radio>
								<ion-radio>Umum</ion-radio>
								<ion-radio>Pegawai BNI Syariah</ion-radio>
								<ion-radio>Pegawai BNI</ion-radio>
								<ion-radio>Keluarga Pegawai BNI Syariah</ion-radio>
								<ion-radio>Keluarga Pegawai BNI</ion-radio>
							</ion-list>
					</div>
				</div>

			</div>
		</div>
		<div class="btn-wrapper">
            <button class="button button-block" ng-click="submitInput()">
                Next
            </button>
        </div>
	</ion-content>
</ion-view>
