<ion-view view-title="Daftar Diskusi Paket">
	<ion-content>
            <ion-list>
                <ion-item class="no-padding" ng-repeat="list in lists" style="white-space: normal;">
                        <div class="row" style="margin-top:0;padding-bottom: 0">
							<div class="col text-left bold overme">
								<span>{{list.subject}}</span>
							</div>
						</div>
						<div class="row" style="margin-top:0;padding-bottom: 0">
								<div class="col text-left bold overme txt-medium-orange">
									<span>{{list.customer_name}}</span>
								</div>
						</div>
						
						<div class="row" style="margin-top:0;padding-bottom: 0">
							<div class="col text-left bold">
								<span class="txt-dark-grey" style="font-size:0.7rem;">{{list.create_date}}</span>
							</div>
						</div>
						<div class="row" style="margin-top:0;padding-bottom: 0">
								<div class="col text-left">
									<span>{{list.description}}</span>
								</div>
						</div>
						<div class="row" style="margin-top:0;padding-bottom: 0" ng-if="list.reply != null">
							<div class="col text-right bold overme">
								<span class="txt-medium-orange">{{umroh.travel}}</span>
							</div>
						</div>
						<div class="row" ng-if="list.reply != null" style="margin-top:0;padding-bottom: 0">
								<div class="col text-right bold">
									<span class="txt-dark-grey" style="font-size:0.7rem;">{{list.reply_date}}</span>
								</div>
						</div>
						<div class="row" ng-if="list.reply != null" style="margin-top:0;padding-bottom: 0">
							<div class="col text-right">
								<span>{{list.reply}}</span>
							</div>
						</div>
                </ion-item>
            </ion-list>
            <ion-infinite-scroll ng-if="!var.noMoreUmroh" on-infinite="loadMoreRating()" distance="1%">
            </ion-infinite-scroll>
    </ion-content>
</ion-view>