
<ion-view view-title="5. Payment gateway">

	<ion-content id="register-content">
		<form target="myIframe" action="http://staging.doku.com/Suite/Receive" method="post" id="form1" name="form1">
			<input name="MALLID" type="hidden" value="4296">
			<input name="BASKET" type="hidden" value="Paket Umroh Al Bilad Bintang 5 - dewasa,27000000.00,2,54000000.00;anak (3th - 16th),7000000.00,1,7000000.00;infant (0th - 2th),5000000.00,1,5000000.00;biaya surat mahram,500000.00,1,500000.00;shipping + handling,175000.00,4,700000.00">
			<input name="CHAINMERCHANT" type="hidden" value="NA">
			<input name="AMOUNT" type="hidden" value="62200000.00">
			<input name="PURCHASEAMOUNT" type="hidden" value="62200000.00">
			<input name="TRANSIDMERCHANT" type="hidden" value="201709210854056176da1b">
			<input name="WORDS" type="hidden" value="74a7c5ec60f50883aad43ecbb4b26761def69f48">
			<input name="CURRENCY" type="hidden" value="360">
			<input name="PURCHASECURRENCY" type="hidden" value="360">
			<input name="COUNTRY" type="hidden" value="ID">
			<input name="SESSIONID" type="hidden" value="234asd234">
			<input name="REQUESTDATETIME" type="hidden" value="20170921000000">
			<input name="NAME" type="hidden" value="bambang setiyawan">
			<input name="EMAIL" type="hidden" value="bambangsetiyawan90@gmail.com">
			<input name="PAYMENTCHANNEL" type="hidden" value="15">
		</form>
		
		<iFrame name="myIframe" id="preview-frame" style="overflow:hidden;width:100%;" frameborder="0" noresize="noresize"></iFrame>
	</ion-content>
</ion-view>
