
<ion-view view-title="4. Review">

	<ion-content id="register-content">
      <!-- <div class="bg-header text-center">
          <div class="row">
              <div class="col">
				<a  class="txt-putih link-header not-active"><i class="fa fa-check txt-putih strip" aria-hidden="true"></i> Payment</a>
				<i class="fa fa-minus txt-putih margin-left strip" aria-hidden="true"></i><i class="fa fa-minus txt-putih margin-right strip" aria-hidden="true"></i>
				<a  class="txt-putih link-header active">4. Review</a>
              </div>
          </div>
	  </div> -->

	  <div class="card">
			<div class="item item-divider">
					Paket Umroh
			</div>
			<div class="item item-text-wrap">
					<div class="row">
							<div class="col no-padding txt-medium-grey">
									Nama Paket
							</div>
					</div>
					<div class="row">
							<div class="col no-padding">
									{{umroh.name}}
							</div>
					</div>

					<div class="row" style="margin-top:10px;">
							<div class="col no-padding txt-medium-grey">
									Jenis Paket
							</div>
					</div>
					<div class="row">
							<div class="col no-padding">
									{{umroh.packet}}
							</div>
					</div>

					<div class="row" style="margin-top:10px;">
							<div class="col no-padding txt-medium-grey">
									Maskapai
							</div>
					</div>
					<div class="row">
							<div class="col no-padding">
									{{umroh.plane}}
							</div>
					</div>

					<div class="row" style="margin-top:10px;">
							<div class="col no-padding txt-medium-grey">
									Bintang Hotel
							</div>
					</div>
					<div class="row">
						<div class="col no-padding txt-light-orange" >
									<i ng-repeat="st in bintang" class="fa fa-star"></i>
						</div>
				</div>
			</div>
	  </div>
		

		<div class="card">
				<div class="item item-divider">
					Harga Detail
				</div>
				<div class="item item-text-wrap">
						<div class="row no-padding">
								<div class="col col-40 text-left no-padding">
										Dewasa
								</div>
								<div class="col col-20 text-center no-padding">
										x {{umroh.jmlJamaahDewasa}}
								</div>
								<div class="col col-40 text-right no-padding txt-dark-orange bold">
										Rp. {{umroh.totalBiayaJamaahDewasa | number}}
								</div>
						</div>
				</div>
				<div class="item item-text-wrap">
						<div class="row no-padding">
								<div class="col col-40 text-left no-padding">
										Usia 3 - 16 Tahun
								</div>
								<div class="col col-20 text-center no-padding">
										x {{umroh.jmlJamaahInfant}}
								</div>
								<div class="col col-40 text-right no-padding txt-dark-orange bold">
										Rp. {{umroh.totalBiayaJamaahInfant | number}}
								</div>
						</div>
				</div>
				<div class="item item-text-wrap">
						<div class="row no-padding">
								<div class="col col-40 text-left no-padding">
										Usia 0 - 2 Tahun
								</div>
								<div class="col col-20 text-center no-padding">
										x {{umroh.jmlJamaahChild}}
								</div>
								<div class="col col-40 text-right no-padding txt-dark-orange bold">
										Rp. {{umroh.totalBiayaJamaahChild | number}}
								</div>
						</div>
				</div>
				<div class="item item-text-wrap">
						<div class="row no-padding">
								<div class="col col-40 text-left no-padding">
										Mahram
								</div>
								<div class="col col-20 text-center no-padding">
										x {{umroh.jmlJamaahMahram}}
								</div>
								<div class="col col-40 text-right no-padding txt-dark-orange bold">
										Rp. {{umroh.totalBiayaJamaahMahram | number}}
								</div>
						</div>
				</div>
				<div class="item item-text-wrap">
						<div class="row no-padding">
								<div class="col col-40 text-left no-padding">
										Shipping + handling
								</div>
								<div class="col col-20 text-center no-padding">
										x {{umroh.jmlJamaahHandling}}
								</div>
								<div class="col col-40 text-right no-padding txt-dark-orange bold">
										Rp. {{umroh.totalBiayaJamaahHandling | number}}
								</div>
						</div>
				</div>
				<div class="item item-divider">
						Total
				</div>
				<div class="item item-text-wrap">
						

						<div class="row no-padding" style="margin-top:10px;">
								<div class="col text-left col-20 no-padding" style="font-size: 1rem;">
										Lunas
								</div>
								<div class="col col-80 text-right bold no-padding txt-dark-orange" style="font-size: 1rem;" >
										Rp. {{umroh.amount | number}}
								</div>
						</div>
						
				</div>
				<div class="item item-text-wrap">
						<div class="row no-padding" style="margin-top:10px;">
								<div class="col text-left col-20 no-padding" style="font-size: 1rem;">
										DP
								</div>
								<div class="col col-80 text-right bold no-padding txt-dark-orange" style="font-size: 1rem;" >
										Rp. {{umroh.amount_dp | number}}
								</div>
						</div>
				</div>
			</div>


		<!-- <div class="card">
			<div class="item item-divider">
				Pilihan Pembayaran
			</div>
			<div class="item item-text-wrap no-padding">
				<ion-list>
					<ion-radio ng-model="var.pembayaran" value="lunas">Lunas <span class="bold txt-dark-orange">(Rp. 62.200.000)</span></ion-radio>
					<ion-radio ng-model="var.pembayaran" value="dp">DP <span class="bold txt-dark-orange">(Rp. 20.000.000)</span></ion-radio>
				</ion-list>
			</div>
		</div> -->

		<div class="card">
				<div class="item item-divider">
						Bayar Lunas <span class="bold txt-dark-orange">(Rp. {{umroh.amount | number}})</span>
				</div>
				<div class="item item-text-wrap no-padding">
						<div class="btn-wrapper">
								<!-- <a class="button button-block" href="#/app/umroh-paymentgateway" ng-click="submitLunas()">
									Lunas
								</a> -->
								<button class="button button-block"  ng-click="submitLunas()">
									Lunas
								</button>
						</div>
				</div>
			</div>
		
			<div class="card">
					<div class="item item-divider">
							Bayar DP <span class="bold txt-dark-orange">(Rp. {{umroh.amount_dp | number}})</span>
					</div>
					<div class="item item-text-wrap no-padding">
							<div class="btn-wrapper">
									<button class="button button-block" ng-click="submitDP()">
										DP
									</button>
							</div>
					</div>
			</div>
			<!-- <form action="http://staging.doku.com/Suite/Receive" method="post" id="form1" name="form1">
				<input name="MALLID" type="hidden" value="{{varpg.mallid}}">
				<input name="BASKET" type="hidden" value="{{varpg.basket}}">
				<input name="CHAINMERCHANT" type="hidden" value="{{varpg.chainmerchant}}">
				<input name="AMOUNT" type="hidden" value="{{varpg.amount}}">
				<input name="PURCHASEAMOUNT" type="hidden" value="{{varpg.purchaseamount}}">
				<input name="TRANSIDMERCHANT" type="hidden" value="{{varpg.transactionid}}">
				<input name="WORDS" type="hidden" value="{{varpg.words}}">
				<input name="CURRENCY" type="hidden" value="{{varpg.currency}}">
				<input name="PURCHASECURRENCY" type="hidden" value="{{varpg.purchasecurrency}}">
				<input name="COUNTRY" type="hidden" value="{{varpg.country}}">
				<input name="SESSIONID" type="hidden" value="{{varpg.sessionid}}">
				<input name="REQUESTDATETIME" type="hidden" value="{{varpg.requestdatetime}}">
				<input name="NAME" type="hidden" value="{{varpg.name}}">
				<input name="EMAIL" type="hidden" value="{{varpg.email}}">
				<input name="PAYMENTCHANNEL" type="hidden" value="{{varpg.paymentchannel}}">
			</form> -->

			<!-- <form action="http://staging.doku.com/Suite/Receive" target="myIframe" method="post" id="form1" name="form1">
				<input name="MALLID" type="hidden" value="4296">
				<input name="BASKET" type="hidden" value="Paket Umroh Al Bilad Bintang 5 - dewasa,27000000.00,2,54000000.00;anak (3th - 16th),7000000.00,1,7000000.00;infant (0th - 2th),5000000.00,1,5000000.00;biaya surat mahram,500000.00,1,500000.00;shipping + handling,175000.00,4,700000.00">
				<input name="CHAINMERCHANT" type="hidden" value="NA">
				<input name="AMOUNT" type="hidden" value="62200000.00">
				<input name="PURCHASEAMOUNT" type="hidden" value="62200000.00">
				<input name="TRANSIDMERCHANT" type="hidden" value="201709210854056176da1b">
				<input name="WORDS" type="hidden" value="74a7c5ec60f50883aad43ecbb4b26761def69f48">
				<input name="CURRENCY" type="hidden" value="360">
				<input name="PURCHASECURRENCY" type="hidden" value="360">
				<input name="COUNTRY" type="hidden" value="ID">
				<input name="SESSIONID" type="hidden" value="234asd234">
				<input name="REQUESTDATETIME" type="hidden" value="20170921000000">
				<input name="NAME" type="hidden" value="bambang setiyawan">
				<input name="EMAIL" type="hidden" value="bambangsetiyawan90@gmail.com">
				<input name="PAYMENTCHANNEL" type="hidden" value="15">
			</form>
			<iFrame name="myIframe" id="preview-frame" style="overflow:hidden;width:100%;" frameborder="0" noresize="noresize"></iFrame>
			 -->
	</ion-content>
</ion-view>
