<ion-view view-title="Pencarian Umroh">
    <ion-content id="umroh-search-content">
		<div class="list">
			<label class="item item-input item-stacked-label">
				<span class="input-label">Kota</span>
				<input type="text" placeholder="Input Kota" ng-model="search.city">
			</label>

			<div class="item item-input-inset">
				<label class="item-input-wrapper">
					<!-- <span class="input-label">Tanggal</span> -->
					<input type="text" placeholder="Pilih Tanggal" ng-model="search.date" disabled>
				</label>

				<button class="button button-small" ng-click="openDatePicker()">
					<i class="icon ion-calendar"></i>
				</button>
			</div>

			<label class="item item-input item-stacked-label">
				<span class="input-label">Harga</span>

				<span class="row">
					<span class="col">
						<input type="number" placeholder="Min" ng-model="search.min_price">
					</span>

					<span class="col col-10">
						-
					</span>

					<span class="col">
						<input type="number" placeholder="Max" ng-model="search.max_price">
					</span>
				</span>
			</label>

			<div class="rating-wrapper">
				<span class="input-label">Kelas</span>

				<div class="rating-wrapper">
					<rating ng-model="search.rate" max="5"></rating>
				</div>
			</div>
    </div>



		<div class="btn-wrapper">
			<button class="button button-block" ng-click="searchUmroh()">
				Cari
			</button>
		</div>

		<div id="umroh-search-loading-progress" class="loading-progress fade-in">
	        <ion-spinner class="progress-circular"></ion-spinner>
	    </div>

		<ion-list id="umroh-result" class="fade-in">
			<ion-item ng-repeat="umroh in results" class="umroh-list" ng-click="navigateTo('app.umroh-detail', umroh)">
				<h3>{{ umroh.name }}</h3>

				<div class="row">
					<div class="col-20">
						<img ng-src="{{ umroh.img }}" width="47px">
					</div>

					<div class="col-40">
						<span class="title">Kota</span>

						<div class="content">
							{{ umroh.city }}
						</div>

						<span class="title">Keberangkatan</span>

						<div class="content">
							{{ umroh.departure_month }}
						</div>
					</div>

					<div class="col">
						<span class="separator"></span>

						<span class="title">Harga</span>

						<div class="price">
							Rp. {{ umroh.price_million }} jt <span class="content"> / org</span>
						</div>
					</div>
				</div>
			</ion-item>
		</ion-list>
    </ion-content>
</ion-view>
