<ion-view view-title="Daftar Rating Review">
	<ion-content>
            <!-- <div class="card">
                <div class="item item-text-wrap text-center no-padding">
                    <div class="row">
                        <div class="col text-center txt-medium-orange bold">
                            <span>Total Rating</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center txt-medium-orange bold">
                            <span style="font-size:50px;">{{umroh.rating_avg}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                           <span class="txt-medium-green">Dari {{umroh.totalCount}} Ulasan</span>
                        </div>
                    </div>
                </div>
            </div> -->

            <ion-list>
                <ion-item class="no-padding" ng-repeat="list in lists">
                    <div class="row">
                        <div class="col text-center">
                                <span class="txt-medium-orange" ng-if="list.rating == 1"><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star-o fa-lg" aria-hidden="true"></i><i  class="fa fa-star-o fa-lg" aria-hidden="true"></i><i class="fa fa-star-o fa-lg" aria-hidden="true"></i><i class="fa fa-star-o fa-lg" aria-hidden="true"></i></span>
								<span class="txt-medium-orange" ng-if="list.rating == 2"><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i  class="fa fa-star-o fa-lg" aria-hidden="true"></i><i class="fa fa-star-o fa-lg" aria-hidden="true"></i><i  class="fa fa-star-o fa-lg" aria-hidden="true"></i></span>
								<span class="txt-medium-orange" ng-if="list.rating == 3"><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star-o fa-lg" aria-hidden="true"></i><i  class="fa fa-star-o fa-lg" aria-hidden="true"></i></span>
								<span class="txt-medium-orange" ng-if="list.rating == 4"><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i  class="fa fa-star-o fa-lg" aria-hidden="true"></i></span>
								<span class="txt-medium-orange" ng-if="list.rating == 5"><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i  class="fa fa-star fa-lg" aria-hidden="true"></i></span>
								 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h3>{{list.customer_name}}</h3>
                        </div>
                        <div class="col text-right">
                            <label>{{list.create_date}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>{{list.review}}</label>
                        </div>
                    </div>
                </ion-item>
            </ion-list>
            <ion-infinite-scroll ng-if="!var.noMoreUmroh" on-infinite="loadMoreRating()" distance="1%">
            </ion-infinite-scroll>
    </ion-content>
</ion-view>