<ion-view view-title="Pencarian Umroh">
    <ion-content id="umroh-content">
		<div class="list">
			<!-- <label class="item item-input item-stacked-label">
				<span class="input-label">Kota</span>
				<input type="text" placeholder="Input Kota" ng-model="search.city">
			</label> -->

      <div class="row">
          <div class="col">
              <label>Pilih Rentang Waktu Keberangkatan</label>
          </div>
      </div>
			
      <div class="row" style="margin-top: 0px;">
          <div class="col">
			<label class="item item-input item-select" style="padding: 0px;">
				<select ng-model="search.date_start" ng-options="month.value as month.label for month in start_month" ng-change="changeEndMonth()" style="padding: 5px 5px 5px 10px;
				position: initial; 
				width: 100%;
				top: initial;
				right: initial;
				bottom: initial;
				max-width: initial;
				direction: initial;"></select>
			</label>
          	<!--<div class="item item-input-inset" style="border-style:none;">
				<label class="item-input-wrapper">
					<input type="text" placeholder="Mulai Dari" ng-model="search.date_start" disabled>
				</label>

				<button class="button button-small" ng-click="openDatePickerStart()">
					<i class="icon ion-calendar"></i>
				</button>
			</div>-->
		</div>

         <div class="col">
			<label class="item item-input item-select" style="padding: 0px;">
				<select ng-model="search.date_end" ng-options="month.value as month.label for month in end_month" style="padding: 5px 5px 5px 10px;
				position: initial; 
				width: 100%;
				top: initial;
				right: initial;
				bottom: initial;
				max-width: initial;
				direction: initial;"></select>
			</label>
          	<!--<div class="item item-input-inset" style="border-style:none;">
				<label class="item-input-wrapper">
					<input type="text" placeholder="Sampai" ng-model="search.date_end" disabled>
				</label>

				<button class="button button-small" ng-click="openDatePickerEnd()">
					<i class="icon ion-calendar"></i>
				</button>
			</div>-->
			</div>
		</div>

			<label class="item item-input item-select">
				<div class="input-label">
					Kota
				</div>

				<select ng-model="search.city" ng-options="city.value as city.label for city in cities"></select>
			</label>


			<!--<label class="item item-input item-stacked-label">
				<span class="input-label">Harga</span>

				<span class="row">
					<span class="col">
						<input type="number" placeholder="Min" ng-model="search.min_price">
					</span>

					<span class="col col-10">
						-
					</span>

					<span class="col">
						<input type="number" placeholder="Max" ng-model="search.max_price">
					</span>
				</span>
			</label>-->

			<label class="item item-input item-select">
				<div class="input-label">
					Paket
				</div>

				<select ng-model="search.packet" ng-options="packet.value as packet.label for packet in packets"></select>
			</label>

			<label class="item item-input item-select">
				<div class="input-label">
					Maskapai
				</div>

				<select ng-model="search.plane" ng-options="plane.value as plane.label for plane in planes"></select>
			</label>

			<label class="item item-input item-select" style="display:none;">
				<div class="input-label">
					Hotel
				</div>

				<select ng-model="search.hotel" ng-options="star.value as star.label for star in stars"></select>
			</label>

			<!-- <div class="rating-wrapper">
				<span class="input-label">Kelas Hotel</span>

				<div class="rating-wrapper">
					<rating ng-model="search.hotel" max="5"></rating>
				</div>
			</div> -->

			<!-- <ion-checkbox ng-model="checkClass['all']">Semua Kelas Hotel</ion-checkbox> -->
		</div>

		<div class="btn-wrapper">
			<button class="button button-block" ng-click="searchUmroh()">
				Cari
			</button>
		</div>

		<div id="umroh-loading-progress" class="loading-progress fade-in">
	        <ion-spinner class="progress-circular"></ion-spinner>
	    </div>

		<!-- <ion-list id="umroh-result" class="fade-in">
			<div class="info-result">
				{{ info }}
			</div>

			<ion-item ng-repeat="umroh in results" class="umroh-list" ng-click="navigateTo('app.umroh-detail', umroh)">
				<h3>{{ umroh.name }}</h3>

				<div class="row">
					<div class="col-20">
						<img ng-src="data:image/png;base64,{{ umroh.img }}" width="47px">
					</div>

					<div class="col-40">
						<span class="title">Kota</span>

						<div class="content">
							{{ umroh.city }}
						</div>

						<span class="title">Keberangkatan</span>

						<div class="content">
							{{ umroh.departure_month }}
						</div>
					</div>

					<div class="col">
						<span class="separator"></span>

						<span class="title">Harga</span>

						<div class="price">
							Rp. {{ umroh.price_million }} jt <span class="content"> / org</span>
						</div>
					</div>
				</div>
			</ion-item> -->
		</ion-list>
    </ion-content>
</ion-view>
