<ion-view view-title="Umroh">
	<ion-nav-buttons side="primary">
		<a href="#/app/umroh-search">
			<button class="button button-icon button-clear ion-android-search"></button>
		</a>
    </ion-nav-buttons>

    <ion-content id="umroh-content" class="fade-in">
    	<ion-refresher
			pulling-text="Pull to refresh..."
			on-refresh="doRefresh()">
		</ion-refresher>
		
		<ion-list>
			<ion-item ng-repeat="umroh in umrohs" class="umroh-list" ng-click="navigateTo('app.umroh-detail', umroh)">
				<h3>{{ umroh.name }}</h3>

				<div class="row">
					<div class="col-20">
						<img ng-src="{{ umroh.img }}" width="47px">
					</div>

					<div class="col-40">
						<span class="title">Kota</span>

						<div class="content">
							{{ umroh.city }}
						</div>
						
						<span class="title">Keberangkatan</span>

						<div class="content">
							{{ umroh.departure_month }}
						</div>
					</div>

					<div class="col">
						<span class="separator"></span>
						
						<span class="title">Harga</span>

						<div class="price">
							Rp. {{ umroh.price_million }} jt <span class="content"> / org</span>
						</div>
					</div>
				</div>
			</ion-item>
		</ion-list>
    </ion-content>

    <div id="umroh-loading-progress" class="loading-progress">
        <ion-spinner class="progress-circular"></ion-spinner>
    </div>
</ion-view>