<ion-view view-title="{{ umroh.name }}">
	<ion-content id="umroh-detail-content">
		<!-- <div id="umroh-header">
			<h3>{{ umroh.name }}</h3>

			<div class="row">
				<div class="col-20">
					<img ng-src="{{ umroh.img }}" width="47px">
				</div>

				<div class="col-40">
					<span class="title">Kota</span>

					<div class="content">
						{{ umroh.city }}
					</div>
					
					<span class="title">Keberangkatan</span>

					<div class="content">
						{{ umroh.departure_month }}
					</div>
				</div>

				<div class="col">
					<span class="separator"></span>
					
					<span class="title">Harga</span>

					<div class="price">
						Rp. {{ umroh.price_million }} jt <span class="content"> / org</span>
					</div>

					<div class="content">
						{{ umroh.quota }} kursi tersedia
					</div>
				</div>
			</div>
		</div> -->
		<div class="card">
				<div class="item item-divider">
					{{ umroh.name }}
				</div>
			<button class="button button-block button-positive" ng-click="submitDaftar()">
				Daftar
			</button>
				<div class="item item-text-wrap">
						<div class="row no-margin" style="margin-top:0;">
							<div class="col-20">
								<img ng-src="{{ baseUrl + umroh.img }}" width="47px">
							</div>
			
							<div class="col-40">
								<span class="title">Kota</span>
			
								<div class="content">
									{{ umroh.city }}
								</div>
								
								<span class="title">Keberangkatan</span>
			
								<div class="content">
									{{ umroh.departure_string }}
								</div>
							</div>
			
							<div class="col">
								<span class="separator"></span>
								
								<span class="title">Harga</span>
			
								<div class="price">
									Rp. {{ umroh.price_million }} jt
								</div>
			
								<div class="content">
									{{ umroh.quota }} kursi
								</div>
							</div>
						</div>
				</div>
		</div>


		<div class="card">
				<div class="item item-divider">
					Detail Paket
				</div>
				<div class="item item-text-wrap">
					<div class="row no-margin" style="margin-top:0;">
						<div class="col no-padding bold">
							{{umroh.name}}
						</div>
					</div>
					<div class="row no-margin" style="margin-top:0;">
						<div class="col col-40 no-padding">
							Jenis
						</div>
						<div class="col col-10 no-padding text-center">
							:
						</div>
						<div class="col no-padding">
							{{umroh.packet}}
						</div>
					</div>
					<!-- -->
					<div class="row no-margin" style="margin-top:0;" ng-if="umroh.total_days !== undefined">
						<div class="col col-40 no-padding">
							Jumlah Hari
						</div>
						<div class="col col-10 no-padding text-center">
							:
						</div>
						<div class="col no-padding">
							{{umroh.total_days}}
						</div>
					</div>
					<!-- -->
					<div class="row no-margin" style="margin-top:0;" ng-if="umroh.hotel !== undefined">
						<div class="col col-40 no-padding">
							bintang
						</div>
						<div class="col col-10 no-padding text-center">
							:
						</div>
						<div class="col no-padding txt-light-orange" >
							<i ng-repeat="st in bintang" class="fa fa-star"></i>
						</div>	
					</div>
					<div class="row no-margin" style="margin-top:0;">
						<div class="col col-40 no-padding">
							Quota
						</div>
						<div class="col col-10 no-padding text-center">
							:
						</div>
						<div class="col no-padding">
							{{umroh.quota}} Orang
						</div>
					</div>
					<div class="row no-margin" style="margin-top:0;">
						<div class="col col-40 no-padding">
							Keberangkatan
						</div>
						<div class="col col-10 no-padding text-center">
							:
						</div>
						<div class="col no-padding">
							{{umroh.departure_string}}
						</div>
					</div>
					<div class="row no-margin" style="margin-top:0;" ng-if="umroh.quad_price">
						<div class="col col-40 no-padding">
							Kamar Quad
						</div>
						<div class="col col-10 no-padding text-center">
							:
						</div>
						<div class="col no-padding bold txt-medium-orange">
							Rp. {{umroh.quad_price | number}}
						</div>
					</div>
					<div class="row no-margin" style="margin-top:0;" ng-if="umroh.triple_price">
						<div class="col col-40 no-padding">
							Kamar Triple
						</div>
						<div class="col col-10 no-padding text-center">
							:
						</div>
						<div class="col no-padding bold txt-medium-orange">
							Rp. {{umroh.triple_price | number}}
						</div>
					</div>
					<div class="row no-margin" style="margin-top:0;" ng-if="umroh.double_price">
						<div class="col col-40 no-padding">
							Kamar Double
						</div>
						<div class="col col-10 no-padding text-center">
							:
						</div>
						<div class="col no-padding bold txt-medium-orange">
							Rp. {{umroh.double_price | number}}
						</div>
					</div>
					<div class="row no-margin" style="margin-top:0;" ng-if="umroh.child_price">
						<div class="col col-40 no-padding">
							Harga Anak
						</div>
						<div class="col col-10 no-padding text-center">
							:
						</div>
						<div class="col no-padding bold txt-medium-orange">
							Rp. {{umroh.child_price | number}}
						</div>
					</div>
					<div class="row no-margin" style="margin-top:0;" ng-if="umroh.infant_price">
						<div class="col col-40 no-padding">
							Harga Infant
						</div>
						<div class="col col-10 no-padding text-center">
							:
						</div>
						<div class="col no-padding bold txt-medium-orange">
							Rp. {{umroh.infant_price | number}}
						</div>
					</div>
					<div class="row no-margin" style="margin-top:0;" ng-if="umroh.mahram_price">
						<div class="col col-40 no-padding">
							Biaya Mahram
						</div>
						<div class="col col-10 no-padding text-center">
							:
						</div>
						<div class="col no-padding bold txt-medium-orange">
							Rp. {{umroh.mahram_price | number}}
						</div>
					</div>
					<div class="row no-margin" style="margin-top:0;" ng-if="umroh.handling_price">
						<div class="col col-40 no-padding">
							Biaya Shipping + Handling
						</div>
						<div class="col col-10 no-padding text-center">
							:
						</div>
						<div class="col no-padding bold txt-medium-orange">
							Rp. {{umroh.handling_price | number}}
						</div>
					</div>
					<div class="row no-margin" style="margin-top:0;">
						<div class="col col-40 no-padding">
							Plane
						</div>
						<div class="col col-10 no-padding text-center">
							:
						</div>
						<div class="col no-padding">
							{{umroh.plane}}
						</div>
					</div>
					<div class="row no-margin" style="margin-top:0;">
						<div class="col col-40 no-padding">
							Phone
						</div>
						<div class="col col-10 no-padding text-center">
							:
						</div>
						<div class="col no-padding">
							{{umroh.phone}}
						</div>
					</div>
					
					
					<div class="row no-margin" style="margin-top:0;" ng-if="umroh.pdf_file_name !== undefined">
						<div class="col no-padding">
								<a href="{{ baseUrl + umroh.pdf_file_name }}"><button class="button button-block button-positive" >
									Unduh itinerary
								</button></a>
						</div>
					</div>
				</div>
				<div class="item item-divider">
					PIC Email
				</div>
				<div class="item item-text-wrap">
					{{umroh.pic_email}}
				</div>
				<div class="item item-divider" ng-if="umroh.refund_note !== undefined">
					Mekanisme Pembatalan
				</div>
				<div class="item item-text-wrap" ng-if="umroh.refund_note !== undefined">
					{{umroh.refund_note}}
				</div>
				<div class="item item-divider" ng-if="umroh.pending_note !== undefined">
					Mekanisme Penundaan
				</div>
				<div class="item item-text-wrap" ng-if="umroh.pending_note !== undefined">
					{{umroh.pending_note}}
				</div>
				<div class="item item-divider" ng-if="umroh.plane !== undefined">
					Plane
				</div>
				<div class="item item-text-wrap" ng-if="umroh.plane !== undefined">
						<i class="fa fa-plane" aria-hidden="true"></i><span class="margin-left">{{umroh.plane}}</span>
				</div>
				<div class="item item-text-wrap" ng-if="umroh.depart_routes !== undefined">
						<div>Rute Keberangkatan</div>
						<div class="margin-top"><i class="fa fa-plane" aria-hidden="true"></i><span class="margin-left">{{umroh.depart_routes}}</span></div>
				</div>
				<div class="item item-text-wrap" ng-if="umroh.return_routes !== undefined">
						<div>Rute Pulang</div>
						<div class="margin-top"><i class="fa fa-plane" aria-hidden="true"></i><span class="margin-left">{{umroh.return_routes}}</span></div>
				</div>
				<!-- umroh.mecca_pilgrimage_list -->
				<div class="item item-divider" ng-if="umroh.mecca_hotel !== undefined">
					Hotel Makkah
				</div>
				<div class="item item-text-wrap" ng-if="umroh.mecca_hotel !== undefined">
						<div class="row no-padding no-margin">
							<div class="col text-left no-padding no-margin">
									Nama Hotel
							</div>
							<div class="col text-right no-padding no-margin">
									{{umroh.mecca_hotel}}
							</div>
						</div>
				</div>
				<div class="item item-text-wrap" ng-if="umroh.mecca_hotelstar !== undefined">
						<div class="row no-padding no-margin">
							<div class="col text-left no-padding no-margin">
									Bintang
							</div>
							<div class="col text-right no-padding no-margin">
									<span class="txt-medium-orange" ng-if="umroh.mecca_hotelstar == '1'"><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star-o fa-lg" aria-hidden="true"></i><i  class="fa fa-star-o fa-lg" aria-hidden="true"></i><i class="fa fa-star-o fa-lg" aria-hidden="true"></i><i class="fa fa-star-o fa-lg" aria-hidden="true"></i></span>
									<span class="txt-medium-orange" ng-if="umroh.mecca_hotelstar == '2'"><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i  class="fa fa-star-o fa-lg" aria-hidden="true"></i><i class="fa fa-star-o fa-lg" aria-hidden="true"></i><i  class="fa fa-star-o fa-lg" aria-hidden="true"></i></span>
									<span class="txt-medium-orange" ng-if="umroh.mecca_hotelstar == '3'"><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star-o fa-lg" aria-hidden="true"></i><i  class="fa fa-star-o fa-lg" aria-hidden="true"></i></span>
									<span class="txt-medium-orange" ng-if="umroh.mecca_hotelstar == '4'"><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i  class="fa fa-star-o fa-lg" aria-hidden="true"></i></span>
									<span class="txt-medium-orange" ng-if="umroh.mecca_hotelstar == '5'"><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i  class="fa fa-star fa-lg" aria-hidden="true"></i></span>
							</div>
						</div>
						
				</div>
				<div class="item item-text-wrap" ng-if="umroh.mecca_hoteldistance !== undefined">
						<div class="row no-padding no-margin">
							<div class="col text-left no-padding no-margin">
									<i class="fa fa-map-marker" aria-hidden="true"></i> Jarak dari masjid
							</div>
							<div class="col text-right no-padding no-margin">
									<span>{{umroh.mecca_hoteldistance}} meter</span>
							</div>
						</div>
						
				</div>
				<div class="item item-text-wrap" ng-if="umroh.mecca_pilgrimage_list_obj !== undefined">
						<div>Lokasi Ziarah Makkah:</div>
						<div class="margin-top" ng-repeat="meccalist in umroh.mecca_pilgrimage_list_obj"><span>{{meccalist.number}}.</span><span class="margin-left">{{meccalist.listname}}</span></div>
				</div>
				<div class="item item-divider" ng-if="umroh.madina_hotel !== undefined">
					Hotel Madinah
				</div>
				<div class="item item-text-wrap" ng-if="umroh.madina_hotel !== undefined">
						<div class="row no-padding no-margin">
								<div class="col text-left no-padding no-margin">
										Nama Hotel
								</div>
								<div class="col text-right no-padding no-margin">
										{{umroh.madina_hotel}}
								</div>
							</div>
				</div>
				<div class="item item-text-wrap" ng-if="umroh.madina_hotelstar !== undefined">
						<div class="row no-padding no-margin">
							<div class="col text-left no-padding no-margin">
									Bintang
							</div>
							<div class="col text-right no-padding no-margin">
									<span class="txt-medium-orange" ng-if="umroh.madina_hotelstar == '1'"><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star-o fa-lg" aria-hidden="true"></i><i  class="fa fa-star-o fa-lg" aria-hidden="true"></i><i class="fa fa-star-o fa-lg" aria-hidden="true"></i><i class="fa fa-star-o fa-lg" aria-hidden="true"></i></span>
									<span class="txt-medium-orange" ng-if="umroh.madina_hotelstar == '2'"><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i  class="fa fa-star-o fa-lg" aria-hidden="true"></i><i class="fa fa-star-o fa-lg" aria-hidden="true"></i><i  class="fa fa-star-o fa-lg" aria-hidden="true"></i></span>
									<span class="txt-medium-orange" ng-if="umroh.madina_hotelstar == '3'"><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star-o fa-lg" aria-hidden="true"></i><i  class="fa fa-star-o fa-lg" aria-hidden="true"></i></span>
									<span class="txt-medium-orange" ng-if="umroh.madina_hotelstar == '4'"><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i  class="fa fa-star-o fa-lg" aria-hidden="true"></i></span>
									<span class="txt-medium-orange" ng-if="umroh.madina_hotelstar == '5'"><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i  class="fa fa-star fa-lg" aria-hidden="true"></i></span>			
							</div>
						</div>
				</div>
				<div class="item item-text-wrap" ng-if="umroh.madina_hoteldistance !== undefined">
						<div class="row no-padding no-margin">
								<div class="col text-left no-padding no-margin">
										<i class="fa fa-map-marker" aria-hidden="true"></i> Jarak dari masjid
								</div>
								<div class="col text-right no-padding no-margin">
										<span class="margin-left">{{umroh.madina_hoteldistance}} meter</span>
								</div>
						</div>	
				</div>
				<div class="item item-text-wrap" ng-if="umroh.madina_pilgrimage_list_obj !== undefined">
						<div>Lokasi Ziarah Madinah:</div>
						<div class="margin-top" ng-repeat="madinalist in umroh.madina_pilgrimage_list_obj"><span>{{madinalist.number}}.</span><span class="margin-left">{{madinalist.listname}}</span></div>
				</div>
		</div>
		<!-- <hr>

		<div id="umroh-detail" ng-bind-html="umroh.content"></div> -->
		<div class="card" ng-if="umroh.content !== undefined">
				<div class="item item-divider">
					Info
				</div>
				<div class="item item-text-wrap no-padding">
						<div class="row no-margin no-padding" style="margin-top:0;">
							<div class="col no-padding">
								<div id="umroh-detail" ng-bind-html="umroh.content"></div>
							</div>
						</div>
				</div>
		</div>


		<div class="card">
				<div class="item item-divider">
					<span>Rating</span>
					<span style="margin-left:10px;" class="txt-medium-orange" ng-if="var.rating_avg == 1"><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star-o fa-lg" aria-hidden="true"></i><i  class="fa fa-star-o fa-lg" aria-hidden="true"></i><i class="fa fa-star-o fa-lg" aria-hidden="true"></i><i class="fa fa-star-o fa-lg" aria-hidden="true"></i></span>
					<span style="margin-left:10px;" class="txt-medium-orange" ng-if="var.rating_avg == 2"><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i  class="fa fa-star-o fa-lg" aria-hidden="true"></i><i class="fa fa-star-o fa-lg" aria-hidden="true"></i><i  class="fa fa-star-o fa-lg" aria-hidden="true"></i></span>
					<span style="margin-left:10px;" class="txt-medium-orange" ng-if="var.rating_avg == 3"><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star-o fa-lg" aria-hidden="true"></i><i  class="fa fa-star-o fa-lg" aria-hidden="true"></i></span>
					<span style="margin-left:10px;" class="txt-medium-orange" ng-if="var.rating_avg == 4"><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i  class="fa fa-star-o fa-lg" aria-hidden="true"></i></span>
					<span style="margin-left:10px;" class="txt-medium-orange" ng-if="var.rating_avg == 5"><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i  class="fa fa-star fa-lg" aria-hidden="true"></i></span>
					
					<!-- <button class="button bg-medium-orange txt-putih" style="float:right;font-size:16px;line-height:1;min-height:25px;" ng-click="toRatingReview()">Selengkapnya</button> -->
				</div>
				<div class="item item-text-wrap text-center no-padding">
					<div class="row">
						<div class="col text-center txt-medium-orange bold">
							<span>Total Rating</span>
						</div>
					</div>
					<div class="row">
						<div class="col text-center txt-medium-orange bold">
							<span style="font-size:50px;">{{var.rating_avg}}</span>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<span class="txt-medium-green">Dari {{var.totalCount}} Ulasan</span>
						</div>
					</div>
				</div>
				<div class="item item-text-wrap" ng-repeat="list in lists">
						<div class="row no-padding" style="margin-top:0;">
							<div class="col no-padding txt-medium-orange">
								<span class="txt-medium-orange" ng-if="list.rating == 1"><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star-o fa-lg" aria-hidden="true"></i><i  class="fa fa-star-o fa-lg" aria-hidden="true"></i><i class="fa fa-star-o fa-lg" aria-hidden="true"></i><i class="fa fa-star-o fa-lg" aria-hidden="true"></i></span>
								<span class="txt-medium-orange" ng-if="list.rating == 2"><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i  class="fa fa-star-o fa-lg" aria-hidden="true"></i><i class="fa fa-star-o fa-lg" aria-hidden="true"></i><i  class="fa fa-star-o fa-lg" aria-hidden="true"></i></span>
								<span class="txt-medium-orange" ng-if="list.rating == 3"><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star-o fa-lg" aria-hidden="true"></i><i  class="fa fa-star-o fa-lg" aria-hidden="true"></i></span>
								<span class="txt-medium-orange" ng-if="list.rating == 4"><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i  class="fa fa-star-o fa-lg" aria-hidden="true"></i></span>
								<span class="txt-medium-orange" ng-if="list.rating == 5"><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i  class="fa fa-star fa-lg" aria-hidden="true"></i></span>
								
							</div>
						</div>
						<div class="row no-padding">
							<div class="col no-padding txt-medium-orange">
								<h2 class="bold" style="font-weight:bold;">{{list.customer_name}}</h2>
							</div>
						</div>
						<div class="row no-padding">
							<div class="col no-padding">
								<span>{{list.review}}</span>
							</div>
						</div>
				</div>
				<div class="item item-divider text-right">
					<a class="button txt-medium-green" ng-click="toRatingReview()">Lihat {{var.totalCount}} Ulasan Lain</a>
				</div>
				
		</div>

		<div class="card" ng-if="messages.length > 0">
				<div class="item item-divider">
					<span>Daftar Diskusi</span>
					<!-- <button class="button bg-medium-orange txt-putih" style="float:right;font-size:16px;line-height:1;min-height:25px;" ng-click="toRatingReview()">Selengkapnya</button> -->
				</div>
				<div class="item item-text-wrap text-center no-padding" ng-repeat="message in messages">
						<div class="row" style="margin-top:0;padding-bottom: 0">
							<div class="col text-left bold overme">
								<span>{{message.subject}}</span>
							</div>
						</div>
						<div class="row" style="margin-top:0;padding-bottom: 0">
								<div class="col text-left bold overme txt-medium-orange">
									<span>{{message.customer_name}}</span>
								</div>
						</div>
						
						<div class="row" style="margin-top:0;padding-bottom: 0">
							<div class="col text-left bold">
								<span class="txt-dark-grey" style="font-size:0.7rem;">{{message.create_date}}</span>
							</div>
						</div>
						<div class="row" style="margin-top:0;padding-bottom: 0">
								<div class="col text-left">
									<span>{{message.description}}</span>
								</div>
						</div>
						<div class="row" style="margin-top:0;padding-bottom: 0" ng-if="message.reply != null">
							<div class="col text-right bold overme">
								<span class="txt-medium-orange">{{umroh.travel}}</span>
							</div>
						</div>
						<div class="row" ng-if="message.reply != null" style="margin-top:0;padding-bottom: 0">
								<div class="col text-right bold">
									<span class="txt-dark-grey" style="font-size:0.7rem;">{{message.reply_date}}</span>
								</div>
						</div>
						<div class="row" ng-if="message.reply != null" style="margin-top:0;padding-bottom: 0">
							<div class="col text-right">
								<span>{{message.reply}}</span>
							</div>
						</div>
				</div>
				<div class="item item-divider text-right">
					<a class="button txt-medium-green" ng-click="toAllMessage()">Lihat {{var.totalPesan}} Diskusi Lain</a>
				</div>
				
		</div>
		

		<div class="btn-wrapper">
			<button class="button button-block button-positive" ng-click="sendMessage()">
				Kirim Pesan
			</button>

			<button class="button button-block button-positive" ng-click="submitDaftar()">
				Daftar
			</button>

			<button class="button button-block button-positive" ng-click="submitFilling()">
				Ajukan Pembiayaan
			</button>
		</div>
	</ion-content>
</ion-view>