<ion-view view-title="Pengajuan Pembiayaan">
	<ion-content id="filing-content">
		<ion-refresher
			pulling-text="Pull to refresh..."
			on-refresh="doRefresh()">
		</ion-refresher>
		
		<div id="umroh-profile-loading-progress" class="loading-progress">
			<ion-spinner class="progress-circular"></ion-spinner>
		</div>

		<div id="filing-register" class="fade-in">
			<div class="info-result">
				Harap melakukan registrasi.
			</div>

			<div class="list">
				<label class="item item-input">
					<input type="text" placeholder="Username" ng-model="profile.username">
				</label>

				<label class="item item-input">
					<input type="password" placeholder="Password" ng-model="profile.password">
				</label>

				<label class="item item-input">
					<input type="password" placeholder="Ulangi Password" ng-model="profile.repassword">
				</label>

				<label class="item item-input">
					<input type="text" placeholder="Nama Lengkap" ng-model="profile.name">
				</label>

				<label class="item item-input">
					<input type="tel" placeholder="Nomor Telepon" ng-model="profile.phone">
				</label>

				<label class="item item-input">
					<input type="email" placeholder="Email" ng-model="profile.email">
				</label>

				<label class="item item-input">
					<textarea placeholder="Alamat" ng-model="profile.address"></textarea>
				</label>

				<div class="item item-input-inset">
					<label class="item-input-wrapper">
						<!-- <span class="input-label">Tanggal</span> -->
						<input type="text" placeholder="Tanggal Lahir" ng-model="profile.birthday" disabled>
					</label>

					<button class="button button-small" ng-click="openDatePickerRegister()">
						<i class="icon ion-calendar"></i>
					</button>
				</div>
			</div>

			<div class="btn-wrapper">
				<button class="button button-block" ng-click="submitProfile()">
					Submit
				</button>
			</div>

			<div class="info-wrapper">
				Sudah memiliki username? <span class="login-text" ng-click="showLogin()">Login</span>
			</div>
		</div>
		
		<div id="filing-login" class="fade-in">
			<div class="list">
				<label class="item item-input">
					<input type="text" placeholder="Username" ng-model="login.username">
				</label>

				<label class="item item-input">
					<input type="password" placeholder="Password" ng-model="login.password">
				</label>
			</div>

			<div class="btn-wrapper">
				<button class="button button-block button-positive" ng-click="doLogin()">
					Login
				</button>
			</div>

			<div class="info-wrapper">
				Belum memiliki username? <span class="login-text" ng-click="showRegister()">Register</span>
			</div>
		</div>

		<div id="filing-form" class="fade-in">
			<div class="list">
				<label class="item item-input">
					<input type="text" placeholder="Jenis Produk" ng-model="umroh.name" disabled>
				</label>

				<!-- <label class="item item-input item-select">
					<div class="input-label">
						Fasilitas
					</div>
					
					<select ng-model="filing.facility" ng-options="facility.value as facility.label for facility in facilities"></select>
				</label> -->
				
				<label class="item item-input">
					<input type="text" placeholder="Fasilitas" ng-model="filing.facility" disabled>
				</label>
				
				<label class="item item-input">
					<input type="text" placeholder="Nama Lengkap" ng-model="filing.name">
				</label>

				<div class="item item-input-inset">
					<label class="item-input-wrapper">
						<input type="text" placeholder="Tanggal Lahir" ng-model="filing.birthday" disabled>
					</label>

					<button class="button button-small" ng-click="openDatePicker()">
						<i class="icon ion-calendar"></i>
					</button>
				</div>

				<label class="item item-input item-select">
					<div class="input-label">
						Jenis Kelamin
					</div>
					
					<select ng-model="filing.gender" ng-options="gender.value as gender.label for gender in genders"></select>
				</label>

				<label class="item item-input">
					<input type="text" placeholder="Kota / Domisili" ng-model="filing.city">
				</label>

				<label class="item item-input">
					<textarea placeholder="Alamat Sesuai KTP" ng-model="filing.address"></textarea>
				</label>

				<label class="item item-input">
					<input type="text" placeholder="Kelurahan" ng-model="filing.kelurahan">
				</label>

				<label class="item item-input">
					<input type="text" placeholder="Kecamatan" ng-model="filing.kecamatan">
				</label>

				<label class="item item-input">
					<input type="number" placeholder="RT" ng-model="filing.rt">
				</label>

				<label class="item item-input">
					<input type="number" placeholder="RW" ng-model="filing.rw">
				</label>

				<label class="item item-input">
					<input type="number" placeholder="Kode Pos" ng-model="filing.postal_code">
				</label>

				<label class="item item-input">
					<input type="tel" placeholder="Nomor Handphone" ng-model="filing.phone">
				</label>

				<label class="item item-input">
					<input type="email" placeholder="Email" ng-model="filing.email">
				</label>

				<label class="item item-input item-select">
					<div class="input-label">
						Cabang Terdekat
					</div>
					
					<select ng-model="filing.nearest_branch" ng-options="branch.value as branch.label for branch in branchs"></select>
				</label>

				<label class="item item-input item-select">
					<div class="input-label">
						Pekerjaan
					</div>
					
					<select ng-model="filing.job" ng-options="jobs.value as jobs.label for jobs in jobs"></select>
				</label>

				<label class="item item-input item-select">
					<div class="input-label">
						Tipe Perusahaan
					</div>
					
					<select ng-model="filing.company_type" ng-options="company_type.value as company_type.label for company_type in company_types"></select>
				</label>

				<label class="item item-input item-select">
					<div class="input-label">
						Jabatan
					</div>
					
					<select ng-model="filing.job_position" ng-options="job_position.value as job_position.label for job_position in job_positions"></select>
				</label>

				<label class="item item-input item-select">
					<div class="input-label">
						Jenis Bidang Usaha
					</div>
					
					<select ng-model="filing.business_field" ng-options="business_field.value as business_field.label for business_field in business_fields"></select>
				</label>

				<label class="item item-input">
					<input type="number" placeholder="Tahun Mulai Bekerja" ng-model="filing.year_start_work">
				</label>

				<label class="item item-input">
					<input type="number" placeholder="Lama Bekerja" ng-model="filing.service_length">
				</label>

				<label class="item item-input">
					<input type="text" placeholder="Nama Kantor / Tempat Bekerja" ng-model="filing.office_name">
				</label>

				<label class="item item-input">
					<input type="tel" placeholder="No. Telpon Kantor" ng-model="filing.office_phone">
				</label>

				<label class="item item-input">
					<input type="number" placeholder="Penghasilan Perbulan (Rp.)" ng-model="filing.income">
				</label>

				<label class="item item-input item-select">
					<div class="input-label">
						Hubungi Saya ke
					</div>
					
					<select ng-model="filing.contact_to" ng-options="contact_to.value as contact_to.label for contact_to in contact_options"></select>
				</label>

				<ion-checkbox ng-model="filing.term1">Saya menyetujui bahwa data di atas benar adanya dan jika data ini tidak valid maka proses tidak dapat dilanjutkan</ion-checkbox>

				<ion-checkbox ng-model="filing.term2">Saya bersedia untuk dihubungi kembali oleh pihak bank melalui telepon untuk mendapatkan penjelasan dan konfirmasi lebih lanjut mengenai produk consumer financing.</ion-checkbox>
			</div>

			<div class="btn-wrapper">
				<button class="button button-block" ng-click="submitFiling()">
					Submit
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>