
<ion-view view-title="3. Metode Payment">

	<ion-content id="register-content">
      <!-- <div class="bg-header text-center">
          <div class="row">
              <div class="col">
				<a  class="txt-putih link-header not-active"><i class="fa fa-check txt-putih strip" aria-hidden="true"></i> Input Data</a>
				<i class="fa fa-minus txt-putih margin-left strip" aria-hidden="true"></i><i class="fa fa-minus txt-putih margin-right strip" aria-hidden="true"></i>
				<a  class="txt-putih link-header active">3. Payment</a>
              </div>

          </div>
      </div> -->

		<!-- <div id="umroh-register-loading-progress" class="loading-progress">
			<ion-spinner class="progress-circular"></ion-spinner>
		</div> -->

    <!-- <div id="status-buttons" class="text-center">
        <a ui-sref-active="active" ui-sref=".profile"><span>1</span> Profile</a>
        <a ui-sref-active="active" ui-sref=".interests"><span>2</span> Interests</a>
        <a ui-sref-active="active" ui-sref=".payment"><span>3</span> Payment</a>
    </div> -->


		<!-- <div id="register-form" >
			<div class="list">
				<label class="item item-input">
					<input type="text" placeholder="Jenis Produk" ng-model="umroh.name" disabled>
				</label>

				<label class="item item-input">
					<input type="text" placeholder="Nama Lengkap" ng-model="register.name">
				</label>

				<label class="item item-input">
					<textarea placeholder="Alamat Sesuai KTP" ng-model="register.address"></textarea>
				</label>

				<label class="item item-input item-select">
					<div class="input-label">
						Jenis Kelamin
					</div>

					<select ng-model="register.gender" ng-options="gender.value as gender.label for gender in genders"></select>
				</label>

				<label class="item item-input">
					<input type="tel" placeholder="Nomor Handphone" ng-model="register.phone">
				</label>

				<label class="item item-input item-select">
					<div class="input-label">
						Cabang Terdekat
					</div>

					<select ng-model="register.nearest_branch" ng-options="branch.value as branch.label for branch in branchs"></select>
				</label>
			</div>

			<div class="btn-wrapper">
				<button class="button button-block" ng-click="submitRegister()">
					Submit
				</button>
			</div> -->

			<!-- <div class="card">
				<div class="item item-divider">
				  1. Manual Transfer
				</div>
				<div class="item item-text-wrap no-padding">
					<ion-list>
						<ion-radio><img src="img/bni-syariah.png" style="max-width: 60px;"></ion-radio>
					</ion-list>
				</div>
			</div> -->

			<div class="card">
				<div class="item item-divider">
				  1. Credit Card
				</div>
				<div class="item item-text-wrap no-padding">
					<ion-list>
						<ion-radio ng-model="pay.channel" value="15"><img src="img/visa.png" style="max-width: 60px;"><img src="img/master-card.png" style="max-width: 60px;"></ion-radio>			
					</ion-list>
				</div>
			</div>
			<!-- <div class="card">
				<div class="item item-divider">
					2. Internet Banking
				</div>
				<div class="item item-text-wrap no-padding">
					<ion-list>
						<ion-radio ng-model="pay.channel" value="02"><img src="img/mandiri-clickpay.png" style="max-width: 60px;"></ion-radio>
					</ion-list>
				</div>
			</div> -->
			<div class="card">
				<div class="item item-divider">
					2. Transfer
				</div>
				<div class="item item-text-wrap no-padding">
					<ion-list>
						<ion-radio ng-model="pay.channel" value="ecoll"><img src="img/bni-logo.png" style="max-width: 60px;"></ion-radio>
					</ion-list>
				</div>
			</div>
			
		</div>

		<div class="btn-wrapper">
            <button class="button button-block" ng-click="submitPay()">
                Next
            </button>
        </div>
	</ion-content>
</ion-view>
