<ion-view view-title="Hasil Pencarian Umroh">
    <ion-content id="umroh-results-content">
    	<ion-list id="umroh-result">
			<ion-item ng-repeat="umroh in umrohs" class="umroh-list" ng-click="navigateTo('app.umroh-detail', umroh)">
				<h3>{{ umroh.name }}</h3>

				<div class="row">
					<div class="col-20">
						<img ng-src="{{ baseUrl + umroh.img}}" width="47px">
					</div>

					<div class="col-40">
						<span class="title">Kota</span>

						<div class="content">
							{{ umroh.city }}
						</div>
						
						<span class="title">Keberangkatan</span>

						<div class="content">
							{{ umroh.departure_month }}
						</div>
					</div>

					<div class="col">
						<span class="separator"></span>
						
						<span class="title">Harga</span>

						<div class="price">
							Rp. {{ umroh.price_million }} jt <span class="content"> / org</span>
						</div>

						<div class="content">
							{{ umroh.quota }} kursi tersedia
						</div>
					</div>
				</div>
			</ion-item>
		</ion-list>
		
		<ion-infinite-scroll ng-if="!noMoreUmroh" on-infinite="loadMoreUmrohs()" distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>