<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-stable">
			<ion-nav-back-button></ion-nav-back-button>

			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
			</ion-nav-buttons>
		</ion-nav-bar>

		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="left">
		<ion-header-bar class="bar-stable">
			<h1 class="title" id="side-title"><strong>Hasanah</strong>Personal</h1>
		</ion-header-bar>

		<ion-content>
			<ion-list>
          <!--<ion-item menu-close href="#/app/home">
                  <i class="fa fa-home"></i>
                  Home
          </ion-item>-->
          <a href="#/app/home" menu-close class="link-menu">
            <div class="row menu-item">
                <div class="col col-20 text-center" style="font-size:1.2rem;">
                    <i class="fa fa-home"></i>
                </div>
                <div class="col col-60" style="font-size:1rem;">
                    <span>Home</span>
                </div>
                <div class="col col-20 text-center" style="font-size:1.2rem;">
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
          </a>
          <!-- <ion-item menu-close href="#/app/profile">
                  <i class="fa fa-user"></i>
                  Personal
          </ion-item> -->
          <a href="#/app/profile" menu-close class="link-menu">
            <div class="row menu-item">
                <div class="col col-20 text-center" style="font-size:1.2rem;">
                    <i class="fa fa-user"></i>
                </div>
                <div class="col col-60" style="font-size:1rem;">
                    <span>Personal</span>
                </div>
                <div class="col col-20 text-center" style="font-size:1.2rem;">
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
          </a>

				<!-- <ion-item menu-close href="#/app/product">
                  <img src="img/product.png" width="16px">
                  Produk
        </ion-item> -->
        <a href="#/app/product" menu-close class="link-menu">
          <div class="row menu-item" >
              <div class="col col-20 text-center" style="font-size:1.2rem;">
                  <img src="img/product.png" width="16px">
              </div>
              <div class="col col-60" style="font-size:1rem;">
                  <span>Produk</span>
              </div>
              <div class="col col-20 text-center" style="font-size:1.2rem;">
                  <i class="fa fa-angle-right"></i>
              </div>
          </div>
        </a>
				<!-- <ion-item menu-close href="#/app/branch">
                  <img src="img/branch.png" width="16px">
                  Cabang
        </ion-item> -->
        <a menu-close href="#/app/branch" class="link-menu">
          <div class="row menu-item">
              <div class="col col-20 text-center" style="font-size:1.2rem;">
                  <img src="img/branch.png" width="16px">
              </div>
              <div class="col col-60" style="font-size:1rem;">
                  <span>Cabang</span>
              </div>
              <div class="col col-20 text-center" style="font-size:1.2rem;">
                  <i class="fa fa-angle-right"></i>
              </div>
          </div>
        </a>
				<!-- <ion-item menu-close href="#/app/merchant">
                  <img src="img/merchant.png" width="16px">
                  Merchants
        </ion-item> -->
        <a menu-close href="#/app/merchant" class="link-menu">
          <div class="row menu-item">
              <div class="col col-20 text-center" style="font-size:1.2rem;">
                  <img src="img/merchant.png" width="16px">
              </div>
              <div class="col col-60" style="font-size:1rem;">
                  <span>Merchants</span>
              </div>
              <div class="col col-20 text-center" style="font-size:1.2rem;">
                  <i class="fa fa-angle-right"></i>
              </div>
          </div>
        </a>
				<!-- <ion-item menu-close href="#/app/umroh">
                  <img src="img/umroh.png" width="16px">
                  Umroh
        </ion-item> -->
        <a menu-close href="#/app/umroh" class="link-menu">
          <div class="row menu-item">
              <div class="col col-20 text-center" style="font-size:1.2rem;">
                  <img src="img/umroh.png" width="16px">
              </div>
              <div class="col col-60" style="font-size:1rem;">
                  <span>Umroh</span>
              </div>
              <div class="col col-20 text-center" style="font-size:1.2rem;">
                  <i class="fa fa-angle-right"></i>
              </div>
          </div>
        </a>
				<!-- <ion-item menu-close href="#/app/property">
					<img src="img/property.png" width="16px"> Properti
        </ion-item> -->
        <a menu-close href="#/app/property" class="link-menu">
          <div class="row menu-item" >
              <div class="col col-20 text-center" style="font-size:1.2rem;">
                  <img src="img/property.png" width="16px">
              </div>
              <div class="col col-60" style="font-size:1rem;">
                  <span>Properti</span>
              </div>
              <div class="col col-20 text-center" style="font-size:1.2rem;">
                  <i class="fa fa-angle-right"></i>
              </div>
          </div>
        </a>

				<!-- <ion-item menu-close href="#/app/calculator">
					<i class="fa fa-calculator"></i> Kalkulator Pembiayaan
        </ion-item> -->
        <a menu-close href="#/app/calculator" class="link-menu">
          <div class="row menu-item" >
              <div class="col col-20 text-center" style="font-size:1.2rem;">
                  <i class="fa fa-calculator"></i>
              </div>
              <div class="col col-60" style="font-size:1rem;">
                  <span>Kalkulator Pembiayaan</span>
              </div>
              <div class="col col-20 text-center" style="font-size:1.2rem;">
                  <i class="fa fa-angle-right"></i>
              </div>
          </div>
        </a>
				<!-- <ion-item menu-close href="#/app/filing">
					<i class="fa fa-money"></i> Pengajuan Pembiayaan
        </ion-item> -->
        <a menu-close href="#/app/filing" class="link-menu">
          <div class="row menu-item">
              <div class="col col-20 text-center" style="font-size:1.2rem;">
                <i class="fa fa-money"></i>
              </div>
              <div class="col col-60" style="font-size:1rem;">
                  <span>Pengajuan Pembiayaan</span>
              </div>
              <div class="col col-20 text-center" style="font-size:1.2rem;">
                  <i class="fa fa-angle-right"></i>
              </div>
          </div>
        </a>

				<!-- <ion-item menu-close href="#/app/article">
					<i class="fa fa-file-text"></i> Artikel
        </ion-item> -->
        <a menu-close href="#/app/article" class="link-menu">
          <div class="row menu-item" >
              <div class="col col-20 text-center" style="font-size:1.2rem;">
                  <i class="fa fa-file-text"></i>
              </div>
              <div class="col col-60" style="font-size:1rem;">
                  <span>Artikel</span>
              </div>
              <div class="col col-20 text-center" style="font-size:1.2rem;">
                  <i class="fa fa-angle-right"></i>
              </div>
          </div>
        </a>
				<!-- <ion-item menu-close href="#/app/term">
					<i class="fa fa-list"></i> Istilah
        </ion-item> -->

        <a menu-close href="#/app/term" class="link-menu">
          <div class="row menu-item" >
              <div class="col col-20 text-center" style="font-size:1.2rem;">
                  <i class="fa fa-list"></i>
              </div>
              <div class="col col-60" style="font-size:1rem;">
                  <span>Istilah</span>
              </div>
              <div class="col col-20 text-center" style="font-size:1.2rem;">
                  <i class="fa fa-angle-right"></i>
              </div>
          </div>
        </a>

				<!-- <ion-item menu-close href="#/app/promo">
					<i class="fa fa-bullhorn"></i> Promo
        </ion-item> -->
        <a menu-close href="#/app/promo" class="link-menu">
          <div class="row menu-item" >
              <div class="col col-20 text-center" style="font-size:1.2rem;">
                  <i class="fa fa-bullhorn"></i>
              </div>
              <div class="col col-60" style="font-size:1rem;">
                  <span>Promo</span>
              </div>
              <div class="col col-20 text-center" style="font-size:1.2rem;">
                  <i class="fa fa-angle-right"></i>
              </div>
          </div>
        </a>

				<!-- <ion-item menu-close href="#/app/survey">
					<i class="fa fa-check-square"></i> Survey
        </ion-item> -->
        <a menu-close href="#/app/survey" class="link-menu">
          <div class="row menu-item" >
              <div class="col col-20 text-center" style="font-size:1.2rem;">
                  <i class="fa fa-check-square"></i>
              </div>
              <div class="col col-60" style="font-size:1rem;">
                  <span>Survey</span>
              </div>
              <div class="col col-20 text-center" style="font-size:1.2rem;">
                  <i class="fa fa-angle-right"></i>
              </div>
          </div>
        </a>

				<!-- <ion-item menu-close href="#/app/suggestion">
					<i class="fa fa-envelope"></i> Saran
        </ion-item> -->
        <a menu-close href="#/app/suggestion" class="link-menu">
          <div class="row menu-item" >
              <div class="col col-20 text-center" style="font-size:1.2rem;">
                  <i class="fa fa-envelope"></i>
              </div>
              <div class="col col-60" style="font-size:1rem;">
                  <span>Saran</span>
              </div>
              <div class="col col-20 text-center" style="font-size:1.2rem;">
                  <i class="fa fa-angle-right"></i>
              </div>
          </div>
        </a>

				<!-- <ion-item menu-close href="#/app/contact">
					<i class="fa fa-fax"></i> Hubungi Kami
        </ion-item> -->
        <a menu-close href="#/app/contact" class="link-menu">
          <div class="row menu-item" >
              <div class="col col-20 text-center" style="font-size:1.2rem;">
                  <i class="fa fa-fax"></i>
              </div>
              <div class="col col-60" style="font-size:1rem;">
                  <span>Hubungi Kami</span>
              </div>
              <div class="col col-20 text-center" style="font-size:1.2rem;">
                  <i class="fa fa-angle-right"></i>
              </div>
          </div>
        </a>


				<!-- <ion-item menu-close ng-click="showLogOutMenu()">
					<i class="fa fa-power-off"></i> Logout
				</ion-item> -->

				<!-- <ion-item menu-close href="#/app/profile">
					Profil
				</ion-item>

				<ion-item menu-close href="#/app/network">
					Jaringan
				</ion-item>

				<ion-item menu-close href="#/app/calendar">
					Kalender Kegiatan
				</ion-item>

				<ion-item menu-close href="#/app/schedule">
					Jadwal Siaran
				</ion-item>

				<ion-item menu-close href="#/app/stream-video">
					Stream
				</ion-item>

				<ion-item menu-close href="#/app/gallery">
					Gallery
				</ion-item> -->

				<!-- <ion-item menu-close href="#/app/donation">
					Donasi
				</ion-item> -->
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
