<ion-view view-title="Promo">
    <!-- <ion-content id="promo-content" class="fade-in"> -->
        <!-- <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
        </ion-refresher> -->

    	<!-- <ion-slide-box id="promo-content" active-slide="0" does-continue="true">
    		<ion-slide ng-repeat="promo in promos">
    			<div class="pin" ng-click="navigateTo('app.promo-detail', promo)">
                    <img ng-src="data:image/jpg;base64,{{ promo.img }}" />

                    <p>{{ promo.description }}</p>
                </div>
    		</ion-slide>
    	</ion-slide-box>
    </ion-content> -->

    <!-- <div id="promo-loading-progress" class="loading-progress">
        <ion-spinner class="progress-circular"></ion-spinner>
    </div> -->

    <ion-content id="promo-content">
        <ion-list id="promo-list">
            <ion-item ng-repeat="promo in promos" class="promo-list" ng-click="navigateTo('app.promo-detail', promo)">
                <div class="promo-thumb">
                    <img ng-src="{{ baseUrl + promo.img }}">
                </div>

                <h3>{{ promo.description }}</h3>
            </ion-item>
        </ion-list>

        <ion-infinite-scroll ng-if="!noMorePromo" on-infinite="loadMorePromos()" distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>