<ion-view view-title="Promo">
	<ion-content id="promo-detail-content">
		<div id="promo-header">
			<img ng-src="{{ baseUrl + promo.img }}">
		</div>

		<div id="promo-detail" ng-bind-html="promo.content"></div>
	</ion-content>
</ion-view>