<ion-view view-title="{{ term.name }}">
	<ion-content id="term-detail-wrapper">
		<div id="term-detail-content">
			<h3>{{ term.name }}</h3>

			<hr>

			<div id="term-detail" ng-bind-html="term.content"></div>
		</div>
	</ion-content>
</ion-view>