<ion-view view-title="Istilah">
    <ion-content id="term-content" class="fade-in">
    	<ion-refresher
			pulling-text="Pull to refresh..."
			on-refresh="doRefresh()">
		</ion-refresher>
		
		<ion-list>
			<ion-item ng-repeat="term in terms" class="term-list" ng-click="navigateTo('app.term-detail', term)">
				<span class="term">{{ term.name }}</span>
				<span class="item-note">
					<img src="img/chevron.svg">
				</span>
			</ion-item>
		</ion-list>
    </ion-content>

    <div id="term-loading-progress" class="loading-progress">
        <ion-spinner class="progress-circular"></ion-spinner>
    </div>
</ion-view>