<ion-view view-title="Produk">
    <ion-content id="product-content" class="fade-in">
		<ion-list>
			<ion-item ng-repeat="product in products" class="row product-list" ng-click="navigateTo('app.product-detail', product)">
				<div class="col-20 product-thumb">
					<img ng-src="{{ baseUrl + product.img }}">
				</div>

				<div class="col-80 product-list-content">
					<span class="product-name">{{ product.name }}</span>
					<div class="product-desc">{{ product.description }}</div>
				</div>
			</ion-item>
		</ion-list>
    </ion-content>

    <div id="product-loading-progress" class="loading-progress">
        <ion-spinner class="progress-circular"></ion-spinner>
    </div>
</ion-view>
