<ion-view view-title="Produk">
	<ion-content id="product-detail-wrapper">
		<div id="product-detail-content">
			<div id="product-detail-header" class="row">
				<div class="col-20 product-detail-thumb">
					<img ng-src="{{ baseUrl + product.img }}">
				</div>

				<div class="col-80">
					<h3>{{ product.name }}</h3>
				</div>
			</div>

			<hr>

			<div id="product-detail" ng-bind-html="product.content"></div>
		</div>
	</ion-content>
</ion-view>