<ion-view view-title="Detail Artikel">
	<ion-content id="article-detail-content">
		<div id="article-detail-wrapper">
			<div class="toolbar-image-cover article">
				<img ng-src="{{ baseUrl + article.img }}">
			</div>
			
			<div class="article-content">
				<h3>{{ article.title }}</h3>
				<div ng-bind-html="article.content"></div>
			</div>
		</div>
	</ion-content>
</ion-view>