<ion-view view-title="Artikel">
    <ion-content id="article-content" class="fade-in">
		<ion-list>
			<ion-item ng-repeat="category in categories" class="row category-list" ng-click="navigateTo('app.subcategory', category)">
				<div class="col-33 category-thumb">
					<img ng-src="{{ baseUrl + category.img }}">
				</div>

				<div class="col-67 category-list-content">
					<span class="category-name">{{ category.name }}</span>
					<hr>
					<div class="category-desc">{{ category.description }}</div>
				</div>
			</ion-item>
		</ion-list>
    </ion-content>

    <div id="article-loading-progress" class="loading-progress">
        <ion-spinner class="progress-circular"></ion-spinner>
    </div>
</ion-view>