<ion-view view-title="{{ subCategory.name }}">
    <ion-content id="article-list-content">
    	<div id="article-wrapper" class="fade-in">
			<ion-list>
				<ion-item ng-repeat="article in articles" class="row article-list" ng-click="navigateTo('app.article-detail', article)">
					<div class="col-33 article-thumb">
						<img ng-src="{{ baseUrl + article.img }}">
					</div>

					<div class="col-67 article-list-content">
						<span class="article-name">{{ article.title }}</span>
						<span class="article-desc">{{ article.description }}</span>
						<span class="article-time">{{ article.date }}</span>
					</div>
				</ion-item>
			</ion-list>
			
			<!-- <ion-infinite-scroll on-infinite="loadMoreArticles()" distance="1%">
	        </ion-infinite-scroll> -->
    	</div>
    </ion-content>

    <div id="article-list-loading-progress" class="loading-progress">
        <ion-spinner class="progress-circular"></ion-spinner>
    </div>
</ion-view>