<ion-view view-title="{{ category.name }}">
    <ion-content id="subcategory-content" class="fade-in">
		<ion-list>
			<ion-item ng-repeat="subCategory in subCategories" class="row subCategory-list" ng-click="navigateTo('app.article-list', subCategory)">
				<div class="col-33 subcategory-thumb">
					<img ng-src="{{ baseUrl + subCategory.img }}">
				</div>

				<div class="col-67 subcategory-list-content">
					<span class="subcategory-name">{{ subCategory.name }}</span>
					<hr>
					<div class="subcategory-desc">{{ subCategory.description }}</div>
				</div>
			</ion-item>
		</ion-list>
    </ion-content>

    <div id="subcategory-loading-progress" class="loading-progress">
        <ion-spinner class="progress-circular"></ion-spinner>
    </div>
</ion-view>