<ion-view view-title="Home">
	<ion-content id="home-content">
		<ion-slide-box class="fade-in" id="home-slide-box" auto-play="true" slide-interval="7000" does-continue="true">
    		<ion-slide ng-repeat="slide in slides">
                <img ng-src="{{ baseUrl + slide.img }}">
                <!-- <h3>{{ slide.description }}</h3> -->
                <!-- <h5>{{ slide.date }}</h5> -->
    		</ion-slide>
    	</ion-slide-box>

		<div id="home-loading-progress" class="loading-progress">
			<ion-spinner class="progress-circular"></ion-spinner>
		</div>

        <!-- <div id="quick-menu-title">Quick Menu</div> -->

        <div id="quick-menu">
            <div class="row">
                <div class="col even">

                    <div ng-repeat="(key, quick_menu) in quick_menus">
                        <a href="#/app/{{ quick_menu.link }}">
                            <div class="pin"  ng-if="$even">
                                <img class="icon" ng-src="{{ baseUrl + quick_menu.img }}">

                                <h4>{{ quick_menu.title }}</h4>

                                <p>{{ quick_menu.description }}</p>

                                <a href="#/app/{{ quick_menu.link }}">
                                    <div class="button-more">
                                        <img src="img/more.png" height="36">

                                        <!-- <span>Selengkapnya</span>

                                        <img src="img/more-yellow.svg" ng-if="key == 0">

                                        <img src="img/more-green.svg" ng-if="key == 2">

                                        <img src="img/more-blue.svg" ng-if="key == 4"> -->
                                    </div>
                                </a>
                            </div>
                        </a>
                    </div>

                </div>
                

                <div class="col odd">
                    <div ng-repeat="(key, quick_menu) in quick_menus">
                    <a href="#/app/{{ quick_menu.link }}">
                    <div class="pin" ng-if="$odd">
                        <img class="icon" ng-src="{{ baseUrl + quick_menu.img }}">

                        <h4>{{ quick_menu.title }}</h4>

                        <p>{{ quick_menu.description }}</p>

                        <a href="#/app/{{ quick_menu.link }}">
                            <div class="button-more">
                                <img src="img/more.png" height="36">

                                <!-- <span>Selengkapnya</span>

                                <img src="img/more-blue.svg" ng-if="key == 1">

                                <img src="img/more-red.svg" ng-if="key == 3">

                                <img src="img/more-yellow.svg" ng-if="key == 5"> -->
                            </div>
                        </a>
                    </div>
                    </a>
                    </div>
                </div>

                <!-- <div class="col even">
                    <div class="pin">
                        <img src="img/umroh.svg">
                        <h4>Umroh BNI</h4>
                        <p>Daftar Paket Umrah <br>BNI Syariah</p>

                        <a href="#/app/umroh">
                            <div class="button-more yellow">
                                <span>Selengkapnya</span>
                                <img src="img/more-yellow.svg">
                            </div>
                        </a>
                    </div>

                    <div class="pin">
                        <img src="img/product.svg">
                        <h4>Produk BNI</h4>
                        <p>Daftar Produk BNI Syariah</p>

                        <a href="#/app/product">
                            <div class="button-more green">
                                <span>Selengkapnya</span>
                                <img src="img/more-green.svg">
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col odd">
                    <div class="pin">
                        <img src="img/property.svg">
                        <h4>Properti BNI</h4>
                        <p>Daftar Properti BNI Syariah</p>

                        <a href="#/app/property">
                            <div class="button-more blue">
                                <span>Selengkapnya</span>
                                <img src="img/more-blue.svg">
                            </div>
                        </a>
                    </div>

                    <div class="pin" ng-click="navigateTo('app.product-detail', product)">
                        <img src="img/merchant.svg">
                        <h4>Daftar Merchant</h4>
                        <p>Daftar Merchant BNI Syariah</p>

                        <a href="#/app/merchant">
                            <div class="button-more red">
                                <span>Selengkapnya</span>
                                <img src="img/more-red.svg">
                            </div>
                        </a>
                    </div>
                </div> -->
            </div>

            <div class="col">
                <div class="div-contact">
                    <a ui-sref="app.contact">
                        <button class="button button-block button-positive">Hubungi Kami</button>
                    </a>
                </div>
            </div>
        </div>
	</ion-content>
</ion-view>
