<script id="my-modal.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar>
        <h1 class="title">My Modal title</h1>
      </ion-header-bar>
      <ion-content>
        Hello!
      </ion-content>
    </ion-modal-view>
  </script>