<ion-view view-title="Saran">
    <ion-content id="suggestion-content">
		<div class="list">
			<label class="item item-input">
				<input type="text" placeholder="Nama Lengkap" ng-model="suggestion.name">
			</label>

			<label class="item item-input">
				<input type="tel" placeholder="Nomor Telepon" ng-model="suggestion.phone">
			</label>

			<label class="item item-input">
				<input type="email" placeholder="Email" ng-model="suggestion.email">
			</label>

			<label class="item item-input">
				<textarea placeholder="Saran" ng-model="suggestion.suggestion"></textarea>
			</label>
		</div>

		<div class="btn-wrapper">
			<button class="button button-block" ng-click="submitSuggestion()">
				Submit
			</button>
		</div>
    </ion-content>
</ion-view>