<ion-view view-title="History">
        <ion-content id="profile-content">
                
        </ion-content>
        <ion-tabs class="tabs-positive tabs-icon-top tabs-top">
                <ion-tab title="belum dibayar" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
                    
                  <div class="list" style="margin-top:110px;overflow-y: auto;padding-bottom:110px;">
                        <div class="row" style="cursor:pointer;margin-top:110px;overflow-y: auto;padding-bottom:110px;" ng-if="var.jmlTab1 == 0">
                                <div class="col text-left text-center">
                                    <h2 class="bold txt-dark-orange" style="font-weight:bold;font-size:18px;">Transaksi Dengan Status Belum Dibayar Belum tersedia</h2>
                                </div>
                        </div>
                      <div class="item padding-all" style="cursor:pointer;" ng-repeat="his in history" ng-if="his.status == 1 || his.status == 2" ng-click="navigateTo('app.order-detail', his)">
                            <div class="row">
                                <div class="col text-left">
                                    <h2 class="bold txt-dark-grey" style="font-weight:bold">{{his.date}}</h2>
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col text-left">
                                        <h2 class="bold txt-dark-orange" style="font-weight:bold;font-size:30px;">Rp. {{his.price | number}}</h2>
                                    </div>
                            </div>
                            <div class="row">
                                    <div class="col text-left">
                                        <h2 class="bold txt-dark-orange" style="font-weight:bold">{{his.order_id}}</h2>
                                    </div>
                            </div>
                            <div class="row" ng-if="his.channel == 'ecoll'">
                                    <div class="col text-left">
                                        <h2 class="bold txt-dark-grey" style="font-weight:bold">TRANSFER</h2>
                                    </div>
                            </div>

                            <div class="row" ng-if="his.channel == '02'">
                                    <div class="col text-left">
                                        <h2 class="bold txt-dark-grey" style="font-weight:bold">KARTU KREDIT</h2>
                                    </div>
                            </div>
                            <div class="row" ng-if="his.channel == '15'">
                                    <div class="col text-left">
                                        <h2 class="bold txt-dark-grey" style="font-weight:bold">KARTU KREDIT</h2>
                                    </div>
                            </div>
                            <div class="row" ng-if="his.status == 1">
                                <div class="col">
                                    <h3 class="txt-dark-grey">Hasanah - Pesanan Umroh Kamu : <label class="txt-medium-orange" style="font-weight: bold;">PENDING</label></h3>
                                </div>
                            </div>
                            <div class="row" ng-if="his.status == 2">
                                    <div class="col">
                                        <h3 class="txt-medium-green" style="font-weight: bold;">pembayaran sukses, paket sedang proses</h3>
                                    </div>
                                </div>
                            
                            <div class="row">
                                    <div class="col text-left">
                                        <h2 class="bold txt-dark-orange" style="font-weight:bold">{{his.va}}</h2>
                                    </div>
                            </div>
                      </div>
                  </div>
                </ion-tab>
          
                <ion-tab title="sudah dibayar" icon-on="ion-cash" icon-off="ion-cash">
                    
                    
                    <div class="list" style="margin-top:110px;overflow-y: auto;padding-bottom:110px;">
                            <div class="row" style="cursor:pointer;margin-top:110px;overflow-y: auto;padding-bottom:110px;" ng-if="var.jmlTab2 == 0">
                                    <div class="col text-left text-center">
                                        <h2 class="bold txt-dark-orange" style="font-weight:bold;font-size:18px;">Transaksi Dengan Status Sudah Bayar Belum tersedia</h2>
                                    </div>
                            </div>
                            <div class="item padding-all" style="cursor:pointer;" ng-repeat="his in history" ng-if="his.status == 3 || his.status == 4" ng-click="navigateTo('app.order-detail', his)">
                                    <div class="row">
                                        <div class="col text-left">
                                            <h2 class="bold txt-dark-grey" style="font-weight:bold">{{his.date}}</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                            <div class="col text-left">
                                                <h2 class="bold txt-dark-orange" style="font-weight:bold;font-size:30px;">Rp. {{his.price | number}}</h2>
                                            </div>
                                    </div>
                                    <div class="row">
                                            <div class="col text-left">
                                                <h2 class="bold txt-dark-orange" style="font-weight:bold">{{his.order_id}}</h2>
                                            </div>
                                    </div>
                                    <div class="row" ng-if="his.channel == 'ecoll'">
                                            <div class="col text-left">
                                                <h2 class="bold txt-dark-grey" style="font-weight:bold">TRANSFER</h2>
                                            </div>
                                    </div>
        
                                    <div class="row" ng-if="his.channel == '02'">
                                            <div class="col text-left">
                                                <h2 class="bold txt-dark-grey" style="font-weight:bold">KARTU KREDIT</h2>
                                            </div>
                                    </div>
                                    <div class="row" ng-if="his.channel == '15'">
                                            <div class="col text-left">
                                                <h2 class="bold txt-dark-grey" style="font-weight:bold">KARTU KREDIT</h2>
                                            </div>
                                    </div>
                                    <div class="row" ng-if="his.status == 3">
                                            <div class="col">
                                                <h3 class="txt-medium-green" style="font-weight: bold;">paket sedang dalam pengiriman: {{his.tracking_id }}, {{his.company_name}}</h3>
                                            </div>
                                    </div>
                                    <div class="row" ng-if="his.status == 4">
                                            <div class="col">
                                                <h3 class="txt-medium-green" style="font-weight: bold;">paket sedang dalam pengiriman: {{his.tracking_id }}, {{his.company_name}}</h3>
                                            </div>
                                        </div>
                                    
                                    <div class="row">
                                            <div class="col text-left">
                                                <h2 class="bold txt-dark-orange" style="font-weight:bold">{{his.va}}</h2>
                                            </div>
                                    </div>
                            </div>
                        </div>
                </ion-tab>
          
                <ion-tab title="Selesai" icon-on="ion-checkmark" icon-off="ion-checkmark">
                    <div class="list" style="margin-top:110px;overflow-y: auto;padding-bottom:110px;">
                            <div class="row" style="cursor:pointer;margin-top:110px;overflow-y: auto;padding-bottom:110px;" ng-if="var.jmlTab3 == 0">
                                    <div class="col text-left text-center">
                                        <h2 class="bold txt-dark-orange" style="font-weight:bold;font-size:18px;">Transaksi Dengan Status Selesai Belum tersedia</h2>
                                    </div>
                            </div>
                            <div class="item padding-all" style="cursor:pointer;" ng-repeat="his in history" ng-if="his.status == 5" ng-click="navigateTo('app.order-detail', his)">
                                <div class="row">
                                    <div class="col text-left">
                                        <h2 class="bold txt-dark-grey" style="font-weight:bold">{{his.date}}</h2>
                                    </div>
                                </div>
                                <div class="row">
                                        <div class="col text-left">
                                            <h2 class="bold txt-dark-orange" style="font-weight:bold;font-size:30px;">Rp. {{his.price | number}}</h2>
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col text-left">
                                            <h2 class="bold txt-dark-orange" style="font-weight:bold">{{his.order_id}}</h2>
                                        </div>
                                </div>
                                <div class="row" ng-if="his.channel == 'ecoll'">
                                        <div class="col text-left">
                                            <h2 class="bold txt-dark-grey" style="font-weight:bold">TRANSFER</h2>
                                        </div>
                                </div>
    
                                <div class="row" ng-if="his.channel == '02'">
                                        <div class="col text-left">
                                            <h2 class="bold txt-dark-grey" style="font-weight:bold">KARTU KREDIT</h2>
                                        </div>
                                </div>
                                <div class="row" ng-if="his.channel == '15'">
                                        <div class="col text-left">
                                            <h2 class="bold txt-dark-grey" style="font-weight:bold">KARTU KREDIT</h2>
                                        </div>
                                </div>
                                <div class="row" ng-if="his.status == 5">
                                    <div class="col">
                                        <h3 class="txt-dark-grey"><label class="txt-dark-green" style="font-weight: bold;">paket sudah diterima</label></h3>
                                    </div>
                                </div>
                                
                                <div class="row">
                                        <div class="col text-left">
                                            <h2 class="bold txt-dark-orange" style="font-weight:bold">{{his.va}}</h2>
                                        </div>
                                </div>
                            </div>
                        </div>
                </ion-tab>
          
                <ion-tab title="Batal" icon-on="ion-close" icon-off="ion-close">
                    <div class="list" style="margin-top:110px;overflow-y: auto;padding-bottom:110px;">
                            <div class="row" style="cursor:pointer;margin-top:110px;overflow-y: auto;padding-bottom:110px;" ng-if="var.jmlTab4 == 0">
                                    <div class="col text-left text-center">
                                        <h2 class="bold txt-dark-orange" style="font-weight:bold;font-size:18px;">Transaksi Dengan Status Batal Belum tersedia</h2>
                                    </div>
                            </div>
                            <div class="item padding-all" style="cursor:pointer;" ng-repeat="his in history" ng-if="his.status == 6 || his.status == 7" ng-click="navigateTo('app.order-detail', his)">
                                <div class="row">
                                    <div class="col text-left">
                                        <h2 class="bold txt-dark-grey" style="font-weight:bold">{{his.date}}</h2>
                                    </div>
                                </div>
                                <div class="row">
                                        <div class="col text-left">
                                            <h2 class="bold txt-dark-orange" style="font-weight:bold;font-size:30px;">Rp. {{his.price | number}}</h2>
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col text-left">
                                            <h2 class="bold txt-dark-orange" style="font-weight:bold">{{his.order_id}}</h2>
                                        </div>
                                </div>
                                <div class="row" ng-if="his.channel == 'ecoll'">
                                        <div class="col text-left">
                                            <h2 class="bold txt-dark-grey" style="font-weight:bold">TRANSFER</h2>
                                        </div>
                                </div>
    
                                <div class="row" ng-if="his.channel == '02'">
                                        <div class="col text-left">
                                            <h2 class="bold txt-dark-grey" style="font-weight:bold">KARTU KREDIT</h2>
                                        </div>
                                </div>
                                <div class="row" ng-if="his.channel == '15'">
                                        <div class="col text-left">
                                            <h2 class="bold txt-dark-grey" style="font-weight:bold">KARTU KREDIT</h2>
                                        </div>
                                </div>
                                <div class="row" ng-if="his.status == 6">
                                    <div class="col">
                                        <h3 class="txt-dark-grey"><label class="txt-medium-orange" style="font-weight: bold;">CANCEL</label></h3>
                                    </div>
                                </div>
                                <div class="row" ng-if="his.status == 7">
                                        <div class="col">
                                            <h3 class="txt-medium-green" style="font-weight: bold;"><label class="txt-medium-orange" style="font-weight: bold;">REFUND</label></h3>
                                        </div>
                                </div>
                                
                                <div class="row">
                                        <div class="col text-left">
                                            <h2 class="bold txt-dark-orange" style="font-weight:bold">{{his.va}}</h2>
                                        </div>
                                </div>
                            </div>
                        </div>
                </ion-tab>
              </ion-tabs>
  
  
</ion-view>
