<ion-view view-title="Inbox">
    <ion-content>
                
                
    </ion-content>
  <ion-floating-button has-footer="false" button-color="#2AC9AA" icon="ion-plus" icon-color="#fff" ng-click="newMessage();">
  </ion-floating-button>

  <ion-tabs class="tabs-positive tabs-icon-top tabs-top">
      <ion-tab title="Inbox" icon-on="ion-email" icon-off="ion-email">
        <div class="list" style="margin-top:115px;overflow-y:scroll;padding-bottom:115px;">
                <div class="row" ng-if="var.jmlInbox == 0">
                    <div class="col text-center txt-medium-orange">
                        <h3 class="txt-medium-orange">Inbox Is Empty</h3>
                    </div>
                </div>
                <div class="item padding-all" style="cursor:pointer;word-wrap: break-word;overflow: hidden;
                text-overflow: unset;
                white-space: normal;" ng-repeat="sent in sentItem" ng-if="sent.reply != null">
                        <div class="row">
                            <div class="col text-left bold overme txt-medium-orange" ng-if="sent.travelagent_id == null">
                                <span>Administrator</span>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col text-left bold overme txt-medium-orange" ng-if="sent.travelagent_id != null">
                                    <span>{{sent.name}}</span>
                                </div>
                        </div>
                        <div class="row">
                            <div class="col text-left bold overme">
                                <span>{{sent.subject}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-left bold">
                                <span>Send</span>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col col-40 text-left" style="font-size:0.8rem">
                                        <span>{{sent.create_date}}</span>
                                </div>
                                <div class="col col-60 text-left">
                                    <span>{{sent.description}}</span>
                                </div>
                                
                        </div>
                        <div class="row">
                                <div class="col text-right bold">
                                    <span>Reply</span>
                                </div>
                            </div>
                        <div class="row">
                            <div class="col col-60 text-right">
                                <span>{{sent.reply}}</span>
                            </div>
                            <div class="col col-40 text-right" style="font-size:0.8rem">
                                <span>{{sent.reply_date}}</span>
                            </div>
                        </div>
                </div>
        </div>
      </ion-tab>

      <ion-tab title="Sent" icon-on="ion-android-send" icon-off="ion-android-send">
        <div class="list" style="margin-top:115px;overflow-y:scroll;padding-bottom:115px;">
            <div class="row" ng-if="var.jmlSent == 0">
                    <div class="col text-center txt-medium-orange">
                        <h3 class="txt-medium-orange">Sent Item Is Empty</h3>
                    </div>
            </div>
            <div class="item padding-all" style="cursor:pointer;word-wrap: break-word;overflow: hidden;
            text-overflow: unset;
            white-space: unset;" ng-repeat="sent in sentItem" ng-if="sent.reply == null">
                <div class="row">
                        <div class="col text-left bold overme txt-medium-orange" ng-if="sent.travelagent_id == null">
                            <span>Administrator</span>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col text-left bold overme txt-medium-orange" ng-if="sent.travelagent_id != null">
                                <span>{{sent.name}}</span>
                            </div>
                    </div>
                    <div class="row">
                        <div class="col text-left bold overme">
                            <span>{{sent.subject}}</span>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col col-60 text-left">
                                <span>{{sent.description}}</span>
                            </div>
                            <div class="col col-40 text-right" style="font-size:0.8rem">
                                <span>{{sent.create_date}}</span>
                            </div>
                    </div>
            </div>
        </div>
      </ion-tab>

      <!-- <ion-tab title="Delete" icon-on="ion-trash-b" icon-off="ion-trash-b">
        <div class="list" style="margin-top:115px;overflow-y:scroll;padding-bottom:115px;">
            <div class="item padding-all" style="cursor:pointer;">
                <div class="row">
                    <div class="col col-80 text-left bold overme">
                        Admin
                    </div>
                    <div class="col col-20 text-right">
                        18:45
                    </div>
                </div>
                <div class="row">
                  <div class="col col-80 text-left overme">
                      Bertanya Tentang Invoice Nomor : 091123113
                  </div>
                  <div class="col col-20 text-right txt-light-orange">
                      <i class="fa fa-star-o"></i>
                  </div>
                </div>
            </div>
        </div>
      </ion-tab> -->


  </ion-tabs>

	
</ion-view>
