<ion-view view-title="New Message">
    <ion-content>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">To :</span>
                <input type="text" placeholder="Subject" ng-model="var.to" readonly>
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Subject :</span>
              <input type="text" placeholder="Subject" ng-model="var.subject">
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Pesan :</span>
              <input type="text" placeholder="Pesan" ng-model="var.message">
            </label>
        </div>
        <div class="row">
            <div class="col">
                <div class="btn-wrapper">
                    <button class="button button-block bg-hijau txt-putih" ng-click="kirimPesan()">
                        Kirim
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
  </ion-view>
  