<ion-view view-title="Order Detail">
  <ion-content>
      <div class="card">
          <div class="item item-divider">
              Paket Umroh
          </div>
          <div class="item item-text-wrap">
              <div class="row">
                  <div class="col no-padding txt-medium-grey">
                      Nama Paket
                  </div>
              </div>
              <div class="row">
                  <div class="col no-padding">
                      {{detail.umroh.name}}
                  </div>
              </div>
    
              <div class="row" style="margin-top:10px;">
                  <div class="col no-padding txt-medium-grey">
                      Jenis Paket
                  </div>
              </div>
              <div class="row">
                  <div class="col no-padding">
                      {{detail.umroh.packet}}
                  </div>
              </div>
    
              <div class="row" style="margin-top:10px;">
                  <div class="col no-padding txt-medium-grey">
                      Maskapai
                  </div>
              </div>
              <div class="row">
                  <div class="col no-padding">
                      {{detail.umroh.plane}}
                  </div>
              </div>
    
              <div class="row" style="margin-top:10px;">
                  <div class="col no-padding txt-medium-grey">
                      Bintang Hotel
                  </div>
              </div>
              <div class="row">
                <div class="col no-padding txt-light-orange" >
                      <i ng-repeat="st in bintang" class="fa fa-star"></i>
                </div>
            </div>
          </div>
        </div>


        <div class="card">
            <div class="item item-divider">
              Harga Detail
            </div>
            <div class="item item-text-wrap">
                <div class="row no-padding">
                    <div class="col col-40 txt-medium-orange no-padding">
                        Tipe Pembayaran
                    </div>
                    <div class="col col-20 text-center no-padding">
                        :
                    </div>
                    <div class="col col-40  txt-medium-orange no-padding">
                        {{detail.payment_type}}
                    </div>
                </div>
              </div>
              <div class="item item-text-wrap">  
                <div class="row no-padding">
                    <div class="col col-40 text-left no-padding">
                        Dewasa
                    </div>
                    <div class="col col-20 text-center no-padding">
                        x {{var.jmlDewasa}}
                    </div>
                    <div class="col col-40 text-right no-padding txt-dark-orange bold">
                       Rp. {{var.totalBiayaDewasa | number}}
                    </div>
                </div>
            </div>
            <div class="item item-text-wrap">
                <div class="row no-padding">
                    <div class="col col-40 text-left no-padding">
                        Usia 3 - 16 Tahun
                    </div>
                    <div class="col col-20 text-center no-padding">
                        x {{var.jmlInfant}}
                    </div>
                    <div class="col col-40 text-right no-padding txt-dark-orange bold">
                        Rp. {{var.totalBiayaInfant | number}}
                    </div>
                </div>
            </div>
            <div class="item item-text-wrap">
                <div class="row no-padding">
                    <div class="col col-40 text-left no-padding">
                        Usia 0 - 2 Tahun
                    </div>
                    <div class="col col-20 text-center no-padding">
                        x {{var.jmlChild}}
                    </div>
                    <div class="col col-40 text-right no-padding txt-dark-orange bold">
                        Rp. {{var.totalBiayaChild | number}}
                    </div>
                </div>
            </div>
            <div class="item item-text-wrap">
                <div class="row no-padding">
                    <div class="col col-40 text-left no-padding">
                        Mahram
                    </div>
                    <div class="col col-20 text-center no-padding">
                        x {{var.jmlMahram}}
                    </div>
                    <div class="col col-40 text-right no-padding txt-dark-orange bold">
                        Rp. {{var.totalBiayaMahram | number}}
                    </div>
                </div>
            </div>
            <div class="item item-text-wrap">
                <div class="row no-padding">
                    <div class="col col-40 text-left no-padding">
                        Shipping + handling
                    </div>
                    <div class="col col-20 text-center no-padding">
                        x {{var.jmlShipping}}
                    </div>
                    <div class="col col-40 text-right no-padding txt-dark-orange bold">
                        Rp. {{var.totalBiayaShipping | number}}
                    </div>
                </div>
            </div>
            <div class="item item-divider">
                Total Biaya
            </div>
            <div class="item item-text-wrap">
                
                
                <div class="row no-padding" style="margin-top:10px;">
                    <div class="col text-left col-20 no-padding" style="font-size: 1rem;">
                            Total
                    </div>
                    <div class="col col-80 text-right bold no-padding txt-dark-orange" style="font-size: 1rem;" >
                        Rp. {{var.totalBiaya | number}}
                    </div>
                </div>
                
            </div>
            <div class="item item-divider">
                Yang Harus Dibayar
            </div>
            <div class="item item-text-wrap" ng-if="detail.payment_type == 'lunas'">
                
    
                <div class="row no-padding" style="margin-top:10px;">
                    <div class="col text-left col-20 no-padding" style="font-size: 1rem;">
                        Lunas
                    </div>
                    <div class="col col-80 text-right bold no-padding txt-dark-orange" style="font-size: 1rem;" >
                        Rp. {{detail.price | number}}
                    </div>
                </div>
                
            </div>
            <div class="item item-text-wrap" ng-if="detail.payment_type == 'dp'">
                <div class="row no-padding" style="margin-top:10px;">
                    <div class="col text-left col-20 no-padding" style="font-size: 1rem;">
                        DP
                    </div>
                    <div class="col col-80 text-right bold no-padding txt-dark-orange" style="font-size: 1rem;" >
                        Rp. {{detail.price | number}}
                    </div>
                </div>
            </div>
            <div class="item item-divider" ng-if="detail.status == 5 && umroh.is_rated == false">
                    Penilaian Dan Kirim Pesan
            </div>
            <div class="item item-text-wrap no-padding" ng-if="detail.status == 5 && umroh.is_rated == false">
                <div class="row">
                    <div class="col">
                        <button class="button button-block bg-medium-orange txt-putih" ng-click="showStar(detail)">
                                <label>Penilaian</label>
                        </button>
                    </div>
                    <div class="col">
                        <button class="button button-block bg-medium-orange txt-putih" ng-click="sendPesan()">
                                <label>Kirim Pesan</label>
                        </button>
                    </div>
                </div>
            </div>
            <div class="item item-divider" ng-if="detail.status == 5 && umroh.is_rated == true">
                    Kirim Pesan
            </div>
            <div class="item item-text-wrap no-padding" ng-if="detail.status == 5 && umroh.is_rated == true">
                <div class="row">
                    <div class="col">
                        <button class="button button-block bg-medium-orange txt-putih" ng-click="sendPesan()">
                                <label>Kirim Pesan</label>
                        </button>
                    </div>
                </div>
            </div>
            <div class="item item-divider" ng-if="detail.status == 1 || detail.status == 2 || detail.status == 3 || detail.status == 4">
                    Update Status & Kirim Pesan
            </div>
            <div class="item item-text-wrap no-padding" ng-if="detail.status == 1 || detail.status == 2 || detail.status == 3 || detail.status == 4">
                <div class="row">
                    <div class="col">
                        <button class="button button-block bg-medium-orange txt-putih" ng-click="updateStatus()">
                            <label ng-if="detail.status == 1">Cancel</label>
                            <label ng-if="detail.status == 2">Refund</label>
                            <label ng-if="detail.status == 3">Sudah Terima</label>
                            <label ng-if="detail.status == 4">Sudah Terima</label>
                        </button>
                    </div>
                    <div class="col">
                        <button class="button button-block bg-medium-orange txt-putih" ng-click="sendPesan()">
                                <label>Kirim Pesan</label>
                        </button>
                    </div>
                </div>
            </div>
          </div>

          

          <!-- <div class="row" ng-if="detail.status == 1 || detail.status == 2 || detail.status == 3 || detail.status == 4">
                <div class="col">
                        <div class="btn-wrapper">
                                <button class="button button-block bg-medium-orange txt-putih" ng-click="updateStatus()">
                                        <label ng-if="detail.status == 1">Cancel</label>
                                        <label ng-if="detail.status == 2">Refund</label>
                                        <label ng-if="detail.status == 3">Sudah Terima</label>
                                        <label ng-if="detail.status == 4">Sudah Terima</label>
                                </button>
                        </div>
                </div>
          </div> -->

          
          
          <!-- <div class="row">
                <div class="col">
                        <div class="btn-wrapper">
                                <button class="button button-block bg-medium-orange txt-putih" ng-click="sendPesan()">
                                        <label>Kirim Pesan</label>
                                </button>
                        </div>
                </div>
          </div> -->
          
  </ion-content>
</ion-view>
