<ion-view view-title="Profile Detail">
	<ion-content id="profile-content">

    <div id="profiledetail-info">
      <div class="row">
        <div class="col text-center">
            <img class="responsive img-profile" ng-src="{{user.img}}" ng-click="loadImage()">
        </div>
      </div>

      <div class="list card">
        <div class="item item-divider text-center">
          Profile
        </div>
        <a class="item item-icon-left">
          <i class="icon fa fa-user"></i>
          <strong>{{ user.name }}</strong>
        </a>
        <a class="item item-icon-left">
          <i class="icon fa fa-phone"></i>
          {{ user.phone }}
        </a>
        <a class="item item-icon-left">
          <i class="icon fa fa-envelope"></i>
          {{ user.email }}
        </a>
        <a class="item item-icon-left">
          <i class="icon fa fa-home"></i>
          {{ user.address }}
        </a>
    </div>
    <div class="btn-wrapper">
      <button class="button button-block button-danger" ng-click="showProfileDetail()">
        <i class="icon fa fa-pencil"></i>
        Edit Profile
      </button>
      <hr>
      <button class="button button-block button-danger" ng-click="showUbahPassword()">
        <i class="icon fa fa-lock"></i>
        Ubah Password
      </button>
    </div>
  </div>


  <div id="profiledetail-update" class="fade-in">
    <div class="list">
      <label class="item item-input item-stacked-label">
        <i class="icon fa fa-user"></i><span class="input-label margin-left">Nama</span>
        <input type="text" ng-model="user.name">
      </label>
      <label class="item item-input item-stacked-label">
        <i class="icon fa fa-phone"></i><span class="input-label margin-left">Phone</span>
        <input type="text" ng-model="user.phone">
      </label>
      <label class="item item-input item-stacked-label">
        <i class="icon fa fa-envelope"></i><span class="input-label margin-left">Email</span>
        <input type="text" ng-model="user.email">
      </label>
      <label class="item item-input item-stacked-label">
        <i class="icon fa fa-home"></i><span class="input-label margin-left">Alamat</span>
        <input type="text" ng-model="user.address">
      </label>
    </div>

    <div class="btn-wrapper">
      <button class="button button-block button-danger" ng-click="ubahProfileDetail()">
        <i class="icon fa fa-save"></i>
        Simpan Perubahan
      </button>
      <button class="button button-block button-danger" ng-click="cancelProfileDetail()">
        <i class="icon fa fa-close"></i>
        Cancel / Back
      </button>
    </div>
  </div>


  <div id="profiledetail-password" class="fade-in">
    <div class="list">
      <label class="item item-input item-stacked-label">
        <i class="icon fa fa-lock"></i><span class="input-label margin-left">Password Lama</span>
        <input type="password" ng-model="var.userpassold" placeholder="Password Lama">
      </label>
      <label class="item item-input item-stacked-label">
        <i class="icon fa fa-lock"></i><span class="input-label margin-left">Password Baru</span>
        <input type="password" ng-model="var.userpassnew" placeholder="Password Baru">
      </label>
      <label class="item item-input item-stacked-label">
        <i class="icon fa fa-lock"></i><span class="input-label margin-left">Konfirmasi Password</span>
        <input type="password" ng-model="var.userpassconfirm" placeholder="Konfirmasi Password">
      </label>

    </div>

    <div class="btn-wrapper">
      <button class="button button-block button-danger" ng-click="ubahPassword()">
        <i class="icon fa fa-save"></i>
        Ubah Password
      </button>
      <button class="button button-block button-danger" ng-click="cancelUbahPassword()">
        <i class="icon fa fa-close"></i>
        Cancel / Back
      </button>
    </div>
  </div>
	</ion-content>
</ion-view>
