<ion-view view-title="Profile">
	<ion-content id="profile-content">
		<div id="profile-loading-progress" class="loading-progress fade-in">
			<ion-spinner class="progress-circular"></ion-spinner>
		</div>




		<div id="profile-info" class="fade-in">
			<!--<div class="list card">
				<div class="item item-icon-left">
					<i class="icon fa fa-user"></i>
					<strong>{{ user.name }}</strong>
				</div>

				<div class="item item-icon-left">
					<i class="icon fa fa-phone"></i>
					{{ user.phone }}
				</div>

				<div class="item item-icon-left">
					<i class="icon fa fa-envelope"></i>
					{{ user.email }}
				</div>

				<div class="item item-icon-left">
					<i class="icon fa fa-home"></i>
					{{ user.address }}
				</div>
      </div>-->

      <div class="row">
        <div class="col text-center">
						<img class="responsive img-profile" ng-src="{{user.img}}" style="cursor:pointer;" >
        </div>
      </div>
      <div class="list card">
          <div class="item item-divider text-center">
            Info Profile
          </div>
          <a class="item item-icon-left" href="#/app/profiledetail">
            <i class="icon ion-person"></i>
            Profile
          </a>
          <a href="#/app/inbox" class="item item-icon-left">
            <i class="icon ion-email"></i>
            Inbox
          </a>
          <div class="item item-divider text-center">
            History
          </div>
          <div class="item item-icon-left" ng-click="toHistoryPage();">
            <i class="icon ion-clock"></i>
            History Transaksi
					</div>


      </div>

			<div class="btn-wrapper">
				<button class="button button-block button-danger" ng-click="showLogoutMenu()">
					Logout
				</button>
			</div>
		</div>

		<div id="profile-register" class="fade-in">
        <div class="row">
            <div class="col text-center txt-medium-green"><i class="fa fa-address-card fa-2x" aria-hidden="true"></i></div>
        </div>
        <div class="row">
          <div class="col text-center txt-medium-green">Register</div>
        </div>
			<div class="list margin-vertica">
				<label class="item item-input">
					<input type="text" placeholder="Username" ng-model="profile.username">
				</label>

				<label class="item item-input">
					<input type="password" placeholder="Password" ng-model="profile.password">
				</label>

				<label class="item item-input">
					<input type="password" placeholder="Ulangi Password" ng-model="profile.repassword">
				</label>

				<label class="item item-input">
					<input type="text" placeholder="Nama Lengkap" ng-model="profile.name">
				</label>

				<label class="item item-input">
					<input type="tel" placeholder="Nomor Telepon" ng-model="profile.phone">
				</label>

				<label class="item item-input">
					<input type="email" placeholder="Email" ng-model="profile.email">
				</label>

				<label class="item item-input">
					<textarea placeholder="Alamat" ng-model="profile.address"></textarea>
				</label>

				<div class="item item-input-inset">
					<label class="item-input-wrapper">
						<input type="text" placeholder="Tanggal Lahir" ng-model="profile.birthday" disabled>
					</label>

					<button class="button button-small" ng-click="openDatePicker()">
						<i class="icon ion-calendar"></i>
					</button>
				</div>
			</div>

			<div class="btn-wrapper">
				<button class="button button-block button-positive" ng-click="submitProfile()">
					Register
				</button>
			</div>

			<div class="info-wrapper">
				Sudah memiliki username? <span class="login-text" ng-click="showLogin()">Login</span>
			</div>
		</div>

		<div id="profile-login" style="margin-top:25%;">
      <div class="row">
          <div class="col text-center txt-medium-green"><i class="fa fa-lock fa-5x" aria-hidden="true"></i></div>
      </div>
      <div class="row">
        <div class="col text-center txt-medium-green">Login</div>
      </div>
			<div class="list margin-vertical">
				<label class="item item-input">
					<input type="text" placeholder="Username" ng-model="login.username">
				</label>

				<label class="item item-input">
					<input type="password" placeholder="Password" ng-model="login.password">
				</label>
      </div>

			<div class="btn-wrapper">
				<button class="button button-block button-positive" ng-click="doLogin()">
					Login
				</button>
			</div>

			<div class="info-wrapper">
				  Belum memiliki username? <span class="login-text" ng-click="showRegister()">Register</span>
      </div>
      <div class="row">
        <div class="col"><hr></div>
      </div>
      <div class="row">
        <div class="col lupa-password text-center bold"><span ng-click="showLupaPassword()">Lupa Password ?</span></div>
      </div>
    </div>

    <div id="lupa-password-container" class="fade-in" style="margin-top:25%;">
        <div class="row">
            <div class="col text-center txt-medium-green"><i class="fa fa-key fa-5x" aria-hidden="true"></i></div>
        </div>
        <div class="row">
          <div class="col text-center txt-medium-green">Reset Password</div>
        </div>
        <div class="row margin-top">
            <div class="col text-center txt-hitam">
                <label>Silahkan Isi Username Atau Email Yang Sudah Pernah Anda Daftarkan</label>
            </div>
        </div>
      <div class="list margin-vertical">
				<label class="item item-input">
					<input type="text" placeholder="Username" ng-model="login.username">
        </label>
      </div>
      <div class="btn-wrapper">
				<button class="button button-block button-positive" ng-click="resetPassword()">
					 Reset Password
        </button>
        <button class="button button-block button-negative" ng-click="cancelResetPassword()">
          Cancel / Back
       </button>
      </div>
		</div>
	</ion-content>
</ion-view>
