<ion-view view-title="Survey">
    <ion-content id="survey-content" class="fade-in">
    	<ion-refresher
			pulling-text="Pull to refresh..."
			on-refresh="doRefresh()">
		</ion-refresher>
		
		<ion-list>
			<ion-item ng-repeat="survey in surveys" class="item item-icon-left survey-list" ng-click="navigateTo('app.survey-detail', survey)">
                <i class="icon ion-android-clipboard" ng-if="survey.question_type == 'questionnaire'"></i>
                <i class="icon ion-android-star-half" ng-if="survey.question_type == 'rate'"></i>

				<span class="survey">{{ survey.question }}</span>

				<span class="item-note">
					<img src="img/chevron.svg">
				</span>
			</ion-item>
		</ion-list>
    </ion-content>

    <div id="survey-loading-progress" class="loading-progress">
        <ion-spinner class="progress-circular"></ion-spinner>
    </div>
</ion-view>