<ion-view view-title="Survey">
	<ion-content id="survey-detail-content">
		<h3>{{ survey.question }}</h3>
		
		<div ng-if="survey.question_type == 'questionnaire'">
			<ion-radio ng-repeat="option in survey.options" ng-model="data.choice" ng-value="'{{ option.value }}'">{{ option.text }}</ion-radio>
		
			<div class="btn-wrapper">
				<button class="button button-block" ng-click="submitQuestionnaire()">
					Submit
				</button>
			</div>
		</div>

		<div ng-if="survey.question_type == 'rate'">
			<div class="rating-wrapper">
				<rating ng-model="rating.rate" max="rating.max"></rating>
			</div>

			<div class="btn-wrapper">
				<button class="button button-block" ng-click="submitRate()">
					Submit
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>