<ion-content id="login-content" class="padding">
	<div id="logo">
		<img src="img/logo.svg">
		<h1><strong>Hasanah</strong> Lifestyle</h1>
	</div>
	
	<a class="google-sign-in button button-block" ng-click="googleSignIn()">Sign in with Google</a>
</ion-content>