<ion-view view-title="Hubungi Kami">
	<ion-content id="contact-wrapper">
		<div id="branch-detail-content">
			<h3>PT Bank BNI Syariah</h3>

			<div class="row">
				<div class="col-10">
					<i class="fa fa-map"></i>
				</div>

				<div class="col-90">
					<div class="address">
						Gedung Tempo Pavilion 1 Lantai 6
					</div>

					<div class="address">
						Jl. HR Rasuna Said Kav. 11 Kuningan, Jakarta 12950
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-10">
					<i class="fa fa-phone"></i>
				</div>

				<div class="col-90">
					<div class="phone">
						(62-21) 2970 1824
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-10">
					<i class="fa fa-fax"></i>
				</div>

				<div class="col-90">
					<div class="phone">
						(62-21) 2966 7947
					</div>
				</div>
			</div>
			
			<a href="geo:0,0?q=-6.2319602, 106.83245420000003">
				<button class="button button-map">Map</button>
			</a>

			<a href="tel:'+622129701824'">
				<button class="button button-call">Hubungi</button>
			</a>
		</div>
	</ion-content>
</ion-view>