.fade-in {
  display: none; }

#logo-header {
  position: absolute;
  z-index: 9999;
  top: 10px;
  left: 140px; }
  #logo-header img {
    width: 74px; }

.bar.bar-stable .title {
  color: white; }

.bar-stable .button.button-clear {
  color: white; }

.bar.bar-stable .title {
  padding-top: 32px;
  text-align: center;
  height: 68px;
  font-size: 14px;
  right: 0;
  background: url(../img/logo.svg) no-repeat;
  background-position: 50% 20%;
  background-size: 70px; }

.bar-stable #side-title {
  text-align: center; }

.bar .buttons-left span {
  margin-top: 8px; }

.bar.bar-stable {
  background: url(../img/header.png) no-repeat;
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  height: 68px; }

.loading-progress {
  top: 50%;
  position: fixed;
  left: 44%; }

.progress-circular.spinner.spinner-android svg {
  width: 52px;
  height: 52px; }

.spinner-android {
  stroke: #f96d3c; }

.has-header {
  top: 68px; }

.pin {
  display: inline-block;
  background: #fefefe;
  border: 0 solid #fafafa;
  box-shadow: 0 1px 1px rgba(34, 25, 25, 0.4);
  margin: 2px 0px 12px 0px;
  border-radius: 4px;
  column-break-inside: avoid;
  padding: 0;
  padding-bottom: 5px;
  opacity: 1;
  transition: all .2s ease;
  position: relative; }

.thumb {
  display: inline-block;
  background: #fefefe;
  border: 0 solid #fafafa;
  box-shadow: 0 1px 1px rgba(34, 25, 25, 0.4);
  margin: 2px 0px 12px 0px;
  border-radius: 4px;
  column-break-inside: avoid;
  padding: 0;
  padding-bottom: 5px;
  opacity: 1;
  transition: all .2s ease; }
  .thumb img {
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0;
    border-radius: 4px 4px 0 0; }
  .thumb div {
    margin: 0 10px 2px; }
  .thumb div .thumb-footer {
    font-size: 18px;
    font-weight: 500; }
    .thumb div .thumb-footer.text-right {
      float: right;
      background-color: #ff5252;
      border-radius: 80px;
      color: white;
      font-weight: 500;
      font-size: 11px;
      width: 40px;
      text-align: center; }
  .thumb div .thumb-desc {
    font-size: 12px;
    color: #454545; }

.yellow {
  background: #fe9529; }

.blue {
  background: #32bfdd; }

.green {
  background: #0d728d; }

.red {
  background: #e94f3f; }

.popup-buttons .button-positive {
  background: #f96d3c; }

.button.button-positive.activated {
  background: #fe9529;
  border-color: #e94f3f; }

.bar .buttons-right span {
  margin-top: 10px; }

.ionic_datepicker_popup .popup-body .selected_date_full {
  background-color: #f96d3c !important; }

.ionic_datepicker_popup .selected_date {
  background-color: #f96d3c !important; }

.ionic_datepicker_popup .today {
  border: 1px solid #f96d3c !important; }

.ionic_datepicker_popup .popup-buttons button {
  background-color: #f96d3c !important; }

ul.rating li {
  display: inline;
  border: 0px;
  background: none;
  padding: 5px 10px;
  color: #f96d3c; }

ul.rating li i {
  font-size: 30px; }

.button.destructive {
  padding: 15px;
  text-align: center; }

.info-result {
  text-align: center;
  font-size: 18px;
  color: #6e6b6b;
  margin: 10px;
  padding-bottom: 10px; }

#login-content {
  background: #f96d3c; }
  #login-content #logo {
    margin-top: 150px;
    margin-bottom: 150px;
    text-align: center; }
  #login-content h1 {
    color: white; }

#home-content a {
  text-decoration: none; }
#home-content #home-slide-box {
  height: 220px; }
  #home-content #home-slide-box .slider {
    height: 100%; }
  #home-content #home-slide-box .slider-slide {
    padding-top: 80px; }
  #home-content #home-slide-box .slider-pager {
    margin-bottom: 0px !important;
    text-align: center;
    bottom: 8px; }
  #home-content #home-slide-box .slider-pager .slider-pager-page {
    color: #67cb81;
    opacity: 1; }
  #home-content #home-slide-box .slider-pager .slider-pager-page.active {
    color: #29a94a; }
  #home-content #home-slide-box .slider-slide {
    padding-top: 0; }
    #home-content #home-slide-box .slider-slide img {
      width: 100%;
      height: 100%; }
    #home-content #home-slide-box .slider-slide h3 {
      font-size: 15px;
      font-weight: bold;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 75px;
      color: white;
      margin: 0;
      padding: 15px;
      background: linear-gradient(to bottom, rgba(0, 94, 106, 0.45), #005e6a); }
    #home-content #home-slide-box .slider-slide h5 {
      font-size: 11px;
      color: white;
      position: absolute;
      bottom: 15px;
      padding-left: 15px; }
#home-content #quick-menu-title {
  height: 22px;
  background: #035964;
  border: solid 1px rgba(255, 255, 255, 0.13);
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  text-align: center; }
#home-content #home-loading-progress {
  top: 90px;
  height: 240px;
  position: relative; }
#home-content .row {
  padding: 0; }
#home-content .col {
  padding: 0; }
#home-content .pin {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.14), 0px 2px 2px 0px rgba(0, 0, 0, 0.098), 0px 1px 5px 0px rgba(0, 0, 0, 0.084);
  border-radius: 10px;
  padding: 10px 0 0 0;
  margin: 10px;
  border-bottom: 1px solid #d8d8d8;
  width: 90%;
  height: 180px;
  text-align: center; }
  #home-content .pin h4 {
    font-weight: bold;
    font-size: 16px;
    color: #6e6b6b;
    margin-top: 0;
    margin-bottom: 3px; }
  #home-content .pin .icon {
    width: 80px; }
  #home-content .pin p {
    font-size: 10px;
    color: #6e6b6b;
    line-height: 1; }
  #home-content .pin .button-more {
    margin-top: 10px; }
#home-content .div-contact {
  padding: 15px 10px 10px; }
  #home-content .div-contact button {
    background: linear-gradient(to bottom, #f25922, #fe7849);
    color: rgba(255, 255, 255, 0.87); }

#contact-wrapper #branch-detail-content {
  padding: 20px 13px; }
  #contact-wrapper #branch-detail-content h3 {
    font-size: 16px;
    font-weight: bold;
    color: #3b3b3b; }
  #contact-wrapper #branch-detail-content .row {
    margin-top: 13px;
    white-space: normal; }
    #contact-wrapper #branch-detail-content .row i {
      font-size: 20px;
      color: #6e6b6b; }
  #contact-wrapper #branch-detail-content .address, #contact-wrapper #branch-detail-content .phone {
    font-size: 13px;
    color: #6e6b6b; }
  #contact-wrapper #branch-detail-content .button-map {
    width: 100px;
    position: absolute;
    bottom: 60px;
    right: 0;
    margin: 20px;
    background: linear-gradient(to bottom, #f25922, #fe7849);
    color: rgba(255, 255, 255, 0.87); }
  #contact-wrapper #branch-detail-content .button-call {
    width: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
    background: linear-gradient(to bottom, #f25922, #fe7849);
    color: rgba(255, 255, 255, 0.87); }

#product-category-content, #product-content {
  background: #F4F4F4; }
  #product-category-content .list, #product-content .list {
    margin: 10px; }
  #product-category-content .item, #product-content .item {
    padding: 20px 15px;
    margin-bottom: 15px;
    border: none;
    border: 0 solid #fafafa;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.14);
    border-radius: 4px; }
  #product-category-content .product-thumb img, #product-content .product-thumb img {
    width: 100%; }
  #product-category-content .product-list-content, #product-content .product-list-content {
    margin-left: 15px;
    padding-right: 20px 15px; }
    #product-category-content .product-list-content .product-name, #product-content .product-list-content .product-name {
      font-size: 14px;
      font-weight: bold;
      color: #3b3b3b;
      white-space: normal; }
    #product-category-content .product-list-content .product-desc, #product-content .product-list-content .product-desc {
      padding-top: 10px;
      color: #6e6b6b;
      font-size: 12px;
      white-space: normal;
      word-wrap: break-word;
      line-height: 1.2; }

#product-detail-wrapper {
  background: #F4F4F4;
  padding: 15px; }
  #product-detail-wrapper #product-detail-content {
    background: white;
    border-radius: 4px;
    padding: 15px;
    color: #454545;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.14);
    margin-bottom: 15px; }
    #product-detail-wrapper #product-detail-content #product-detail-header h3 {
      margin-top: 18px;
      margin-left: 10px;
      font-size: 14px;
      font-weight: bold;
      color: #3b3b3b; }
    #product-detail-wrapper #product-detail-content #product-detail-header .product-detail-thumb img {
      width: 100%; }
    #product-detail-wrapper #product-detail-content hr {
      border: none;
      height: 1px;
      color: #e8e8e8;
      background-color: #e8e8e8; }
    #product-detail-wrapper #product-detail-content #product-detail {
      padding-top: 10px;
      color: #6e6b6b; }

#branch-content .branch-list, #branch-result .branch-list {
  padding: 25px 13px; }
  #branch-content .branch-list h3, #branch-result .branch-list h3 {
    font-size: 16px;
    font-weight: bold;
    color: #3b3b3b; }
  #branch-content .branch-list .row, #branch-result .branch-list .row {
    margin-top: 13px;
    white-space: normal; }
  #branch-content .branch-list .address, #branch-content .branch-list .province, #branch-content .branch-list .phone, #branch-result .branch-list .address, #branch-result .branch-list .province, #branch-result .branch-list .phone {
    font-size: 13px;
    color: #6e6b6b; }
  #branch-content .branch-list .province, #branch-result .branch-list .province {
    text-transform: uppercase; }
  #branch-content .branch-list button, #branch-result .branch-list button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
    background: linear-gradient(to bottom, #f25922, #fe7849);
    color: rgba(255, 255, 255, 0.87); }
  #branch-content .branch-list .call, #branch-result .branch-list .call {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px; }

#branch-detail-wrapper .branch-detail-image {
  width: 100%;
  max-height: 200px; }
#branch-detail-wrapper #branch-detail-content {
  padding: 25px 13px; }
  #branch-detail-wrapper #branch-detail-content h3 {
    font-size: 16px;
    font-weight: bold;
    color: #3b3b3b; }
  #branch-detail-wrapper #branch-detail-content .row {
    margin-top: 13px;
    white-space: normal; }
  #branch-detail-wrapper #branch-detail-content .address, #branch-detail-wrapper #branch-detail-content .province, #branch-detail-wrapper #branch-detail-content .phone {
    font-size: 13px;
    color: #6e6b6b; }
  #branch-detail-wrapper #branch-detail-content .province {
    text-transform: uppercase; }
  #branch-detail-wrapper #branch-detail-content .button-map {
    width: 100px;
    position: absolute;
    bottom: 60px;
    right: 0;
    margin: 20px;
    background: linear-gradient(to bottom, #f25922, #fe7849);
    color: rgba(255, 255, 255, 0.87); }
  #branch-detail-wrapper #branch-detail-content .button-call {
    width: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
    background: linear-gradient(to bottom, #f25922, #fe7849);
    color: rgba(255, 255, 255, 0.87); }

#branch-search-content .btn-wrapper {
  padding: 10px; }
#branch-search-content .button {
  background: #f96d3c;
  color: white; }
#branch-search-content #branch-search-loading-progress {
  top: 45%; }

#merchant-content .item {
  border-color: #e8e8e8; }
#merchant-content .col-25 img {
  margin-left: 3px;
  max-width: 50px; }
#merchant-content .title {
  margin-top: 7px;
  font-size: 16px;
  font-weight: bold;
  color: #3b3b3b; }
#merchant-content .description {
  margin-top: 3px;
  font-size: 13px;
  color: #6e6b6b; }
#merchant-content .item-note {
  margin-top: 20px; }

#merchant-detail-wrapper {
  background: #F4F4F4;
  padding: 15px; }
  #merchant-detail-wrapper #merchant-detail-content {
    background: white;
    border-radius: 4px;
    padding: 15px;
    color: #454545;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 15px; }
    #merchant-detail-wrapper #merchant-detail-content #merchant-detail-header h3 {
      margin-top: 18px;
      margin-left: 10px;
      font-size: 14px;
      font-weight: bold;
      color: #3b3b3b; }
    #merchant-detail-wrapper #merchant-detail-content hr {
      border: none;
      height: 1px;
      color: #e8e8e8;
      background-color: #e8e8e8; }
    #merchant-detail-wrapper #merchant-detail-content #merchant-detail {
      padding-top: 10px;
      color: #6e6b6b; }
    #merchant-detail-wrapper #merchant-detail-content .merchant-thumb img {
      max-width: 50px; }

#umroh-content h3 {
  font-size: 14px;
  font-weight: bold;
  color: #434343; }
#umroh-content .checkbox input:checked:before, #umroh-content .checkbox input:checked + .checkbox-icon:before {
  background: #f96d3c;
  border-color: #f96d3c; }
#umroh-content .row {
  margin-top: 10px; }
  #umroh-content .row .title {
    font-size: 13px;
    color: rgba(143, 143, 143, 0.87); }
  #umroh-content .row .content {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: rgba(41, 41, 41, 0.87); }
  #umroh-content .row .separator {
    float: left;
    width: 3px;
    height: 71px;
    border-right: solid 1px #eaeaea;
    margin-right: 15px; }
  #umroh-content .row .price {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    color: #fe9529; }
#umroh-content .btn-wrapper {
  padding: 10px; }
#umroh-content .button {
  background: #f96d3c;
  color: white; }
#umroh-content .rating-wrapper {
  margin: 5px 15px 0; }
#umroh-content #umroh-loading-progress {
  top: 95%; }

#umroh-results-content h3 {
  font-size: 14px;
  font-weight: bold;
  color: #434343; }
#umroh-results-content .row {
  margin-top: 10px; }
  #umroh-results-content .row .title {
    font-size: 13px;
    color: rgba(143, 143, 143, 0.87); }
  #umroh-results-content .row .content {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: rgba(41, 41, 41, 0.87); }
  #umroh-results-content .row .separator {
    float: left;
    width: 3px;
    height: 71px;
    border-right: solid 1px #eaeaea;
    margin-right: 15px; }
  #umroh-results-content .row .price {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    color: #fe9529; }
#umroh-results-content .btn-wrapper {
  padding: 10px; }
#umroh-results-content .button {
  background: #f96d3c;
  color: white; }
#umroh-results-content .rating-wrapper {
  margin: 5px 15px 0; }

#umroh-detail-content a {
  text-decoration: none; }
#umroh-detail-content #umroh-header {
  padding: 20px 10px 0 10px; }
#umroh-detail-content h3 {
  font-size: 14px;
  font-weight: bold;
  color: #434343; }
#umroh-detail-content .row {
  margin-top: 10px; }
  #umroh-detail-content .row .title {
    font-size: 13px;
    color: rgba(143, 143, 143, 0.87); }
  #umroh-detail-content .row .content {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: rgba(41, 41, 41, 0.87); }
  #umroh-detail-content .row .separator {
    float: left;
    width: 3px;
    height: 71px;
    border-right: solid 1px #eaeaea;
    margin-right: 15px; }
  #umroh-detail-content .row .price {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    color: #fe9529; }
#umroh-detail-content hr {
  border: none;
  height: 3px;
  color: #e7e7e7;
  background-color: #e7e7e7; }
#umroh-detail-content #umroh-detail {
  padding: 10px 20px 10px 20px;
  font-size: 14px;
  color: #717171; }
#umroh-detail-content .btn-wrapper {
  padding: 10px; }
#umroh-detail-content .button-positive {
  background: #f96d3c;
  color: white; }

#property-content .btn-wrapper, #property-results-content .btn-wrapper {
  padding: 10px; }
#property-content .button, #property-results-content .button {
  background: #f96d3c;
  color: white; }
#property-content #property-loading-progress, #property-results-content #property-loading-progress {
  top: 85%; }
#property-content #property-result a, #property-results-content #property-result a {
  text-decoration: none; }
#property-content #property-result .item, #property-results-content #property-result .item {
  padding: 0; }
#property-content #property-result .property-thumb, #property-results-content #property-result .property-thumb {
  position: relative;
  height: 240px; }
  #property-content #property-result .property-thumb img, #property-results-content #property-result .property-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  #property-content #property-result .property-thumb .row, #property-results-content #property-result .property-thumb .row {
    padding: 20px;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(73, 73, 73, 0), rgba(0, 0, 0, 0.76)); }
  #property-content #property-result .property-thumb .property-title, #property-results-content #property-result .property-thumb .property-title {
    font-size: 14px;
    font-weight: 600;
    color: white; }
  #property-content #property-result .property-thumb .property-price, #property-results-content #property-result .property-thumb .property-price {
    font-size: 18px;
    font-weight: bold;
    color: #32bfdd; }
  #property-content #property-result .property-thumb .property-city, #property-results-content #property-result .property-thumb .property-city {
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.87); }
#property-content #property-result .property-footer, #property-results-content #property-result .property-footer {
  padding: 15px; }
  #property-content #property-result .property-footer .property-name, #property-results-content #property-result .property-footer .property-name {
    font-size: 14px;
    font-weight: bold;
    color: #434343; }
  #property-content #property-result .property-footer .property-date, #property-results-content #property-result .property-footer .property-date {
    font-size: 13px;
    font-weight: 600;
    color: rgba(143, 143, 143, 0.87); }
  #property-content #property-result .property-footer .property-address, #property-results-content #property-result .property-footer .property-address {
    font-size: 13px;
    font-weight: 600;
    color: rgba(143, 143, 143, 0.87);
    display: inline-block;
    overflow-wrap: break-word;
    word-wrap: break-word; }
  #property-content #property-result .property-footer .property-button, #property-results-content #property-result .property-footer .property-button {
    margin-top: 20px; }

#property-detail-content .property-thumb {
  position: relative;
  height: 240px; }
  #property-detail-content .property-thumb #property-slide-box {
    height: 240px; }
    #property-detail-content .property-thumb #property-slide-box .slider {
      height: 100%; }
    #property-detail-content .property-thumb #property-slide-box .slider-slide {
      padding-top: 80px; }
    #property-detail-content .property-thumb #property-slide-box .slider-pager {
      margin-bottom: 0px !important;
      text-align: right;
      bottom: 8px;
      right: 10px; }
    #property-detail-content .property-thumb #property-slide-box .slider-pager .slider-pager-page {
      color: #FFF;
      opacity: 1; }
    #property-detail-content .property-thumb #property-slide-box .slider-pager .slider-pager-page.active {
      color: #f25822; }
    #property-detail-content .property-thumb #property-slide-box .slider-slide {
      padding-top: 0; }
      #property-detail-content .property-thumb #property-slide-box .slider-slide img {
        width: 100%;
        height: 100%; }
  #property-detail-content .property-thumb .row {
    padding: 20px;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(73, 73, 73, 0), rgba(0, 0, 0, 0.76)); }
  #property-detail-content .property-thumb .property-title {
    font-size: 14px;
    font-weight: 600;
    color: white; }
  #property-detail-content .property-thumb .property-price {
    font-size: 18px;
    font-weight: bold;
    color: #32bfdd; }
  #property-detail-content .property-thumb .property-city {
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.87); }
#property-detail-content .property-detail {
  padding: 15px;
  color: #434343; }
  #property-detail-content .property-detail a {
    text-decoration: none; }
  #property-detail-content .property-detail .property-name {
    font-size: 14px;
    font-weight: bold;
    color: #434343; }
  #property-detail-content .property-detail .property-date {
    font-size: 13px;
    font-weight: 600;
    color: rgba(143, 143, 143, 0.87); }
  #property-detail-content .property-detail #property-info {
    margin-top: 20px; }
  #property-detail-content .property-detail .button-positive {
    background: #f96d3c;
    color: white; }

#calculator-content .btn-wrapper {
  padding: 10px;
  text-align: center;
  color: #6e6b6b; }
#calculator-content .button {
  background: #f96d3c;
  color: white; }

#filing-content .btn-wrapper, #register-content .btn-wrapper {
  padding: 10px; }
#filing-content .button, #register-content .button {
  background: #f96d3c;
  color: white; }
#filing-content .item-content, #register-content .item-content {
  white-space: normal; }
#filing-content .info-wrapper, #register-content .info-wrapper {
  color: #6e6b6b;
  text-align: center;
  margin-bottom: 30px; }
#filing-content .login-text, #register-content .login-text {
  color: #f96d3c;
  font-weight: bold; }

#article-content {
  background: #F4F4F4; }
  #article-content .list {
    margin: 10px; }
  #article-content .item {
    padding: 10px;
    border: none;
    border: 0 solid #fafafa;
    box-shadow: 0 1px 1px rgba(34, 25, 25, 0.4);
    border-radius: 4px; }
  #article-content .category-thumb img {
    width: 100%; }
  #article-content .category-list-content {
    margin-left: 15px;
    padding-right: 15px; }
    #article-content .category-list-content .category-name {
      font-size: 18px;
      font-weight: bold; }
    #article-content .category-list-content hr {
      border: none;
      height: 1px;
      color: #f96d3c;
      background-color: #f96d3c; }
    #article-content .category-list-content .category-desc {
      color: gray;
      font-size: 10pt;
      white-space: normal;
      word-wrap: break-word;
      line-height: 1; }

#subcategory-content {
  background: #F4F4F4; }
  #subcategory-content .list {
    margin: 10px; }
  #subcategory-content .item {
    padding: 10px;
    border: none;
    border: 0 solid #fafafa;
    box-shadow: 0 1px 1px rgba(34, 25, 25, 0.4);
    border-radius: 4px; }
  #subcategory-content .subcategory-thumb img {
    width: 100%; }
  #subcategory-content .subcategory-list-content {
    margin-left: 15px;
    padding-right: 15px; }
    #subcategory-content .subcategory-list-content .subcategory-name {
      font-size: 18px;
      font-weight: bold; }
    #subcategory-content .subcategory-list-content hr {
      border: none;
      height: 1px;
      color: #f96d3c;
      background-color: #f96d3c; }
    #subcategory-content .subcategory-list-content .subcategory-desc {
      color: gray;
      font-size: 10pt;
      white-space: normal;
      word-wrap: break-word;
      line-height: 1; }

#article-list-content .article-list {
  padding: 10px 10px 0 10px; }
#article-list-content .article-thumb img {
  width: 100%; }
#article-list-content .article-list-content {
  padding: 0 10px 10px 10px;
  white-space: normal;
  word-wrap: break-word; }
  #article-list-content .article-list-content .article-name {
    font-weight: bold;
    display: block;
    font-size: 18px; }
  #article-list-content .article-list-content .article-desc {
    display: block;
    font-size: 12px;
    line-height: normal;
    white-space: normal;
    word-wrap: break-word; }
  #article-list-content .article-list-content .article-time {
    color: gray;
    font-size: 12px; }

#article-detail-content img {
  width: 100%;
  max-height: 220px; }
#article-detail-content .article-content {
  padding: 10px;
  color: #3b3b3b; }

#term-content {
  color: #3b3b3b; }

#term-detail-wrapper {
  background: #F4F4F4;
  padding: 15px; }
  #term-detail-wrapper #term-detail-content {
    background: white;
    border-radius: 4px;
    padding: 15px;
    color: #454545;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 15px; }
    #term-detail-wrapper #term-detail-content h3 {
      font-size: 18px;
      font-weight: bold;
      color: #3b3b3b; }
    #term-detail-wrapper #term-detail-content hr {
      border: none;
      height: 1px;
      color: #e8e8e8;
      background-color: #e8e8e8; }
    #term-detail-wrapper #term-detail-content #term-detail {
      padding-top: 10px;
      color: #6e6b6b; }

#promo-content #promo-list .item {
  padding: 10px; }
#promo-content #promo-list .promo-thumb {
  position: relative;
  height: 200px; }
  #promo-content #promo-list .promo-thumb img {
    width: 100%;
    height: 100%;
    object-fit: contain; }
#promo-content #promo-list h3 {
  margin-top: 10px;
  color: #3b3b3b; }

#promo-detail-content #promo-header {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.14), 0px 2px 2px 0px rgba(0, 0, 0, 0.098), 0px 1px 5px 0px rgba(0, 0, 0, 0.084);
  height: 200px; }
#promo-detail-content img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px; }
#promo-detail-content #promo-detail {
  padding: 20px;
  color: #6e6b6b; }

#survey-content {
  color: #3b3b3b; }

#survey-detail-content {
  color: #3b3b3b; }
  #survey-detail-content h3 {
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: #3b3b3b; }
  #survey-detail-content .rating-wrapper {
    text-align: center; }
  #survey-detail-content .btn-wrapper {
    padding: 10px; }
  #survey-detail-content .button {
    background: #f96d3c;
    color: white; }

#suggestion-content .btn-wrapper {
  padding: 10px; }
#suggestion-content .button {
  background: #f96d3c;
  color: white; }

#profile-content .btn-wrapper {
  padding: 10px; }
#profile-content .info-wrapper {
  color: #6e6b6b;
  text-align: center; }
#profile-content .login-text {
  color: #f96d3c;
  font-weight: bold; }
#profile-content .button {
  background: #f96d3c;
  color: white; }
#profile-content .button-danger {
  background: #dd4b39;
  color: white; }

.lupa-password{
  font-size: 0.8rem;
  color:#f96d3c;
}
.text-center{
  text-align:center;
}

.bold{
  font-weight: bold;
}

/*
  hijauBNI :  #369226,
  BNIDarkOrage : #fe660d,
  BNIMediumOrange : #ffa814,
  BNILightOrange : #fee395,
  BNIDarkAqua : #002f30,
  BNIMediumAqua : #009092,
  BNILightAqua : #b3e2da,
  BNIDarkBlue : #0c479d,
  BNIMediumBlue : #2584bb,
  BNILightBlue : #87bbd9,
  BNIDarkGreen : #18481d,
  BNIMediumGreen : #369226,
  BNILightGreen : #d1ec86,
  BNIDarkGray : #66573e,
  BNIMediumGray: #b2a398,
  BNILightGray : #e2d6cf,
*/

.txt-dark-orange{
    color : #fe660d;
}

.txt-medium-orange{
    color: #fe660d;
}

.txt-light-orange{
    color: #fee395;
}

.txt-dark-aqua{
    color: #002f30;
}

.txt-medium-aqua{
    color: #009092;
}

.txt-light-aqua{
    color: #b3e2da;
}

.txt-dark-blue{
    color: #0c479d;
}

.txt-medium-blue{
    color: #2584bb;
}

.txt-light-blue{
    color: #87bbd9;
}

.txt-dark-green{
    color: #18481d;
}

.txt-medium-green{
    color: #369226;
}

.txt-light-green{
    color: #d1ec86;
}

.txt-dark-grey{
    color: #66573e;
}

.txt-medium-grey{
    color: #b2a398;
}

.txt-light-grey{
    color: #e2d6cf;
}

.txt-putih{
    color: white;
}

.txt-hitam{
    color: black;
}


.bg-dark-orange{
  background-color : #fe660d;
}

.bg-medium-orange{
  background-color: #fe660d;
}

.bg-light-orange{
  background-color: #fee395;
}

.bg-dark-aqua{
  background-color: #002f30;
}

.bg-medium-aqua{
  background-color: #009092;
}

.bg-light-aqua{
  background-color: #b3e2da;
}

.bg-dark-blue{
  background-color: #0c479d;
}

.bg-medium-blue{
  background-color: #2584bb;
}

.bg-light-blue{
  background-color: #87bbd9;
}

.bg-dark-green{
  background-color: #18481d;
}

.bg-medium-green{
  background-color: #369226;
}

.bg-light-green{
  background-color: #d1ec86;
}

.bg-dark-grey{
  background-color: #66573e;
}

.bg-medium-grey{
  background-color: #b2a398;
}

.bg-light-grey{
  background-color: #e2d6cf;
}

.bg-putih{
  background-color: white;
}

.bg-hitam{
  background-color: black;
}

.bg-hijau{
  background-color: #33AB52;
}

.margin-top{
  margin-top: 10px;
}

.margin-bottom{
  margin-bottom: 10px;
}

.margin-left{
  margin-left: 10px;
}

.margin-right{
  margin-right: 10px;
}

.margin-vertical{
  margin-top:10px;
  margin-bottom: 10px;
}

.margin-horizontal{
  margin-right: 10px;
  margin-left: 10px;
}



.text-right{
  text-align: right;
}

.menu-item{
  border-bottom: 1px solid #dedede;
  padding:10px 0px 10px!important;
  cursor: pointer;
}
.link-menu{
  color:black;
  text-decoration: none;
}

.img-profile{
    border-radius: 50%;
    border: 1px solid #009092;
    height: 100px;
    width : 100px;
}

.no-padding{
  padding:0;
}

.padding-all{
  padding:10px;
}

.overme {
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}

.tab-history{
  background-color: #33AB52!important;
  margin-top:20px;
}


.tabs-top > .tabs
{
  margin-top: 24px;
  background-color: #33AB52!important;
}

.bg-header
{
  background-color: #33AB52!important;
}

.link-header{
  text-decoration: none;
}

ion-segment-button.segment-button {
  display: inline-block!important;
  min-width: 100px!important;
  width: auto!important;
}

#status-buttons                 {  }
#status-buttons a               { color:#FFF; display:inline-block; font-size:12px; margin-right:10px; text-align:center; text-transform:uppercase; }
#status-buttons a:hover         { text-decoration:none; }

/* we will style the span as the circled number */
#status-buttons span            { background:#080808; display:block; height:30px; margin:0 auto 10px; padding-top:5px; width:30px;
    border-radius:50%; }

/* active buttons turn light green-blue*/
#status-buttons a.active span   { background:#00BC8C; }


.strip{
  opacity: 0.7;
}

.bg-header .row .col .active{
    font-weight: bold;
    opacity:1;
}

.bg-header .row .col .not-active{
    font-weight: normal;
    opacity:0.7
}

.animate-if {

}

.animate-if.ng-enter, .animate-if.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}

.item-select .label-select{
    width:100%;
}

.form-number{
    border: 1px solid #000;
    width: 100%;
    padding:10px;
}


.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.no-margin{
  margin:0;
}
/*# sourceMappingURL=style.css.map */
