<ion-view view-title="{{ property.name }}">
	<ion-content id="property-detail-content">
		<div id="property-detail-loading-progress" class="loading-progress">
	        <ion-spinner class="progress-circular"></ion-spinner>
	    </div>
		
		<div id="property-detail" class="fade-in">
			<div class="property-thumb">
				<!-- <img ng-src="{{ property.img }}"> -->
				<ion-slide-box id="property-slide-box" auto-play="true" slide-interval="7000" does-continue="true">
		    		<ion-slide ng-repeat="slide in property.img">
		                <img ng-src="{{ baseUrl + slide }}">
		    		</ion-slide>
		    	</ion-slide-box>

				<div class="row">
					<div class="col-50">
						<div class="property-title">
							Harga
						</div>

						<div class="property-price" ng-if="property.price_billion">
							Rp. {{ property.price_billion }} Milyar
						</div>

						<div class="property-price" ng-if="property.price_million">
							Rp. {{ property.price_million }} Juta
						</div>
					</div>

					<div class="col-50">
						<div class="property-title">
							Kota
						</div>

						<div class="property-city">
							{{ property.city }}
						</div>
					</div>
				</div>
			</div>

			<div class="property-detail">
				<div class="property-name">
					{{ property.name }}
				</div>

				<div class="property-date" ng-if="property.auction_date_">
					Tanggal Lelang : {{ property.auction_date_ }}
				</div>

				<div id="property-info" ng-bind-html="property.info"></div>
				
				<br>

				<div class="btn-wrapper">
					<a href="geo:0,0?q={{ property.location }}">
						<button class="button button-block button-positive">Map</button>
					</a>

					<button class="button button-block button-positive" ng-click="navigateTo('app.property-register', property)">
						Beli
					</button>
					
					<button class="button button-block button-positive" ng-click="navigateTo('app.property-filing', property)">
						Ajukan Pembiayaan
					</button>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>