<ion-view view-title="Properti">
    <ion-content id="property-content" class="fade-in">
    	<ion-refresher
			pulling-text="Pull to refresh..."
			on-refresh="doRefresh()">
		</ion-refresher>
		
		<ion-list>
			<ion-item ng-repeat="property in properties" class="property-list" ng-click="navigateTo('app.property-detail', property)">
				<div class="property-thumb">
					<img ng-src="{{ property.img }}">

					<div class="row">
						<div class="col-50">
							<div class="property-title">
								Harga
							</div>

							<div class="property-price">
								Rp. {{ property.price_billion }} Milyar
							</div>
						</div>

						<div class="col-50">
							<div class="property-title">
								Kota
							</div>

							<div class="property-city">
								{{ property.city }}
							</div>
						</div>
					</div>
				</div>

				<div class="property-footer">
					<div class="property-name">
						{{ property.name }}
					</div>

					<div class="property-date">
						Tanggal Lelang : {{ property.auction_date_ }}
					</div>
				</div>
			</ion-item>
		</ion-list>
    </ion-content>

    <div id="property-loading-progress" class="loading-progress">
        <ion-spinner class="progress-circular"></ion-spinner>
    </div>
</ion-view>