<ion-view view-title="Hasil Pencarian Property">
    <ion-content id="property-results-content">
    	<ion-list id="property-result">
			<!-- <div class="info-result">
				{{ info }}
			</div> -->
			
			<ion-item ng-repeat="property in properties" class="property-list" ng-click="navigateTo('app.property-detail', property)">
				<div class="property-thumb">
					<img ng-src="{{ baseUrl + property.img[0] }}">

					<div class="row">
						<div class="col-50">
							<div class="property-title">
								Harga
							</div>

							<div class="property-price" ng-if="property.price_billion">
								Rp. {{ property.price_billion }} Milyar
							</div>

							<div class="property-price" ng-if="property.price_million">
								Rp. {{ property.price_million }} Juta
							</div>
						</div>

						<div class="col-50">
							<div class="property-title">
								Kota
							</div>

							<div class="property-city">
								{{ property.city }}
							</div>
						</div>
					</div>
				</div>

				<div class="property-footer">
					<div class="property-name">
						{{ property.name }}
					</div>

					<div class="property-date" ng-if="property.auction_date_">
						Tanggal Lelang : {{ property.auction_date_ }}
					</div>

					<div class="property-address" ng-if="property.address">
						{{ property.address }}
					</div>

					<div class="property-button">
						<a href="geo:0,0?q={{ property.location }}">
							<button class="button button-block button-positive">Map</button>
						</a>
					</div>
				</div>
			</ion-item>
		</ion-list>

		<ion-infinite-scroll ng-if="!noMoreProperty" on-infinite="loadMoreProperties()" distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>