<ion-view view-title="Beli Property">
	<ion-content id="register-content">
		<div id="property-register-loading-progress" class="loading-progress">
			<ion-spinner class="progress-circular"></ion-spinner>
		</div>

		<div id="register-form" class="fade-in">
			<div class="list">
				<label class="item item-input">
					<input type="text" placeholder="Jenis Produk" ng-model="property.name" disabled>
				</label>

				<label class="item item-input">
					<input type="text" placeholder="Nama Lengkap" ng-model="register.name">
				</label>

				<label class="item item-input">
					<textarea placeholder="Alamat Sesuai KTP" ng-model="register.address"></textarea>
				</label>

				<label class="item item-input item-select">
					<div class="input-label">
						Jenis Kelamin
					</div>
					
					<select ng-model="register.gender" ng-options="gender.value as gender.label for gender in genders"></select>
				</label>

				<label class="item item-input">
					<input type="tel" placeholder="Nomor Handphone" ng-model="register.phone">
				</label>

				<label class="item item-input item-select">
					<div class="input-label">
						Cabang Terdekat
					</div>
					
					<select ng-model="register.nearest_branch" ng-options="branch.value as branch.label for branch in branchs"></select>
				</label>
			</div>

			<div class="btn-wrapper">
				<button class="button button-block" ng-click="submitRegister()">
					Submit
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>