<ion-view view-title="Pencarian Properti">
    <ion-content id="property-content">
		<div class="list">
			<!-- <label class="item item-input item-stacked-label">
				<span class="input-label">Lokasi</span>
				<input type="text" placeholder="Input Lokasi" ng-model="search.location">
			</label> -->

			<label class="item item-input item-select">
				<div class="input-label">
					Kota
				</div>
				
				<select ng-model="search.location" ng-options="city.value as city.label for city in cities"></select>
			</label>

			<label class="item item-input item-stacked-label">
				<span class="input-label">Harga</span>

				<span class="row">
					<span class="col">
						<input type="number" placeholder="Min" ng-model="search.min_price">
					</span>

					<span class="col col-10">
						-
					</span>

					<span class="col">
						<input type="number" placeholder="Max" ng-model="search.max_price">
					</span>
				</span>
			</label>

			<label class="item item-input item-stacked-label">
				<span class="input-label">Luas Tanah</span>

				<span class="row">
					<span class="col">
						<input type="number" placeholder="Min" ng-model="search.min_surface_area">
					</span>

					<span class="col col-10">
						-
					</span>

					<span class="col">
						<input type="number" placeholder="Max" ng-model="search.max_surface_area">
					</span>
				</span>
			</label>

			<label class="item item-input item-stacked-label">
				<span class="input-label">Luas Bangunan</span>

				<span class="row">
					<span class="col">
						<input type="number" placeholder="Min" ng-model="search.min_building_area">
					</span>

					<span class="col col-10">
						-
					</span>

					<span class="col">
						<input type="number" placeholder="Max" ng-model="search.max_building_area">
					</span>
				</span>
			</label>
		</div>

		<div class="btn-wrapper">
			<button class="button button-block" ng-click="searchProperty()">
				Cari
			</button>
		</div>

		<div id="property-loading-progress" class="loading-progress fade-in">
	        <ion-spinner class="progress-circular"></ion-spinner>
	    </div>

		<!-- <ion-list id="property-result" class="fade-in">
			<div class="info-result">
				{{ info }}
			</div>
			
			<ion-item ng-repeat="property in results" class="property-list" ng-click="navigateTo('app.property-detail', property)">
				<div class="property-thumb">
					<img ng-src="data:image/jpg;base64,{{ property.img[0] }}">

					<div class="row">
						<div class="col-50">
							<div class="property-title">
								Harga
							</div>

							<div class="property-price" ng-if="property.price_billion">
								Rp. {{ property.price_billion }} Milyar
							</div>

							<div class="property-price" ng-if="property.price_million">
								Rp. {{ property.price_million }} Juta
							</div>
						</div>

						<div class="col-50">
							<div class="property-title">
								Kota
							</div>

							<div class="property-city">
								{{ property.city }}
							</div>
						</div>
					</div>
				</div>

				<div class="property-footer">
					<div class="property-name">
						{{ property.name }}
					</div>

					<div class="property-date" ng-if="property.auction_date_">
						Tanggal Lelang : {{ property.auction_date_ }}
					</div>

					<div class="property-address" ng-if="property.address">
						{{ property.address }}
					</div>

					<div class="property-button">
						<a href="geo:0,0?q={{ property.location }}">
							<button class="button button-block button-positive">Map</button>
						</a>
					</div>
				</div>
			</ion-item>
		</ion-list> -->
    </ion-content>
</ion-view>